In [1]:
import pandas as pd

import os

import sys
sys.path.append('../src')
from scrape_transform_save import *

In [194]:

# #PRIMERO TABLA DE CATEGORÍAS:

categorias = ['Esperanza de vida',
            'Morbilidad',
            'Mortalidad',
            'Estilo de Vida',]

categoría_dicc = {'Categoría': categorias,
            'Categoría_ID': [i for i in range(1,len(categorias)+1)]}

Categoría = pd.DataFrame(categoría_dicc)


Categoría.to_csv('../data/processed/Categoría.csv')

In [108]:
# SEGUNDO TABLA DE INDICADORES:

#OBTENEMOS NOMBRES DE INDICADORES DE LOS TÍTULOS DE LOS ARCHIVOS:

indicadores = []

for archivo in os.listdir('../data/raw'):
        
        if archivo.endswith('.xls'):
            
                file = os.path.join('../data/raw', archivo)
                
                indicadores.append((file.replace('.xls', '').replace('../data/raw\\','').replace('Anos','Años').replace('anos','años').replace('_',' ')))

In [109]:

indicadores_por_categoría = {'Esperanza de Vida': ['Años de vida saludable al nacer','Años de vida saludable a los 65 años','Esperanza de vida al nacer','Esperanza de vida a los 65 años','Indice de calidad de vida infantil relacionada con la salud'],
                            'Morbilidad': [ 'Incidencia de nuevos diagnósticos de VIH',
                                            'Incidencia de tuberculosis por 100,000 hab',
                                            'Prevalencia registrada de cardiopatía isquémica en población de 40 y más años',
                                            'Prevalencia registrada de diabetes mellitus en población general',
                                            'Prevalencia registrada de EPOC en población de 40 y más años',
                                            'Prevalencia registrada de hipertensión arterial en población general',
                                            'Prevalencia registrada de síndromes dolorosos de columna vertebral en población general',
                                            'Prevalencia registrada de trastornos mentales en población general',
                                            'Tasa ajustada de hospitalización por asma por 10,000 hab',
                                            'Tasa ajustada de hospitalización por diabetes mellitus por 10,000 hab',
                                            'Tasa ajustada de hospitalización por enfermedades cerebrovasculares por 10,000 hab',
                                            'Tasa ajustada de hospitalización por enfermedad hipertensiva por 10,000 hab',
                                            'Tasa ajustada de hospitalización por EPOC por 10,000 hab',
                                            'Tasa ajustada de hospitalización por infarto agudo de miocardio por 10,000 hab',
                                            'Tasa ajustada de hospitalización por Insuficiencia cardiaca congestiva por 10,000 hab',
                                            'Tasa bruta de hospitalización por enfermedades cerebrovasculares por 10,000 hab',
                                            'Tasa bruta de hospitalización por infarto agudo de miocardio por 10,000 hab',
                                            'Tasa de mortalidad ajustada por edad por cancer por 100,000 hab',
                                            'Porcentaje de recién nacidos a término con bajo peso',
                                            'Incidencia de accidentes de trabajo'],
                                'Mortalidad': ['Número de victimas mortales de accidentes de tráfico',
                                            'Numero de victimas no mortales de accidente de trafico',
                                            'Tasa bruta de hospitalización por enfermedades cerebrovasculares por 10,000 hab',
                                            'Tasa bruta de hospitalización por infarto agudo de miocardio por 10,000 hab',
                                            'Tasa de mortalidad ajustada por edad por enfermedad pulmonar obstructiva cronica por 100,000 hab',
                                            'Tasa de mortalidad ajustada por edad por neumonia e influenza por 100,000 hab',
                                            'Tasa de mortalidad ajustada por edad por suicidio por 100,000 hab',
                                            'Tasa de natalidad por 1000 habitantes',
                                            'Tasa de mortalidad ajustada por edad por cancer por 100,000 hab',
                                            'Tasa de mortalidad ajustada por edad por cardiopatia isquemica por 100,000 hab',
                                            'Tasa de mortalidad ajustada por edad por diabetes mellitus por 100,000 hab',
                                            'Tasa de mortalidad ajustada por edad por enfermedad cerebrovascular por 100,000 hab',
                                            'Tasa de mortalidad ajustada por edad por enfermedad cronica del higado por 100,000 hab',
                                            'Tasa de mortalidad ajustada por edad por enfermedad pulmonar obstructiva cronica por 100,000 hab',
                                            'Tasa de mortalidad ajustada por edad por neumonia e influenza por 100,000 hab',
                                            'Tasa de mortalidad ajustada por edad por suicidio por 100,000 hab',
                                            'Tasa de mortalidad prematura por cáncer ajustada por edad por 100,000 hab',
                                            'Tasa de mortalidad prematura por diabetes mellitus ajustada por edad por 100,000 hab',
                                            'Tasa de mortalidad prematura por enfermedad vascular cerebral ajustada por edad por 100,000 hab',
                                            'Tasa de mortalidad prematura por EPOC ajustada por edad por 100,000 hab',
                                            'Tasa de mortalidad prematura por cardiopatia isquemica ajustada por edad por 100 000 hab',
                                            'Tasa de mortalidad infantil por 1000 nacidos vivos'],
                                'Estilo de Vida': [ 'Consumo diario de frutas yo verduras en adultos',
                                            'Prevalencia de consumo de tabaco en población adulta',
                                            'Prevalencia de consumo diario de tabaco en jóvenes',
                                            'Prevalencia de obesidad en población de 18 y más años',
                                            'Prevalencia de obesidad en población infantil',
                                            'Prevalencia de sedentarismo en jóvenes',
                                            'Prevalencia de sedentarismo en población adulta',
                                            'Consumo diario de frutas yo verduras en jovenes',
                                            'Consumo intensivo de alcohol al menos una vez al mes en los ultimos 12 meses en jóvenes',
                                            'Porcentaje de bebedores de riesgo de alcohol',
                                            'Porcentaje de consumidores de cannabis en escolares adolescentes de 14 a 18 años',
                                            'Porcentaje de la población que recibe suministro con Cobertura del Sistema Nacional de Aguas de Consumo',
                                            'Porcentaje de la población que declara escasez de zonas verdes en el entorno de su vivienda',
                                            'Porcentaje de la población que declara que el ruido procedente del exterior de su vivienda es molesto',
                                            'Porcentaje de población adulta en riesgo de mala salud mental',
                                            'Porcentaje de población con valoración positiva de su estado de salud',
                                            'Porcentaje de población de 65 años y más años con valoración positiva de su estado de salud',
                                            'Porcentaje de población de clase social baja',
                                            'Porcentaje de poblacion que recibe suministro con Cobertura del Sistema Nacional de Aguas de Consumo',
                                            'Proporcion de poblacion de 25 a 64 años con nivel de estudios de 1 Etapa de educacion secundaria o inferior',
                                            'Tasa de desempleo en menores de 25 años',
                                            'Tasa de desempleo total',
                                            'Dificultad para la movilidad en 65 y mas años',
                                            'Deterioro cognitivo en 65 y mas años',
                                            'Indice de dependencia en 65 y mas años',
                                            'Indice de dependencia',
                                            'Indice de dependencia juvenil',
                                            'Ingresos medios por persona euros',
                                            'Tasa de riesgo de pobreza indicador AROPE',
                                            'Tasa de riesgo de pobreza indicador AROPE',
                                            'Limitacion para la realizacion de actividades relacionadas con el hogar en 65 y mas años']}

In [110]:
indicadores_por_categoría2 = {}

for key, values in indicadores_por_categoría.items():
    new_values = []
    for value in values:
        new_value = value.replace('Anos', 'años').replace('anos', 'años').replace('á', 'a').replace('é', 'e').replace('í', 'i').replace('ó', 'o').replace('ú', 'u').replace(',',' ')
        new_values.append(new_value)
    indicadores_por_categoría2[key] = new_values

In [197]:
Indicadores = pd.DataFrame({'Indicadores_ID':[i for i in range(1,len(indicadores)+1)],'Indicadores':indicadores})

In [198]:
diccionario_inverso = {indicador: categoria for categoria,
                       indicadores in indicadores_por_categoría2.items() for indicador in indicadores}

Indicadores['Categoría_ID'] = Indicadores['Indicadores'].map(diccionario_inverso)

In [199]:
Indicadores

,Indicadores_ID,Indicadores,Categoría_ID
0,1,Años de vida saludable al nacer,Esperanza de Vida
1,2,Años de vida saludable a los 65 años,Esperanza de Vida
2,3,Consumo diario de frutas yo verduras en adultos,Estilo de Vida
3,4,Consumo diario de frutas yo verduras en jovenes,Estilo de Vida
4,5,Consumo intensivo de alcohol al menos una vez ...,Estilo de Vida
...,...,...,...
65,66,Tasa de mortalidad prematura por diabetes mell...,Mortalidad
66,67,Tasa de mortalidad prematura por enfermedad va...,Mortalidad
67,68,Tasa de mortalidad prematura por EPOC ajustada...,Mortalidad
68,69,Tasa de natalidad por 1000 habitantes,Mortalidad
69,70,Tasa de riesgo de pobreza indicador AROPE,Estilo de Vida

In [200]:
diccionario_inverso2 = {'Esperanza de Vida': '1',
 'Morbilidad': '2',
 'Mortalidad': '3',
 'Estilo de Vida': '4'}

Indicadores['Categoría_ID'] = Indicadores['Categoría_ID'].map(diccionario_inverso2)

Indicadores.to_csv('../data/processed/Indicadores.csv')

In [213]:
#Creamos la tabla de Region_ID

region = df.Region.unique()

comunidades_dict = {ccaa: i+1 for i, ccaa in enumerate(region)}

comunidades_dict = {'España (ES)': 1, 
    'Andalucía (AN)': 2,
    'Aragón (AR)': 3,
    'Asturias, Principado de (AS)': 4,
    'Balears, Illes (IB)': 5,
    'Canarias (CN)': 6,
    'Cantabria (CB)': 7,
    'Castilla y León (CL)': 8,
    'Castilla - La Mancha (CM)': 9,
    'Cataluña (CT)': 10,
    'Comunitat Valenciana (VC)': 11,
    'Extremadura (EX)': 12,
    'Galicia (GA)': 13,
    'Madrid, Comunidad de (MD)': 14,
    'Murcia, Región de (MC)': 15,
    'Navarra, C. Foral de (NC)': 16,
    'País Vasco (PV)': 17,
    'La Rioja (RI)': 18,
    'Ceuta (CE)': 19,
    'Melilla (ML)': 20}

Region = pd.DataFrame(list(comunidades_dict.items()), columns=['Region', 'Region_ID'])
id.to_csv('../data/processed/Region.csv', index=False)

In [214]:
# CREAMOS TABLA DE DATOS/VALORES:

tabla = pd.read_excel('../data/raw/Anos_de_vida_saludable_a_los_65_anos.xls')

tabla = clean_columns(tabla)

tabla = create_df(tabla)

# VALE AHORA TENGO QUE HACER LO QUE SE HACE CON YEAR CON GÉNERO:

In [210]:
df = tabla

# Primero, cambiamos el formato del dataframe a uno más largo
df_largo = df.melt(id_vars=['Region', 'Año'], value_vars=['Hombre', 'Mujer'], var_name='Genero', value_name='Valores')

# melt, coge Region y Año y los mantiene y Hombre y Mujer los 'derrite' para unificarlos con las columnas que mantenemos 💞

# Ahora, tengo las columnas Region, Año,Género y valores Ok. Queda añadir Dato_ID,Indicador_ID y Region_ID

In [211]:
df_largo

                           Region   Año  Genero Valores
0                     España (ES)  2018  Hombre   17.31
1                  Andalucía (AN)  2018  Hombre   15.55
2                     Aragón (AR)  2018  Hombre   18.73
3    Asturias, Principado de (AS)  2018  Hombre   16.91
4             Balears, Illes (IB)  2018  Hombre   18.55
..                            ...   ...     ...     ...
195     Navarra, C. Foral de (NC)  2021   Mujer   21.79
196               País Vasco (PV)  2021   Mujer   20.28
197                 La Rioja (RI)  2021   Mujer   19.74
198                    Ceuta (CE)  2021   Mujer   12.85
199                  Melilla (ML)  2021   Mujer   12.85

[200 rows x 4 columns]

In [223]:
def create_df(df):
    
    # Verifica si alguna de las columnas contiene la palabra 'Hombre' para localizar los df diferentes:
    
    if all('Hombre' not in col for col in df.columns):
        
        df_new = pd.DataFrame(columns=['Region', 'Año', 'Total'])
        
        years = set(col.split('_')[0] for col in df.columns if '_' in col)  # cogemos año 
        
        for year in years:
            
            if f'{year}_Total' in df.columns:
                
                df_year = df[['Region', f'{year}_Total']].copy()
                                
                df_year.columns = ['Region', 'Total']
                df_year['Año'] = year
                df_new = pd.concat([df_new, df_year], ignore_index=True)
    else:
        
        df_new = pd.DataFrame(columns=['Region', 'Año', 'Hombre', 'Mujer', 'Total'])
       
        years = set(col.split('_')[0] for col in df.columns if '_' in col)  # cogemos año 
    
        for year in years:
        
            if f'{year}_Hombres' in df.columns and f'{year}_Mujeres' in df.columns and f'{year}_Total' in df.columns:
            
                df_year = df[['Region', f'{year}_Hombres', f'{year}_Mujeres', f'{year}_Total']].copy()
                df_year.columns = ['Region', 'Hombre', 'Mujer', 'Total']
                df_year['Año'] = year
                df_new = pd.concat([df_new, df_year], ignore_index=True)
     
    # INSERTAR COLUMNA ID CON EL ID CORRESPONDIENTE A CADA COMUNIDAD:
        
    comunidades_dict = {'España (ES)': 1, 
    'Andalucía (AN)': 2,
    'Aragón (AR)': 3,
    'Asturias, Principado de (AS)': 4,
    'Balears, Illes (IB)': 5,
    'Canarias (CN)': 6,
    'Cantabria (CB)': 7,
    'Castilla y León (CL)': 8,
    'Castilla - La Mancha (CM)': 9,
    'Cataluña (CT)': 10,
    'Comunitat Valenciana (VC)': 11,
    'Extremadura (EX)': 12,
    'Galicia (GA)': 13,
    'Madrid, Comunidad de (MD)': 14,
    'Murcia, Región de (MC)': 15,
    'Navarra, C. Foral de (NC)': 16,
    'País Vasco (PV)': 17,
    'La Rioja (RI)': 18,
    'Ceuta (CE)': 19,
    'Melilla (ML)': 20}

    df_new['Region_ID'] =  df_new['Region'].map(comunidades_dict)
           
    return df_new

In [ ]:
def process_excel_files(Source_folder,Destination_folder):
    '''
    Comentario    
    '''
    for filename in os.listdir(Source_folder):
        
        if filename.endswith(".xls"): 
            
            try: 
   
                df = pd.read_excel(os.path.join(Source_folder, filename))
                
                df = clean_columns(df)
                
                df = df[df['Region'].notna()]
                
                df = create_df(df)
                
                df = df.melt(id_vars=['Region', 'Año'], value_vars=['Hombre', 'Mujer'], var_name='Genero', value_name='Valores')
                
                df['Indicador_ID'] = os.path.splitext(filename)[0]
                
                df = df.apply(pd.to_numeric, downcast='integer', errors='ignore')
                
                df.to_csv(os.path.join(Destination_folder, os.path.splitext(filename)[0] + '.csv'), index=False)
                
            except Exception as e:
                
                print(f"Error al procesar el archivo {filename}: {e}")
            
        continue

In [4]:
def process_excel_files(Source_folder, Destination_folder):
    '''
    Comentario
    '''
    # Lista para almacenar los DataFrames procesados
    dfs = []

    for filename in os.listdir(Source_folder):
        
        if filename.endswith(".xls"): 
            
            
            try:
                df = pd.read_excel(os.path.join(Source_folder, filename))
                
                df = clean_columns(df)
                
                df = df[df['Region'].notna()]
                
                df = create_df(df)
                
                df = df.melt(id_vars=['Region', 'Año'], value_vars=['Hombre', 'Mujer'], var_name='Genero', value_name='Valores')
                
                df['Indicador_ID'] = os.path.splitext(filename)[0]

                df = df.apply(pd.to_numeric, downcast='integer', errors='ignore')
                
                dfs.append(df)
                
            except Exception as e:
                
                df = clean_columns(df)
                df = df[df['Region'].notna()]
                df = create_df(df)
                df['Indicador_ID'] = os.path.splitext('Incidencia_de_accidentes_de_trabajo')[0]

                df = df.apply(pd.to_numeric, downcast='integer', errors='ignore')
                
                dfs.append(df)
     
    final_df = pd.concat(dfs, ignore_index=True)
    
    comunidades_dict = {'España (ES)': 1, 
    'Andalucía (AN)': 2,
    'Aragón (AR)': 3,
    'Asturias, Principado de (AS)': 4,
    'Balears, Illes (IB)': 5,
    'Canarias (CN)': 6,
    'Cantabria (CB)': 7,
    'Castilla y León (CL)': 8,
    'Castilla - La Mancha (CM)': 9,
    'Cataluña (CT)': 10,
    'Comunitat Valenciana (VC)': 11,
    'Extremadura (EX)': 12,
    'Galicia (GA)': 13,
    'Madrid, Comunidad de (MD)': 14,
    'Murcia, Región de (MC)': 15,
    'Navarra, C. Foral de (NC)': 16,
    'País Vasco (PV)': 17,
    'La Rioja (RI)': 18,
    'Ceuta (CE)': 19,
    'Melilla (ML)': 20}

    final_df['Region'] =  final_df['Region'].map(comunidades_dict)    


    final_df.to_csv(os.path.join(Destination_folder, 'resultado_final.csv'), index=False)

# Llamada a la función

In [5]:
process_excel_files('../data/raw', '../data/processed')

KeyError: 'Region'

In [236]:
df = pd.read_excel('../data/raw/Incidencia_de_accidentes_de_trabajo.xls')

df = clean_columns(df)
df = df[df['Region'].notna()]
df = create_df(df)
df = df.melt(id_vars=['Region', 'Año'], value_vars=['Total'], var_name='Genero', value_name='Valores')
df['Indicador_ID'] = os.path.splitext('Incidencia_de_accidentes_de_trabajo')[0]

df = df.apply(pd.to_numeric, downcast='integer', errors='ignore')


df = test.melt(id_vars=['Region', 'Año'], value_vars=['Total'], var_name='Total')

df

KeyError: "The following 'id_vars' are not present in the DataFrame: ['Año', 'Region']"

In [2]:
df = pd.read_excel('../data/raw/Incidencia_de_accidentes_de_trabajo.xls')

df = clean_columns(df)
df = df[df['Region'].notna()]
df = create_df(df)
df['Indicador_ID'] = os.path.splitext('Incidencia_de_accidentes_de_trabajo')[0]

df = df.apply(pd.to_numeric, downcast='integer', errors='ignore')
df

,id,Region,Año,Total,Indicador_ID
0,1,España (ES),2018,3408.70,Incidencia_de_accidentes_de_trabajo
1,2,Andalucía (AN),2018,3837.96,Incidencia_de_accidentes_de_trabajo
2,3,Aragón (AR),2018,3303.32,Incidencia_de_accidentes_de_trabajo
3,4,"Asturias, Principado de (AS)",2018,3444.52,Incidencia_de_accidentes_de_trabajo
4,5,"Balears, Illes (IB)",2018,4996.33,Incidencia_de_accidentes_de_trabajo
...,...,...,...,...,...
115,16,"Navarra, C. Foral de (NC)",2022,3766.14,Incidencia_de_accidentes_de_trabajo
116,17,País Vasco (PV),2022,3133.90,Incidencia_de_accidentes_de_trabajo
117,18,La Rioja (RI),2022,4247.90,Incidencia_de_accidentes_de_trabajo
118,19,Ceuta (CE),2022,2683.83,Incidencia_de_accidentes_de_trabajo
119,20,Melilla (ML),2022,2978.94,Incidencia_de_accidentes_de_trabajo