In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

import os

import mysql.connector
from sqlalchemy import create_engine, text

import warnings
warnings.filterwarnings('ignore')

import sys
sys.path.append('../src')
from sql_upload_manager import *

In [2]:
files = []

for archivo in os.listdir('../data/processed'):
        
        if archivo.endswith('.csv'):
            
                file = os.path.join('../data', archivo)
                
                files.append((file.replace('.csv', '').replace('../data\\','')))

In [3]:
# LOS ELEMENTOS DE MAS DE 64 CARACTERES NO ENTRAN EN SQL:  ---- BAJO A 55 PORQUE SQLALCHEMY AÑADE _IBFK_1 Y YA SON MAS DE 63 CARACTERES Y LO RECHAZA

def filtrar_por_longitud(lista):
    return [elemento for elemento in lista if len(elemento) >= 55]

largos = filtrar_por_longitud(files)
len(largos)

39

In [4]:
resumen = [
    'Consumo_intensivo_alcohol_12_meses_jovenes',
    'Indice_calidad_vida_infantil_salud',
    'Limitacion_actividades_hogar_65_mas_anos',
    'Porcentaje_consumidores_cannabis_14_a_18_anos',
    'Poblacion_escasez_zonas_verdes_vivienda',
    'Poblacion_ruido_exterior_vivienda_molesto',
    'Poblacion_adulta_riesgo_mala_salud_mental',
    'Poblacion_valoracion_positiva_estado_salud',
    'Poblacion_65_mas_valoracion_positiva_salud',
    'Poblacion_Suministro_Sistema_Nacional_Aguas',
    'Prevalencia_cardiopatia_isquemica_40_mas_anos',
    'Prevalencia_diabetes_mellitus_poblacion',
    'Prevalencia_EPOC_40_mas_anos',   
    'Prevalencia_hipertension_arterial_poblacion',
    'Prevalencia_dolor_columna_vertebral_poblacion',
    'Prevalencia_trastornos_mentales_poblacion',
    'Poblacion_25_a_64_anos_1_Etapa_educacion_secundaria',
    'Tasa_hospitalizacion_asma_10_000_hab',
    'Tasa_hospitalizacion_diabetes_mellitus_10_000_hab',
    'Tasa_hospitalizacion_ECV_10_000_hab',
    'Tasa_hospitalizacion_hipertension_10_000_hab',
    'Tasa_hospitalizacion_EPOC_10_000_hab',
    'Tasa_hospitalizacion_infarto_miocardio_10_000_hab',
    'Tasa_hospitalizacion_Insuficiencia_cardiaca_10_000_hab',
    'Tasa_hospitalizacion_ECV_10k_hb',
    'Tasa_hospitalizacion_infarto_miocardio_10_000_hab',
    'Tasa_mortalidad_cancer_100_000_hab',
    'Tasa_mortalidad_cardiopatia_isquemica_100k_hb',
    'Tasa_mortalidad_diabetes_mellitus_100k_hb',
    'Tasa_mortalidad_ECV_100k_hb',
    'Tasa_mortalidad_enfermedad_cronica_higado_100k_hb',
    'Tasa_mortalidad_EPOC_100k_hb',
    'Tasa_mortalidad_neumonia_influenza_100k_hb',
    'Tasa_mortalidad_suicidio_100k_hb',
    'Tasa_mortalidad_prematura_cancer_100k_hb',
    'Tasa_mortalidad_prem_cardiopatia_isquemica_100k_hb',
    'Tasa_mortalidad_prematura_DM_100k_hab',
    'Tasa_mortalidad_prematura_ECV_100k_hab',
    'Tasa_mortalidad_prematura_EPOC_100k_hb']

mapeo_nombres = dict(zip(largos, resumen))
len(mapeo_nombres)

39

In [5]:
nombres_resumidos = [mapeo_nombres.get(nombre, nombre) for nombre in files]
nombres_resumidos = [e.replace('anos','años').replace('Anos','años').replace('_',' ') for e in nombres_resumidos]

len(nombres_resumidos) == len(files)

True

In [6]:
usser = 'root'
key = open('password.txt','r').read()
host = 'localhost'

conexion, cursor = conection_to_SQL('root', key, 'localhost')

database = 'VitalStatsES'

cursor.execute(f'CREATE DATABASE IF NOT EXISTS {database}')

Conexión a MySQL exitosa

In [7]:
import time

password = key

#PRIMERO DEBEMOS CARGAR LA TABLA 'ID' PARA CREAR LAS PRIMERY KEY SI NO, NOS TIRA ERROR AL HACER LA FEREIGN KEY PRIMERO:

df = pd.read_csv('../data/processed/id.csv')  
df['id'] = pd.to_numeric(df['id'], errors='coerce', downcast='integer')
      
engine = create_engine(f'mysql+mysqlconnector://root:{key}@localhost:3306/{database}', echo=True)
            
df.to_sql('id', con=engine, if_exists='append', index=False)

with engine.connect() as con:
    con.execute(text('ALTER TABLE `id` ADD PRIMARY KEY (`id`)'))

time.sleep(5)

#ITERAMOS CON EL RESTO DE ARCHVOS, TENEMOS QUE ASEGURARNOS QUE EL FORMATO DE LA COLUMNA 'ID' ES IGUAL PARA TODOS:

for file, resumido in zip(files, nombres_resumidos):
    
    if file != 'id':
            
        df = pd.read_csv(f'../data/processed/{file}.csv') 
        df['id'] = pd.to_numeric(df['id'], errors='coerce', downcast='integer')

               
        engine = create_engine(f'mysql+mysqlconnector://root:{key}@localhost:3306/{database}', echo=True)
        print(engine)
            
        df.to_sql(resumido, con=engine, if_exists='append', index=False)

        with engine.connect() as con:

            con.execute(text(f'ALTER TABLE `{resumido}` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)'))
        print(f"The table {resumido} has been successfully loaded into SQL with the associated key.")

2023-12-04 08:47:57,221 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-04 08:47:57,221 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:47:57,234 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-04 08:47:57,237 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:47:57,237 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-04 08:47:57,237 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:47:57,243 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-04 08:47:57,243 INFO sqlalchemy.engine.Engine DESCRIBE `vitalstatses`.`id`
2023-12-04 08:47:57,243 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:47:57,251 INFO sqlalchemy.engine.Engine
CREATE TABLE id (
	`Region` TEXT,
	id SMALLINT
)


2023-12-04 08:47:57,251 INFO sqlalchemy.engine.Engine [no key 0.00161s] {}
2023-12-04 08:47:57,270 INFO sqlalchemy.engine.Engine INSERT INTO id (`Region`, id) VALUES (%(Region)s, %(id)s)
2023-12-04 08:47:57,270 INFO sqlalchemy.engine.Engine [generated in 0.00172s] [{'Region': 'España (ES)', 'id': 1}, {'Region': 'Andalucía (AN)', 'id': 2}, {'Region': 'Aragón (AR)', 'id': 3}, {'Region': 'Asturias, Principado de (AS)', 'id': 4}, {'Region': 'Balears, Illes (IB)', 'id': 5}, {'Region': 'Canarias (CN)', 'id': 6}, {'Region': 'Cantabria (CB)', 'id': 7}, {'Region': 'Castilla y León (CL)', 'id': 8}  ... displaying 10 of 20 total bound parameter sets ...  {'Region': 'Ceuta (CE)', 'id': 19}, {'Region': 'Melilla (ML)', 'id': 20}]
2023-12-04 08:47:57,278 INFO sqlalchemy.engine.Engine COMMIT
2023-12-04 08:47:57,278 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-04 08:47:57,278 INFO sqlalchemy.engine.Engine ALTER TABLE `id` ADD PRIMARY KEY (`id`)
2023-12-04 08:47:57,286 INFO sqlalchemy.engine.Engine [generated in 0.00334s] {}
2023-12-04 08:47:57,320 INFO sqlalchemy.engine.Engine ROLLBACK
Engine(mysql+mysqlconnector://root:***@localhost:3306/VitalStatsES)
2023-12-04 08:48:02,785 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-04 08:48:02,786 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:02,790 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-04 08:48:02,793 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:02,796 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-04 08:48:02,797 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:02,799 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-04 08:48:02,805 INFO sqlalchemy.engine.Engine DESCRIBE `vitalstatses`.`años de vida saludable al nacer`
2023-12-04 08:48:02,805 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:02,813 INFO sqlalchemy.engine.Engine
CREATE TABLE `años de vida saludable al nacer` (
	id SMALLINT,
	`Region` TEXT,
	`Año` BIGINT,
	`Hombre` FLOAT(53),
	`Mujer` FLOAT(53),
	`Total` FLOAT(53)
)


2023-12-04 08:48:02,814 INFO sqlalchemy.engine.Engine [no key 0.00186s] {}
2023-12-04 08:48:02,841 INFO sqlalchemy.engine.Engine INSERT INTO `años de vida saludable al nacer` (id, `Region`, `Año`, `Hombre`, `Mujer`, `Total`) VALUES (%(id)s, %(Region)s, %(Año)s, %(Hombre)s, %(Mujer)s, %(Total)s)
2023-12-04 08:48:02,844 INFO sqlalchemy.engine.Engine [generated in 0.00254s] [{'id': 1, 'Region': 'España (ES)', 'Año': 2017, 'Hombre': 76.93, 'Mujer': 81.4, 'Total': 79.17}, {'id': 2, 'Region': 'Andalucía (AN)', 'Año': 2017, 'Hombre': 74.59, 'Mujer': 77.92, 'Total': 76.22}, {'id': 3, 'Region': 'Aragón (AR)', 'Año': 2017, 'Hombre': 79.15, 'Mujer': 83.78, 'Total': 81.4}, {'id': 4, 'Region': 'Asturias, Principado de (AS)', 'Año': 2017, 'Hombre': 74.98, 'Mujer': 79.9, 'Total': 77.29}, {'id': 5, 'Region': 'Balears, Illes (IB)', 'Año': 2017, 'Hombre': 78.8, 'Mujer': 83.91, 'Total': 81.16}, {'id': 6, 'Region': 'Canarias (CN)', 'Año': 2017, 'Hombre': 76.12, 'Mujer': 81.26, 'Total': 78.8}, {'id': 7, 'Region': 'Cantabria (CB)', 'Año': 2017, 'Hombre': 78.83, 'Mujer': 82.21, 'Total': 80.08}, {'id': 8, 'Region': 'Castilla y León (CL)', 'Año': 2017, 'Hombre': 78.26, 'Mujer': 84.46, 'Total': 81.28}  ... displaying 10 of 100 total bound parameter sets ...  {'id': 19, 'Region': 'Ceuta (CE)', 'Año': 2018, 'Hombre': 74.33, 'Mujer': 78.01, 'Total': 76.23}, {'id': 20, 'Region': 'Melilla (ML)', 'Año': 2018, 'Hombre': 74.33, 'Mujer': 78.01, 'Total': 76.23}]
2023-12-04 08:48:02,855 INFO sqlalchemy.engine.Engine COMMIT
2023-12-04 08:48:02,859 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-04 08:48:02,861 INFO sqlalchemy.engine.Engine ALTER TABLE `años de vida saludable al nacer` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)
2023-12-04 08:48:02,864 INFO sqlalchemy.engine.Engine [generated in 0.00410s] {}
2023-12-04 08:48:02,905 INFO sqlalchemy.engine.Engine ROLLBACK
The table años de vida saludable al nacer has been successfully loaded into SQL with the associated key.
Engine(mysql+mysqlconnector://root:***@localhost:3306/VitalStatsES)
2023-12-04 08:48:03,338 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-04 08:48:03,340 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:03,342 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-04 08:48:03,344 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:03,347 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-04 08:48:03,348 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:03,349 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-04 08:48:03,355 INFO sqlalchemy.engine.Engine DESCRIBE `vitalstatses`.`años de vida saludable a los 65 años`
2023-12-04 08:48:03,355 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:03,363 INFO sqlalchemy.engine.Engine
CREATE TABLE `años de vida saludable a los 65 años` (
	id SMALLINT,
	`Region` TEXT,
	`Año` BIGINT,
	`Hombre` FLOAT(53),
	`Mujer` FLOAT(53),
	`Total` FLOAT(53)
)


2023-12-04 08:48:03,363 INFO sqlalchemy.engine.Engine [no key 0.00160s] {}
2023-12-04 08:48:03,393 INFO sqlalchemy.engine.Engine INSERT INTO `años de vida saludable a los 65 años` (id, `Region`, `Año`, `Hombre`, `Mujer`, `Total`) VALUES (%(id)s, %(Region)s, %(Año)s, %(Hombre)s, %(Mujer)s, %(Total)s)
2023-12-04 08:48:03,399 INFO sqlalchemy.engine.Engine [generated in 0.00340s] [{'id': 1, 'Region': 'España (ES)', 'Año': 2017, 'Hombre': 17.3, 'Mujer': 19.82, 'Total': 18.62}, {'id': 2, 'Region': 'Andalucía (AN)', 'Año': 2017, 'Hombre': 15.67, 'Mujer': 16.66, 'Total': 16.16}, {'id': 3, 'Region': 'Aragón (AR)', 'Año': 2017, 'Hombre': 18.66, 'Mujer': 21.65, 'Total': 20.18}, {'id': 4, 'Region': 'Asturias, Principado de (AS)', 'Año': 2017, 'Hombre': 16.99, 'Mujer': 17.67, 'Total': 17.28}, {'id': 5, 'Region': 'Balears, Illes (IB)', 'Año': 2017, 'Hombre': 18.38, 'Mujer': 21.74, 'Total': 19.97}, {'id': 6, 'Region': 'Canarias (CN)', 'Año': 2017, 'Hombre': 16.68, 'Mujer': 19.93, 'Total': 18.53}, {'id': 7, 'Region': 'Cantabria (CB)', 'Año': 2017, 'Hombre': 18.44, 'Mujer': 20.11, 'Total': 18.91}, {'id': 8, 'Region': 'Castilla y León (CL)', 'Año': 2017, 'Hombre': 17.86, 'Mujer': 22.71, 'Total': 20.29}  ... displaying 10 of 100 total bound parameter sets ...  {'id': 19, 'Region': 'Ceuta (CE)', 'Año': 2018, 'Hombre': 16.87, 'Mujer': 18.32, 'Total': 17.72}, {'id': 20, 'Region': 'Melilla (ML)', 'Año': 2018, 'Hombre': 16.87, 'Mujer': 18.32, 'Total': 17.72}]
2023-12-04 08:48:03,407 INFO sqlalchemy.engine.Engine COMMIT
2023-12-04 08:48:03,415 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-04 08:48:03,423 INFO sqlalchemy.engine.Engine ALTER TABLE `años de vida saludable a los 65 años` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)
2023-12-04 08:48:03,423 INFO sqlalchemy.engine.Engine [generated in 0.00370s] {}
2023-12-04 08:48:03,470 INFO sqlalchemy.engine.Engine ROLLBACK
The table años de vida saludable a los 65 años has been successfully loaded into SQL with the associated key.
Engine(mysql+mysqlconnector://root:***@localhost:3306/VitalStatsES)
2023-12-04 08:48:03,891 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-04 08:48:03,892 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:03,896 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-04 08:48:03,896 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:03,899 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-04 08:48:03,899 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:03,903 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-04 08:48:03,908 INFO sqlalchemy.engine.Engine DESCRIBE `vitalstatses`.`Consumo diario de frutas yo verduras en adultos`
2023-12-04 08:48:03,909 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:03,915 INFO sqlalchemy.engine.Engine
CREATE TABLE `Consumo diario de frutas yo verduras en adultos` (
	id SMALLINT,
	`Region` TEXT,
	`Año` BIGINT,
	`Hombre` FLOAT(53),
	`Mujer` FLOAT(53),
	`Total` FLOAT(53)
)


2023-12-04 08:48:03,915 INFO sqlalchemy.engine.Engine [no key 0.00165s] {}
2023-12-04 08:48:03,936 INFO sqlalchemy.engine.Engine INSERT INTO `Consumo diario de frutas yo verduras en adultos` (id, `Region`, `Año`, `Hombre`, `Mujer`, `Total`) VALUES (%(id)s, %(Region)s, %(Año)s, %(Hombre)s, %(Mujer)s, %(Total)s)
2023-12-04 08:48:03,940 INFO sqlalchemy.engine.Engine [generated in 0.00258s] [{'id': 1, 'Region': 'España (ES)', 'Año': 2017, 'Hombre': 67.61, 'Mujer': 78.92, 'Total': 73.42}, {'id': 2, 'Region': 'Andalucía (AN)', 'Año': 2017, 'Hombre': 58.73, 'Mujer': 69.41, 'Total': 64.18}, {'id': 3, 'Region': 'Aragón (AR)', 'Año': 2017, 'Hombre': 75.29, 'Mujer': 84.63, 'Total': 80.04}, {'id': 4, 'Region': 'Asturias, Principado de (AS)', 'Año': 2017, 'Hombre': 66.79, 'Mujer': 83.46, 'Total': 75.54}, {'id': 5, 'Region': 'Balears, Illes (IB)', 'Año': 2017, 'Hombre': 63.06, 'Mujer': 71.32, 'Total': 67.23}, {'id': 6, 'Region': 'Canarias (CN)', 'Año': 2017, 'Hombre': 68.48, 'Mujer': 78.41, 'Total': 73.51}, {'id': 7, 'Region': 'Cantabria (CB)', 'Año': 2017, 'Hombre': 16.81, 'Mujer': 24.17, 'Total': 20.6}, {'id': 8, 'Region': 'Castilla y León (CL)', 'Año': 2017, 'Hombre': 76.37, 'Mujer': 85.75, 'Total': 81.11}  ... displaying 10 of 40 total bound parameter sets ...  {'id': 19, 'Region': 'Ceuta (CE)', 'Año': 2020, 'Hombre': 63.08, 'Mujer': 55.38, 'Total': 59.25}, {'id': 20, 'Region': 'Melilla (ML)', 'Año': 2020, 'Hombre': 24.71, 'Mujer': 40.09, 'Total': 32.44}]
2023-12-04 08:48:03,947 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `vitalstatses`
2023-12-04 08:48:03,947 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:03,951 INFO sqlalchemy.engine.Engine COMMIT
2023-12-04 08:48:03,956 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-04 08:48:03,960 INFO sqlalchemy.engine.Engine ALTER TABLE `Consumo diario de frutas yo verduras en adultos` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)
2023-12-04 08:48:03,960 INFO sqlalchemy.engine.Engine [generated in 0.00356s] {}
2023-12-04 08:48:04,000 INFO sqlalchemy.engine.Engine ROLLBACK
The table Consumo diario de frutas yo verduras en adultos has been successfully loaded into SQL with the associated key.
Engine(mysql+mysqlconnector://root:***@localhost:3306/VitalStatsES)
2023-12-04 08:48:04,437 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-04 08:48:04,439 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:04,440 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-04 08:48:04,442 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:04,444 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-04 08:48:04,446 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:04,449 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-04 08:48:04,452 INFO sqlalchemy.engine.Engine DESCRIBE `vitalstatses`.`Consumo diario de frutas yo verduras en jovenes`
2023-12-04 08:48:04,453 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:04,458 INFO sqlalchemy.engine.Engine
CREATE TABLE `Consumo diario de frutas yo verduras en jovenes` (
	id SMALLINT,
	`Region` TEXT,
	`Año` BIGINT,
	`Hombre` FLOAT(53),
	`Mujer` FLOAT(53),
	`Total` FLOAT(53)
)


2023-12-04 08:48:04,458 INFO sqlalchemy.engine.Engine [no key 0.00129s] {}
2023-12-04 08:48:04,480 INFO sqlalchemy.engine.Engine INSERT INTO `Consumo diario de frutas yo verduras en jovenes` (id, `Region`, `Año`, `Hombre`, `Mujer`, `Total`) VALUES (%(id)s, %(Region)s, %(Año)s, %(Hombre)s, %(Mujer)s, %(Total)s)
2023-12-04 08:48:04,483 INFO sqlalchemy.engine.Engine [generated in 0.00172s] [{'id': 1, 'Region': 'España (ES)', 'Año': 2017, 'Hombre': 53.88, 'Mujer': 61.34, 'Total': 57.53}, {'id': 2, 'Region': 'Andalucía (AN)', 'Año': 2017, 'Hombre': 44.05, 'Mujer': 50.7, 'Total': 47.28}, {'id': 3, 'Region': 'Aragón (AR)', 'Año': 2017, 'Hombre': 55.21, 'Mujer': 44.79, 'Total': 50.12}, {'id': 4, 'Region': 'Asturias, Principado de (AS)', 'Año': 2017, 'Hombre': 61.68, 'Mujer': 66.84, 'Total': 64.2}, {'id': 5, 'Region': 'Balears, Illes (IB)', 'Año': 2017, 'Hombre': 59.12, 'Mujer': 53.54, 'Total': 56.37}, {'id': 6, 'Region': 'Canarias (CN)', 'Año': 2017, 'Hombre': 54.08, 'Mujer': 56.21, 'Total': 55.13}, {'id': 7, 'Region': 'Cantabria (CB)', 'Año': 2017, 'Hombre': 3.37, 'Mujer': 8.89, 'Total': 6.04}, {'id': 8, 'Region': 'Castilla y León (CL)', 'Año': 2017, 'Hombre': 58.25, 'Mujer': 62.72, 'Total': 60.43}  ... displaying 10 of 40 total bound parameter sets ...  {'id': 19, 'Region': 'Ceuta (CE)', 'Año': 2020, 'Hombre': 57.53, 'Mujer': 39.68, 'Total': 48.43}, {'id': 20, 'Region': 'Melilla (ML)', 'Año': 2020, 'Hombre': 26.36, 'Mujer': 35.42, 'Total': 30.8}]
2023-12-04 08:48:04,488 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `vitalstatses`
2023-12-04 08:48:04,488 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:04,492 INFO sqlalchemy.engine.Engine COMMIT
2023-12-04 08:48:04,495 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-04 08:48:04,496 INFO sqlalchemy.engine.Engine ALTER TABLE `Consumo diario de frutas yo verduras en jovenes` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)
2023-12-04 08:48:04,496 INFO sqlalchemy.engine.Engine [generated in 0.00228s] {}
2023-12-04 08:48:04,529 INFO sqlalchemy.engine.Engine ROLLBACK
The table Consumo diario de frutas yo verduras en jovenes has been successfully loaded into SQL with the associated key.
Engine(mysql+mysqlconnector://root:***@localhost:3306/VitalStatsES)
2023-12-04 08:48:04,926 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-04 08:48:04,926 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:04,934 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-04 08:48:04,936 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:04,936 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-04 08:48:04,936 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:04,941 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-04 08:48:04,945 INFO sqlalchemy.engine.Engine DESCRIBE `vitalstatses`.`Consumo intensivo alcohol 12 meses jovenes`
2023-12-04 08:48:04,945 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:04,951 INFO sqlalchemy.engine.Engine
CREATE TABLE `Consumo intensivo alcohol 12 meses jovenes` (
	id SMALLINT,
	`Region` TEXT,
	`Año` BIGINT,
	`Hombre` FLOAT(53),
	`Mujer` FLOAT(53),
	`Total` FLOAT(53)
)


2023-12-04 08:48:04,952 INFO sqlalchemy.engine.Engine [no key 0.00129s] {}
2023-12-04 08:48:04,975 INFO sqlalchemy.engine.Engine INSERT INTO `Consumo intensivo alcohol 12 meses jovenes` (id, `Region`, `Año`, `Hombre`, `Mujer`, `Total`) VALUES (%(id)s, %(Region)s, %(Año)s, %(Hombre)s, %(Mujer)s, %(Total)s)
2023-12-04 08:48:04,978 INFO sqlalchemy.engine.Engine [generated in 0.00221s] [{'id': 1, 'Region': 'España (ES)', 'Año': 2017, 'Hombre': 14.18, 'Mujer': 9.5, 'Total': 11.89}, {'id': 1, 'Region': 'España (ES)', 'Año': 2020, 'Hombre': 12.96, 'Mujer': 9.53, 'Total': 11.29}]
2023-12-04 08:48:04,978 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `vitalstatses`
2023-12-04 08:48:04,978 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:04,988 INFO sqlalchemy.engine.Engine COMMIT
2023-12-04 08:48:04,988 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-04 08:48:04,988 INFO sqlalchemy.engine.Engine ALTER TABLE `Consumo intensivo alcohol 12 meses jovenes` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)
2023-12-04 08:48:04,988 INFO sqlalchemy.engine.Engine [generated in 0.00198s] {}
2023-12-04 08:48:05,026 INFO sqlalchemy.engine.Engine ROLLBACK
The table Consumo intensivo alcohol 12 meses jovenes has been successfully loaded into SQL with the associated key.
Engine(mysql+mysqlconnector://root:***@localhost:3306/VitalStatsES)
2023-12-04 08:48:05,405 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-04 08:48:05,405 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:05,412 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-04 08:48:05,412 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:05,415 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-04 08:48:05,416 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:05,418 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-04 08:48:05,421 INFO sqlalchemy.engine.Engine DESCRIBE `vitalstatses`.`Deterioro cognitivo en 65 y mas años`
2023-12-04 08:48:05,423 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:05,427 INFO sqlalchemy.engine.Engine
CREATE TABLE `Deterioro cognitivo en 65 y mas años` (
	id SMALLINT,
	`Region` TEXT,
	`Año` BIGINT,
	`Hombre` FLOAT(53),
	`Mujer` FLOAT(53),
	`Total` FLOAT(53)
)


2023-12-04 08:48:05,427 INFO sqlalchemy.engine.Engine [no key 0.00133s] {}
2023-12-04 08:48:05,444 INFO sqlalchemy.engine.Engine INSERT INTO `Deterioro cognitivo en 65 y mas años` (id, `Region`, `Año`, `Hombre`, `Mujer`, `Total`) VALUES (%(id)s, %(Region)s, %(Año)s, %(Hombre)s, %(Mujer)s, %(Total)s)
2023-12-04 08:48:05,444 INFO sqlalchemy.engine.Engine [generated in 0.00196s] [{'id': 1, 'Region': 'España (ES)', 'Año': 2017, 'Hombre': 27.2, 'Mujer': 34.48, 'Total': 31.3}, {'id': 2, 'Region': 'Andalucía (AN)', 'Año': 2017, 'Hombre': 30.58, 'Mujer': 38.96, 'Total': 35.27}, {'id': 3, 'Region': 'Aragón (AR)', 'Año': 2017, 'Hombre': 27.99, 'Mujer': 46.78, 'Total': 38.45}, {'id': 4, 'Region': 'Asturias, Principado de (AS)', 'Año': 2017, 'Hombre': 29.24, 'Mujer': 40.44, 'Total': 35.73}, {'id': 5, 'Region': 'Balears, Illes (IB)', 'Año': 2017, 'Hombre': 16.58, 'Mujer': 18.57, 'Total': 17.68}, {'id': 6, 'Region': 'Canarias (CN)', 'Año': 2017, 'Hombre': 25.71, 'Mujer': 38.77, 'Total': 32.84}, {'id': 7, 'Region': 'Cantabria (CB)', 'Año': 2017, 'Hombre': 17.25, 'Mujer': 21.91, 'Total': 19.9}, {'id': 8, 'Region': 'Castilla y León (CL)', 'Año': 2017, 'Hombre': 36.4, 'Mujer': 37.65, 'Total': 37.09}  ... displaying 10 of 40 total bound parameter sets ...  {'id': 19, 'Region': 'Ceuta (CE)', 'Año': 2020, 'Hombre': 15.41, 'Mujer': 36.47, 'Total': 26.91}, {'id': 20, 'Region': 'Melilla (ML)', 'Año': 2020, 'Hombre': 14.69, 'Mujer': 18.03, 'Total': 16.49}]
2023-12-04 08:48:05,455 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `vitalstatses`
2023-12-04 08:48:05,455 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:05,462 INFO sqlalchemy.engine.Engine COMMIT
2023-12-04 08:48:05,465 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-04 08:48:05,467 INFO sqlalchemy.engine.Engine ALTER TABLE `Deterioro cognitivo en 65 y mas años` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)
2023-12-04 08:48:05,467 INFO sqlalchemy.engine.Engine [generated in 0.00277s] {}
2023-12-04 08:48:05,498 INFO sqlalchemy.engine.Engine ROLLBACK
The table Deterioro cognitivo en 65 y mas años has been successfully loaded into SQL with the associated key.
Engine(mysql+mysqlconnector://root:***@localhost:3306/VitalStatsES)
2023-12-04 08:48:05,889 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-04 08:48:05,889 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:05,895 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-04 08:48:05,896 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-04 08:48:05,897 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-04 08:48:05,899 INFO sqlalchemy.engine.Engine [raw sql] {}