In [4]:
import pandas as pd
pd.set_option('display.max_columns', None)

import os

import mysql.connector
from sqlalchemy import create_engine, text

import warnings
warnings.filterwarnings('ignore')

import sys
sys.path.append('../src')
from sql_upload_manager import *

In [8]:
usser = 'root'
key = open('password.txt','r').read()
host = 'localhost'

conexion, cursor = conection_to_SQL('root', key, 'localhost')

database = 'IndiSalud'

cursor.execute(f'CREATE DATABASE IF NOT EXISTS {database}')

Conexión a MySQL exitosa

In [9]:

for filename in os.listdir('../data/processed'):
        
    if filename != "Valores.csv" and filename !='Indicadores.csv':
        
        df = pd.read_csv(f'../data/processed/{filename}')
               
        engine = create_engine(f'mysql+mysqlconnector://root:{key}@localhost:3306/{database}', echo=True)
        filename = filename.split('.')[0]
        df.to_sql(f'{filename}',
                  con=engine,
                  if_exists='append',
                  index=False)
        
        for column in df.columns:
            if column.endswith('_ID'):
                
                with engine.connect() as con:
                    
                    con.execute(text(f'ALTER TABLE `{filename}` ADD PRIMARY KEY (`{column}`)'))
                    print(f"The table {filename} has been successfully loaded into SQL.")
                    
                    
# INDICADORES:

df = pd.read_csv('../data/processed/Indicadores.csv')
engine = create_engine(f'mysql+mysqlconnector://root:{key}@localhost:3306/{database}', echo=True)
df.to_sql('Indicadores', con=engine, if_exists='append', index=False)
        
with engine.connect() as con:
    con.execute(text('ALTER TABLE `Indicadores` ADD PRIMARY KEY (`Indicadores_ID`),ADD FOREIGN KEY (`Categoría_ID`) REFERENCES `Categoría` (`Categoría_ID`)'))
        
    
# VALORES :

df = pd.read_csv('../data/processed/Valores.csv')
engine = create_engine(f'mysql+mysqlconnector://root:{key}@localhost:3306/{database}', echo=True)
df.to_sql('Valores', con=engine, if_exists='append', index=False)
        
with engine.connect() as con:
    con.execute(text('ALTER TABLE `Valores` ADD CONSTRAINT fk1_regionid FOREIGN KEY (`Region_ID`) REFERENCES `Region` (`Region_ID`), ADD CONSTRAINT fk2_indicadores FOREIGN KEY (`Indicadores_ID`) REFERENCES `Indicadores` (`Indicadores_ID`)'))

2023-12-06 12:49:59,731 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-06 12:49:59,732 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-06 12:49:59,734 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-06 12:49:59,734 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-06 12:49:59,736 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-06 12:49:59,736 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-06 12:49:59,738 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-06 12:49:59,740 INFO sqlalchemy.engine.Engine DESCRIBE `indisalud`.`Categoría`
2023-12-06 12:49:59,740 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-06 12:49:59,744 INFO sqlalchemy.engine.Engine
CREATE TABLE `Categoría` (
	`Categoría` TEXT,
	`Categoría_ID` BIGINT
)


2023-12-06 12:49:59,745 INFO sqlalchemy.engine.Engine [no key 0.00108s] {}
2023-12-06 12:49:59,763 INFO sqlalchemy.engine.Engine INSERT INTO `Categoría` (`Categoría`, `Categoría_ID`) VALUES (%(Categoría)s, %(Categoría_ID)s)
2023-12-06 12:49:59,764 INFO sqlalchemy.engine.Engine [generated in 0.00124s] [{'Categoría': 'Esperanza de vida', 'Categoría_ID': 1}, {'Categoría': 'Morbilidad', 'Categoría_ID': 2}, {'Categoría': 'Mortalidad', 'Categoría_ID': 3}, {'Categoría': 'Estilo de Vida', 'Categoría_ID': 4}]
2023-12-06 12:49:59,766 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `indisalud`
2023-12-06 12:49:59,767 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-06 12:49:59,771 INFO sqlalchemy.engine.Engine COMMIT
2023-12-06 12:49:59,774 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-06 12:49:59,775 INFO sqlalchemy.engine.Engine ALTER TABLE `Categoría` ADD PRIMARY KEY (`Categoría_ID`)
2023-12-06 12:49:59,775 INFO sqlalchemy.engine.Engine [generated in 0.00217s] {}
The table Categoría has been successfully loaded into SQL.
2023-12-06 12:49:59,809 INFO sqlalchemy.engine.Engine ROLLBACK
2023-12-06 12:50:00,021 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-06 12:50:00,022 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-06 12:50:00,024 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-06 12:50:00,025 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-06 12:50:00,026 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-06 12:50:00,027 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-06 12:50:00,028 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-06 12:50:00,031 INFO sqlalchemy.engine.Engine DESCRIBE `indisalud`.`Region`
2023-12-06 12:50:00,031 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-06 12:50:00,034 INFO sqlalchemy.engine.Engine
CREATE TABLE `Region` (
	`Region` TEXT,
	`Region_ID` BIGINT
)


2023-12-06 12:50:00,034 INFO sqlalchemy.engine.Engine [no key 0.00112s] {}
2023-12-06 12:50:00,054 INFO sqlalchemy.engine.Engine INSERT INTO `Region` (`Region`, `Region_ID`) VALUES (%(Region)s, %(Region_ID)s)
2023-12-06 12:50:00,054 INFO sqlalchemy.engine.Engine [generated in 0.00168s] [{'Region': 'España (ES)', 'Region_ID': 1}, {'Region': 'Andalucía (AN)', 'Region_ID': 2}, {'Region': 'Aragón (AR)', 'Region_ID': 3}, {'Region': 'Asturias, Principado de (AS)', 'Region_ID': 4}, {'Region': 'Balears, Illes (IB)', 'Region_ID': 5}, {'Region': 'Canarias (CN)', 'Region_ID': 6}, {'Region': 'Cantabria (CB)', 'Region_ID': 7}, {'Region': 'Castilla y León (CL)', 'Region_ID': 8}  ... displaying 10 of 20 total bound parameter sets ...  {'Region': 'Ceuta (CE)', 'Region_ID': 19}, {'Region': 'Melilla (ML)', 'Region_ID': 20}]
2023-12-06 12:50:00,060 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `indisalud`
2023-12-06 12:50:00,061 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-06 12:50:00,066 INFO sqlalchemy.engine.Engine COMMIT
2023-12-06 12:50:00,070 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-06 12:50:00,071 INFO sqlalchemy.engine.Engine ALTER TABLE `Region` ADD PRIMARY KEY (`Region_ID`)
2023-12-06 12:50:00,072 INFO sqlalchemy.engine.Engine [generated in 0.00181s] {}
The table Region has been successfully loaded into SQL.
2023-12-06 12:50:00,110 INFO sqlalchemy.engine.Engine ROLLBACK
2023-12-06 12:50:00,321 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-06 12:50:00,322 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-06 12:50:00,324 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-06 12:50:00,325 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-06 12:50:00,327 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-06 12:50:00,328 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-06 12:50:00,330 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-06 12:50:00,332 INFO sqlalchemy.engine.Engine DESCRIBE `indisalud`.`Indicadores`
2023-12-06 12:50:00,333 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-06 12:50:00,338 INFO sqlalchemy.engine.Engine
CREATE TABLE `Indicadores` (
	`Indicadores_ID` BIGINT,
	`Indicadores` TEXT,
	`Categoría_ID` BIGINT,
	`Tipo de indicador` TEXT
)


2023-12-06 12:50:00,339 INFO sqlalchemy.engine.Engine [no key 0.00160s] {}
2023-12-06 12:50:00,353 INFO sqlalchemy.engine.Engine INSERT INTO `Indicadores` (`Indicadores_ID`, `Indicadores`, `Categoría_ID`, `Tipo de indicador`) VALUES (%(Indicadores_ID)s, %(Indicadores)s, %(Categoría_ID)s, %(Tipo_de_indicador)s)
2023-12-06 12:50:00,354 INFO sqlalchemy.engine.Engine [generated in 0.00127s] [{'Indicadores_ID': 1, 'Indicadores': 'Años de vida saludable al nacer', 'Categoría_ID': 1, 'Tipo_de_indicador': 'Sin tipo'}, {'Indicadores_ID': 2, 'Indicadores': 'Años de vida saludable a los 65 años', 'Categoría_ID': 1, 'Tipo_de_indicador': 'Sin tipo'}, {'Indicadores_ID': 3, 'Indicadores': 'Consumo diario de frutas yo verduras en adultos', 'Categoría_ID': 4, 'Tipo_de_indicador': 'Sin tipo'}, {'Indicadores_ID': 4, 'Indicadores': 'Consumo diario de frutas yo verduras en jovenes', 'Categoría_ID': 4, 'Tipo_de_indicador': 'Sin tipo'}, {'Indicadores_ID': 5, 'Indicadores': 'Consumo intensivo de alcohol al menos una vez al mes en los ultimos 12 meses en jovenes', 'Categoría_ID': 4, 'Tipo_de_indicador': 'Hepática'}, {'Indicadores_ID': 6, 'Indicadores': 'Deterioro cognitivo en 65 y mas años', 'Categoría_ID': 4, 'Tipo_de_indicador': 'Sin tipo'}, {'Indicadores_ID': 7, 'Indicadores': 'Dificultad para la movilidad en 65 y mas años', 'Categoría_ID': 4, 'Tipo_de_indicador': 'Sin tipo'}, {'Indicadores_ID': 8, 'Indicadores': 'Esperanza de vida al nacer', 'Categoría_ID': 1, 'Tipo_de_indicador': 'Sin tipo'}  ... displaying 10 of 70 total bound parameter sets ...  {'Indicadores_ID': 69, 'Indicadores': 'Tasa de natalidad por 1000 habitantes', 'Categoría_ID': 3, 'Tipo_de_indicador': 'Sin tipo'}, {'Indicadores_ID': 70, 'Indicadores': 'Tasa de riesgo de pobreza indicador AROPE', 'Categoría_ID': 4, 'Tipo_de_indicador': 'Sin tipo'}]
2023-12-06 12:50:00,358 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `indisalud`
2023-12-06 12:50:00,360 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-06 12:50:00,362 INFO sqlalchemy.engine.Engine COMMIT
2023-12-06 12:50:00,366 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-06 12:50:00,367 INFO sqlalchemy.engine.Engine ALTER TABLE `Indicadores` ADD PRIMARY KEY (`Indicadores_ID`),ADD FOREIGN KEY (`Categoría_ID`) REFERENCES `Categoría` (`Categoría_ID`)
2023-12-06 12:50:00,368 INFO sqlalchemy.engine.Engine [generated in 0.00208s] {}
2023-12-06 12:50:00,391 INFO sqlalchemy.engine.Engine ROLLBACK
2023-12-06 12:50:00,611 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-06 12:50:00,612 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-06 12:50:00,615 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-06 12:50:00,616 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-06 12:50:00,617 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-06 12:50:00,618 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-06 12:50:00,620 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-06 12:50:00,624 INFO sqlalchemy.engine.Engine DESCRIBE `indisalud`.`Valores`
2023-12-06 12:50:00,624 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-06 12:50:00,627 INFO sqlalchemy.engine.Engine
CREATE TABLE `Valores` (
	`Region_ID` BIGINT,
	`Año` BIGINT,
	`Genero` TEXT,
	`Valores` TEXT,
	`Indicadores_ID` BIGINT,
	`Valores_ID` BIGINT
)


2023-12-06 12:50:00,628 INFO sqlalchemy.engine.Engine [no key 0.00093s] {}
2023-12-06 12:50:00,695 INFO sqlalchemy.engine.Engine INSERT INTO `Valores` (`Region_ID`, `Año`, `Genero`, `Valores`, `Indicadores_ID`, `Valores_ID`) VALUES (%(Region_ID)s, %(Año)s, %(Genero)s, %(Valores)s, %(Indicadores_ID)s, %(Valores_ID)s)
2023-12-06 12:50:00,696 INFO sqlalchemy.engine.Engine [generated in 0.03837s] [{'Region_ID': 1, 'Año': 2018, 'Genero': 'Hombre', 'Valores': '76.91', 'Indicadores_ID': 1, 'Valores_ID': 1}, {'Region_ID': 2, 'Año': 2018, 'Genero': 'Hombre', 'Valores': '74.41', 'Indicadores_ID': 1, 'Valores_ID': 2}, {'Region_ID': 3, 'Año': 2018, 'Genero': 'Hombre', 'Valores': '79.39', 'Indicadores_ID': 1, 'Valores_ID': 3}, {'Region_ID': 4, 'Año': 2018, 'Genero': 'Hombre', 'Valores': '74.96', 'Indicadores_ID': 1, 'Valores_ID': 4}, {'Region_ID': 5, 'Año': 2018, 'Genero': 'Hombre', 'Valores': '79.22', 'Indicadores_ID': 1, 'Valores_ID': 5}, {'Region_ID': 6, 'Año': 2018, 'Genero': 'Hombre', 'Valores': '75.67', 'Indicadores_ID': 1, 'Valores_ID': 6}, {'Region_ID': 7, 'Año': 2018, 'Genero': 'Hombre', 'Valores': '78.68', 'Indicadores_ID': 1, 'Valores_ID': 7}, {'Region_ID': 8, 'Año': 2018, 'Genero': 'Hombre', 'Valores': '78.32', 'Indicadores_ID': 1, 'Valores_ID': 8}  ... displaying 10 of 9736 total bound parameter sets ...  {'Region_ID': 1, 'Año': 2019, 'Genero': 'Mujer', 'Valores': '27.1', 'Indicadores_ID': 70, 'Valores_ID': 9735}, {'Region_ID': 1, 'Año': 2017, 'Genero': 'Mujer', 'Valores': '28.3', 'Indicadores_ID': 70, 'Valores_ID': 9736}]
2023-12-06 12:50:00,906 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `indisalud`
2023-12-06 12:50:00,907 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-06 12:50:00,910 INFO sqlalchemy.engine.Engine COMMIT
2023-12-06 12:50:00,914 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-06 12:50:00,916 INFO sqlalchemy.engine.Engine ALTER TABLE `Valores` ADD CONSTRAINT fk1_regionid FOREIGN KEY (`Region_ID`) REFERENCES `Region` (`Region_ID`), ADD CONSTRAINT fk2_indicadores FOREIGN KEY (`Indicadores_ID`) REFERENCES `Indicadores` (`Indicadores_ID`)
2023-12-06 12:50:00,916 INFO sqlalchemy.engine.Engine [generated in 0.00160s] {}
2023-12-06 12:50:01,095 INFO sqlalchemy.engine.Engine ROLLBACK