In [39]:
import pandas as pd
pd.set_option('display.max_columns', None)

import os

import mysql.connector
from sqlalchemy import create_engine, text

import warnings
warnings.filterwarnings('ignore')

import sys
sys.path.append('../src')
from sql_upload_manager import *

In [40]:
usser = 'root'
key = open('password.txt','r').read()
host = 'localhost'

conexion, cursor = conection_to_SQL('root', key, 'localhost')

database = 'IndiSalud'

cursor.execute(f'CREATE DATABASE IF NOT EXISTS {database}')

Conexión a MySQL exitosa

In [41]:
# import time

# password = key

# #PRIMERO DEBEMOS CARGAR LA TABLA 'ID' PARA CREAR LAS PRIMERY KEY SI NO, NOS TIRA ERROR AL HACER LA FEREIGN KEY PRIMERO:

# df = pd.read_csv('../data/processed/id.csv')  
# df['id'] = pd.to_numeric(df['id'], errors='coerce', downcast='integer')
      
# engine = create_engine(f'mysql+mysqlconnector://root:{key}@localhost:3306/{database}', echo=True)
            
# df.to_sql('id', con=engine, if_exists='append', index=False)

# with engine.connect() as con:
#     con.execute(text('ALTER TABLE `id` ADD PRIMARY KEY (`id`)'))

# time.sleep(5)

# #ITERAMOS CON EL RESTO DE ARCHVOS, TENEMOS QUE ASEGURARNOS QUE EL FORMATO DE LA COLUMNA 'ID' ES IGUAL PARA TODOS:

# for file, resumido in zip(files, nombres_resumidos):
    
#     if file != 'id':
            
#         df = pd.read_csv(f'../data/processed/{file}.csv') 
#         df['id'] = pd.to_numeric(df['id'], errors='coerce', downcast='integer')

               
#         engine = create_engine(f'mysql+mysqlconnector://root:{key}@localhost:3306/{database}', echo=True)
#         print(engine)
            
#         df.to_sql(resumido, con=engine, if_exists='append', index=False)

#         with engine.connect() as con:

#             con.execute(text(f'ALTER TABLE `{resumido}` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)'))
#         print(f"The table {resumido} has been successfully loaded into SQL with the associated key.")

In [42]:

for filename in os.listdir('../data/processed'):
        
    if filename != "Valores.csv" and filename !='Indicadores.csv':
        
        df = pd.read_csv(f'../data/processed/{filename}')
               
        engine = create_engine(f'mysql+mysqlconnector://root:{key}@localhost:3306/{database}', echo=True)
        filename = filename.split('.')[0]
        df.to_sql(f'{filename}',
                  con=engine,
                  if_exists='append',
                  index=False)
        
        for column in df.columns:
            if column.endswith('_ID'):
                
                with engine.connect() as con:
                    
                    con.execute(text(f'ALTER TABLE `{filename}` ADD PRIMARY KEY (`{column}`)'))
                    print(f"The table {filename} has been successfully loaded into SQL.")
# INDICADORES:

df = pd.read_csv('../data/processed/Indicadores.csv')
engine = create_engine(f'mysql+mysqlconnector://root:{key}@localhost:3306/{database}', echo=True)
df.to_sql('Indicadores', con=engine, if_exists='append', index=False)
        
with engine.connect() as con:
    con.execute(text('ALTER TABLE `Indicadores` ADD PRIMARY KEY (`Indicadores_ID`),ADD FOREIGN KEY (`Categoría_ID`) REFERENCES `Categoría` (`Categoría_ID`)'))
        
    
# VALORES :

df = pd.read_csv('../data/processed/Valores.csv')
engine = create_engine(f'mysql+mysqlconnector://root:{key}@localhost:3306/{database}', echo=True)
df.to_sql('Valores', con=engine, if_exists='append', index=False)
        
with engine.connect() as con:
    con.execute(text('ALTER TABLE `Valores` ADD CONSTRAINT fk1_regionid FOREIGN KEY (`Region_ID`) REFERENCES `Region` (`Region_ID`), ADD CONSTRAINT fk2_indicadores FOREIGN KEY (`Indicadores_ID`) REFERENCES `Indicadores` (`Indicadores_ID`)'))

2023-12-05 11:52:51,461 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-05 11:52:51,462 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-05 11:52:51,464 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-05 11:52:51,466 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-05 11:52:51,471 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-05 11:52:51,472 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-05 11:52:51,475 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-05 11:52:51,478 INFO sqlalchemy.engine.Engine DESCRIBE `indisalud`.`Categoría`
2023-12-05 11:52:51,479 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-05 11:52:51,485 INFO sqlalchemy.engine.Engine
CREATE TABLE `Categoría` (
	`Categoría` TEXT,
	`Categoría_ID` BIGINT
)


2023-12-05 11:52:51,488 INFO sqlalchemy.engine.Engine [no key 0.00397s] {}
2023-12-05 11:52:51,510 INFO sqlalchemy.engine.Engine INSERT INTO `Categoría` (`Categoría`, `Categoría_ID`) VALUES (%(Categoría)s, %(Categoría_ID)s)
2023-12-05 11:52:51,512 INFO sqlalchemy.engine.Engine [generated in 0.00120s] [{'Categoría': 'Esperanza de vida', 'Categoría_ID': 1}, {'Categoría': 'Morbilidad', 'Categoría_ID': 2}, {'Categoría': 'Mortalidad', 'Categoría_ID': 3}, {'Categoría': 'Estilo de Vida', 'Categoría_ID': 4}]
2023-12-05 11:52:51,514 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `indisalud`
2023-12-05 11:52:51,516 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-05 11:52:51,522 INFO sqlalchemy.engine.Engine COMMIT
2023-12-05 11:52:51,525 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-05 11:52:51,528 INFO sqlalchemy.engine.Engine ALTER TABLE `Categoría` ADD PRIMARY KEY (`Categoría_ID`)
2023-12-05 11:52:51,528 INFO sqlalchemy.engine.Engine [generated in 0.00272s] {}
The table Categoría has been successfully loaded into SQL.
2023-12-05 11:52:51,573 INFO sqlalchemy.engine.Engine ROLLBACK
2023-12-05 11:52:51,876 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-05 11:52:51,877 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-05 11:52:51,880 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-05 11:52:51,880 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-05 11:52:51,884 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-05 11:52:51,886 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-05 11:52:51,890 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-05 11:52:51,892 INFO sqlalchemy.engine.Engine DESCRIBE `indisalud`.`Region`
2023-12-05 11:52:51,893 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-05 11:52:51,898 INFO sqlalchemy.engine.Engine
CREATE TABLE `Region` (
	`Region` TEXT,
	`Region_ID` BIGINT
)


2023-12-05 11:52:51,900 INFO sqlalchemy.engine.Engine [no key 0.00229s] {}
2023-12-05 11:52:51,921 INFO sqlalchemy.engine.Engine INSERT INTO `Region` (`Region`, `Region_ID`) VALUES (%(Region)s, %(Region_ID)s)
2023-12-05 11:52:51,922 INFO sqlalchemy.engine.Engine [generated in 0.00281s] [{'Region': 'España (ES)', 'Region_ID': 1}, {'Region': 'Andalucía (AN)', 'Region_ID': 2}, {'Region': 'Aragón (AR)', 'Region_ID': 3}, {'Region': 'Asturias, Principado de (AS)', 'Region_ID': 4}, {'Region': 'Balears, Illes (IB)', 'Region_ID': 5}, {'Region': 'Canarias (CN)', 'Region_ID': 6}, {'Region': 'Cantabria (CB)', 'Region_ID': 7}, {'Region': 'Castilla y León (CL)', 'Region_ID': 8}  ... displaying 10 of 20 total bound parameter sets ...  {'Region': 'Ceuta (CE)', 'Region_ID': 19}, {'Region': 'Melilla (ML)', 'Region_ID': 20}]
2023-12-05 11:52:51,926 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `indisalud`
2023-12-05 11:52:51,926 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-05 11:52:51,930 INFO sqlalchemy.engine.Engine COMMIT
2023-12-05 11:52:51,937 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-05 11:52:51,939 INFO sqlalchemy.engine.Engine ALTER TABLE `Region` ADD PRIMARY KEY (`Region_ID`)
2023-12-05 11:52:51,939 INFO sqlalchemy.engine.Engine [generated in 0.00415s] {}
The table Region has been successfully loaded into SQL.
2023-12-05 11:52:51,980 INFO sqlalchemy.engine.Engine ROLLBACK
2023-12-05 11:52:52,274 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-05 11:52:52,275 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-05 11:52:52,276 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-05 11:52:52,278 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-05 11:52:52,278 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-05 11:52:52,280 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-05 11:52:52,282 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-05 11:52:52,286 INFO sqlalchemy.engine.Engine DESCRIBE `indisalud`.`Indicadores`
2023-12-05 11:52:52,289 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-05 11:52:52,293 INFO sqlalchemy.engine.Engine
CREATE TABLE `Indicadores` (
	`Indicadores_ID` BIGINT,
	`Indicadores` TEXT,
	`Categoría_ID` BIGINT
)


2023-12-05 11:52:52,293 INFO sqlalchemy.engine.Engine [no key 0.00111s] {}
2023-12-05 11:52:52,314 INFO sqlalchemy.engine.Engine INSERT INTO `Indicadores` (`Indicadores_ID`, `Indicadores`, `Categoría_ID`) VALUES (%(Indicadores_ID)s, %(Indicadores)s, %(Categoría_ID)s)
2023-12-05 11:52:52,314 INFO sqlalchemy.engine.Engine [generated in 0.00190s] [{'Indicadores_ID': 1, 'Indicadores': 'Años de vida saludable al nacer', 'Categoría_ID': 1}, {'Indicadores_ID': 2, 'Indicadores': 'Años de vida saludable a los 65 años', 'Categoría_ID': 1}, {'Indicadores_ID': 3, 'Indicadores': 'Consumo diario de frutas yo verduras en adultos', 'Categoría_ID': 4}, {'Indicadores_ID': 4, 'Indicadores': 'Consumo diario de frutas yo verduras en jovenes', 'Categoría_ID': 4}, {'Indicadores_ID': 5, 'Indicadores': 'Consumo intensivo de alcohol al menos una vez al mes en los ultimos 12 meses en jovenes', 'Categoría_ID': 4}, {'Indicadores_ID': 6, 'Indicadores': 'Deterioro cognitivo en 65 y mas años', 'Categoría_ID': 4}, {'Indicadores_ID': 7, 'Indicadores': 'Dificultad para la movilidad en 65 y mas años', 'Categoría_ID': 4}, {'Indicadores_ID': 8, 'Indicadores': 'Esperanza de vida al nacer', 'Categoría_ID': 1}  ... displaying 10 of 70 total bound parameter sets ...  {'Indicadores_ID': 69, 'Indicadores': 'Tasa de natalidad por 1000 habitantes', 'Categoría_ID': 3}, {'Indicadores_ID': 70, 'Indicadores': 'Tasa de riesgo de pobreza indicador AROPE', 'Categoría_ID': 4}]
2023-12-05 11:52:52,322 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `indisalud`
2023-12-05 11:52:52,323 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-05 11:52:52,326 INFO sqlalchemy.engine.Engine COMMIT
2023-12-05 11:52:52,329 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-05 11:52:52,330 INFO sqlalchemy.engine.Engine ALTER TABLE `Indicadores` ADD PRIMARY KEY (`Indicadores_ID`),ADD FOREIGN KEY (`Categoría_ID`) REFERENCES `Categoría` (`Categoría_ID`)
2023-12-05 11:52:52,331 INFO sqlalchemy.engine.Engine [generated in 0.00194s] {}
2023-12-05 11:52:52,362 INFO sqlalchemy.engine.Engine ROLLBACK
2023-12-05 11:52:52,654 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-05 11:52:52,654 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-05 11:52:52,654 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-05 11:52:52,654 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-05 11:52:52,660 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-05 11:52:52,661 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-05 11:52:52,662 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-05 11:52:52,666 INFO sqlalchemy.engine.Engine DESCRIBE `indisalud`.`Valores`
2023-12-05 11:52:52,669 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-05 11:52:52,675 INFO sqlalchemy.engine.Engine
CREATE TABLE `Valores` (
	`Region_ID` BIGINT,
	`Año` BIGINT,
	`Genero` TEXT,
	`Valores` TEXT,
	`Indicadores_ID` BIGINT,
	`Valores_ID` BIGINT
)


2023-12-05 11:52:52,675 INFO sqlalchemy.engine.Engine [no key 0.00113s] {}
2023-12-05 11:52:52,821 INFO sqlalchemy.engine.Engine INSERT INTO `Valores` (`Region_ID`, `Año`, `Genero`, `Valores`, `Indicadores_ID`, `Valores_ID`) VALUES (%(Region_ID)s, %(Año)s, %(Genero)s, %(Valores)s, %(Indicadores_ID)s, %(Valores_ID)s)
2023-12-05 11:52:52,821 INFO sqlalchemy.engine.Engine [generated in 0.05810s] [{'Region_ID': 1, 'Año': 2018, 'Genero': 'Hombre', 'Valores': '76.91', 'Indicadores_ID': 1, 'Valores_ID': 1}, {'Region_ID': 2, 'Año': 2018, 'Genero': 'Hombre', 'Valores': '74.41', 'Indicadores_ID': 1, 'Valores_ID': 2}, {'Region_ID': 3, 'Año': 2018, 'Genero': 'Hombre', 'Valores': '79.39', 'Indicadores_ID': 1, 'Valores_ID': 3}, {'Region_ID': 4, 'Año': 2018, 'Genero': 'Hombre', 'Valores': '74.96', 'Indicadores_ID': 1, 'Valores_ID': 4}, {'Region_ID': 5, 'Año': 2018, 'Genero': 'Hombre', 'Valores': '79.22', 'Indicadores_ID': 1, 'Valores_ID': 5}, {'Region_ID': 6, 'Año': 2018, 'Genero': 'Hombre', 'Valores': '75.67', 'Indicadores_ID': 1, 'Valores_ID': 6}, {'Region_ID': 7, 'Año': 2018, 'Genero': 'Hombre', 'Valores': '78.68', 'Indicadores_ID': 1, 'Valores_ID': 7}, {'Region_ID': 8, 'Año': 2018, 'Genero': 'Hombre', 'Valores': '78.32', 'Indicadores_ID': 1, 'Valores_ID': 8}  ... displaying 10 of 9736 total bound parameter sets ...  {'Region_ID': 1, 'Año': 2019, 'Genero': 'Mujer', 'Valores': '27.1', 'Indicadores_ID': 70, 'Valores_ID': 9735}, {'Region_ID': 1, 'Año': 2017, 'Genero': 'Mujer', 'Valores': '28.3', 'Indicadores_ID': 70, 'Valores_ID': 9736}]
2023-12-05 11:52:53,090 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `indisalud`
2023-12-05 11:52:53,091 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-05 11:52:53,094 INFO sqlalchemy.engine.Engine COMMIT
2023-12-05 11:52:53,099 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-05 11:52:53,102 INFO sqlalchemy.engine.Engine ALTER TABLE `Valores` ADD CONSTRAINT fk1_regionid FOREIGN KEY (`Region_ID`) REFERENCES `Region` (`Region_ID`), ADD CONSTRAINT fk2_indicadores FOREIGN KEY (`Indicadores_ID`) REFERENCES `Indicadores` (`Indicadores_ID`)
2023-12-05 11:52:53,103 INFO sqlalchemy.engine.Engine [generated in 0.00505s] {}
2023-12-05 11:52:53,308 INFO sqlalchemy.engine.Engine ROLLBACK

In [43]:
for filename in os.listdir('../data/processed'):
    if filename != "Valores.csv" and filename !='Indicadores.csv':
        print(filename)

Categoría.csv
Region.csv