In [1]:
import pandas as pd

In [19]:
df1 = pd.read_excel('..\data\Ingresos_medios_por_persona_euros.xls')

df1

,Ingresos medios por persona (euros),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,CC.AA.,Años,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2017,NaN,NaN,2018,NaN,NaN,2019,NaN,NaN,2020,NaN,NaN,2021,NaN,NaN,2022,NaN,NaN
2,NaN,Hombres,Mujeres,Total,Hombres,Mujeres,Total,Hombres,Mujeres,Total,Hombres,Mujeres,Total,Hombres,Mujeres,Total,Hombres,Mujeres,Total
3,España (ES),11153,10998,11074,11549,11279,11412,11768,11595,11680,12433,12156,12292,12358,12184,12269,13180,12843,13008
4,Andalucía (AN),NaN,NaN,9116,NaN,NaN,9258,NaN,NaN,9160,NaN,NaN,9990,NaN,NaN,9915,NaN,NaN,10703
5,Aragón (AR),NaN,NaN,12110,NaN,NaN,11990,NaN,NaN,12300,NaN,NaN,13097,NaN,NaN,13345,NaN,NaN,14015
6,"Asturias, Principado de (AS)",NaN,NaN,12244,NaN,NaN,12085,NaN,NaN,12523,NaN,NaN,12786,NaN,NaN,12861,NaN,NaN,13777
7,"Balears, Illes (IB)",NaN,NaN,12665,NaN,NaN,13240,NaN,NaN,12410,NaN,NaN,12658,NaN,NaN,11235,NaN,NaN,12451
8,Canarias (CN),NaN,NaN,8863,NaN,NaN,8964,NaN,NaN,9487,NaN,NaN,9935,NaN,NaN,10161,NaN,NaN,10716
9,Cantabria (CB),NaN,NaN,11293,NaN,NaN,11239,NaN,NaN,12205,NaN,NaN,12748,NaN,NaN,12848,NaN,NaN,13811
10,Castilla y León (CL),NaN,NaN,11239,NaN,NaN,11949,NaN,NaN,12003,NaN,NaN,12697,NaN,NaN,12656,NaN,NaN,13323
11,Castilla - La Mancha (CM),NaN,NaN,9045,NaN,NaN,9533,NaN,NaN,9715,NaN,NaN,10485,NaN,NaN,10257,NaN,NaN,11037
12,Cataluña (CT),NaN,NaN,12712,NaN,NaN,13338,NaN,NaN,13527,NaN,NaN,14170,NaN,NaN,14159,NaN,NaN,14692
13,Comunitat Valenciana (VC),NaN,NaN,9801,NaN,NaN,10232,NaN,NaN,10611,NaN,NaN,11332,NaN,NaN,11237,NaN,NaN,11876
14,Extremadura (EX),NaN,NaN,8250,NaN,NaN,8503,NaN,NaN,8796,NaN,NaN,9147,NaN,NaN,9500,NaN,NaN,10133
15,Galicia (GA),NaN,NaN,10753,NaN,NaN,11239,NaN,NaN,11218,NaN,NaN,11469,NaN,NaN,11453,NaN,NaN,12352
16,"Madrid, Comunidad de (MD)",NaN,NaN,13099,NaN,NaN,13279,NaN,NaN,14199,NaN,NaN,14580,NaN,NaN,14836,NaN,NaN,15695
17,"Murcia, Región de (MC)",NaN,NaN,8702,NaN,NaN,9111,NaN,NaN,8956,NaN,NaN,9850,NaN,NaN,9931,NaN,NaN,10632
18,"Navarra, C. Foral de (NC)",NaN,NaN,13583,NaN,NaN,13585,NaN,NaN,13937,NaN,NaN,15094,NaN,NaN,15269,NaN,NaN,15970
19,País Vasco (PV),NaN,NaN,14397,NaN,NaN,14722,NaN,NaN,15300,NaN,NaN,15813,NaN,NaN,15544,NaN,NaN,16427
20,La Rioja (RI),NaN,NaN,12131,NaN,NaN,12029,NaN,NaN,12697,NaN,NaN,13504,NaN,NaN,12913,NaN,NaN,13538
21,Ceuta (CE),NaN,NaN,9676,NaN,NaN,9784,NaN,NaN,10164,NaN,NaN,9853,NaN,NaN,10397,NaN,NaN,12152
22,Melilla (ML),NaN,NaN,10161,NaN,NaN,12507,NaN,NaN,11733,NaN,NaN,11427,NaN,NaN,12012,NaN,NaN,13089
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Observaciones generales:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,"En la encuesta de Condiciones de Vida, los ing...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# En este df tenemos todo nulo excepto totales y la fila España, esta me interesa