In [2]:
import pandas as pd

In [23]:
df = pd.read_excel('..\data\Indice_de_dependencia.xls')

In [24]:
df

,Índice de dependencia,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,CC.AA.,Años,NaN,NaN,NaN,NaN,NaN
1,NaN,2017,2018,2019,2020,2021,2022
2,NaN,Total,Total,Total,Total,Total,Total
3,España (ES),53.83,54.19,54.29,54.2,54.04,54.16
4,Andalucía (AN),51.32,51.61,51.8,51.81,51.71,51.66
5,Aragón (AR),57.59,58.07,58.08,57.91,57.62,58.59
6,"Asturias, Principado de (AS)",57.58,58.65,59.73,60.54,61.07,62.07
7,"Balears, Illes (IB)",46.52,46.59,46.42,46.18,46.29,46.6
8,Canarias (CN),43.7,43.84,43.77,43.71,43.84,43.96
9,Cantabria (CB),55.05,55.95,56.56,56.96,57.17,57.62
10,Castilla y León (CL),60.09,60.82,61.37,61.83,61.82,62.52
11,Castilla - La Mancha (CM),53.81,54.12,54.2,54.04,53.46,53.53
12,Cataluña (CT),55.46,55.69,55.51,55.23,54.82,54.77
13,Comunitat Valenciana (VC),54.31,54.71,54.86,54.75,54.72,54.6
14,Extremadura (EX),53.96,54.29,54.56,54.71,54.67,54.88
15,Galicia (GA),59.55,60.37,60.94,61.34,61.64,62.08
16,"Madrid, Comunidad de (MD)",52.2,52.47,52.39,51.99,51.56,51.62
17,"Murcia, Región de (MC)",51.86,51.84,51.81,51.47,51.31,51.16
18,"Navarra, C. Foral de (NC)",56.81,57.18,57.22,57.16,57.07,57.49
19,País Vasco (PV),59.14,59.91,60.32,60.44,60.6,61.09
20,La Rioja (RI),57.04,57.53,57.86,57.87,57.78,58.11
21,Ceuta (CE),50.95,51.14,51.07,50.8,50.39,49.5
22,Melilla (ML),55.31,55.99,56,56.17,55.92,55.46

In [22]:
datos = df.iloc[3:, 1:]

datos

   Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6
3       53.83      54.19      54.29       54.2      54.04      54.16
4       51.32      51.61       51.8      51.81      51.71      51.66
5       57.59      58.07      58.08      57.91      57.62      58.59
6       57.58      58.65      59.73      60.54      61.07      62.07
7       46.52      46.59      46.42      46.18      46.29       46.6
8        43.7      43.84      43.77      43.71      43.84      43.96
9       55.05      55.95      56.56      56.96      57.17      57.62
10      60.09      60.82      61.37      61.83      61.82      62.52
11      53.81      54.12       54.2      54.04      53.46      53.53
12      55.46      55.69      55.51      55.23      54.82      54.77
13      54.31      54.71      54.86      54.75      54.72       54.6
14      53.96      54.29      54.56      54.71      54.67      54.88
15      59.55      60.37      60.94      61.34      61.64      62.08
16       52.2      52.47      52.39      51.99      51.56      51.62
17      51.86      51.84      51.81      51.47      51.31      51.16
18      56.81      57.18      57.22      57.16      57.07      57.49
19      59.14      59.91      60.32      60.44       60.6      61.09
20      57.04      57.53      57.86      57.87      57.78      58.11
21      50.95      51.14      51.07       50.8      50.39       49.5
22      55.31      55.99         56      56.17      55.92      55.46

In [40]:
df1 = pd.read_excel('../data/Anos_de_vida_saludable_al_nacer.xls')

df1

,Años de vida saludable al nacer,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,CC.AA.,Años,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2017,NaN,NaN,2018,NaN,NaN,2019,NaN,NaN,2020,NaN,NaN,2021,NaN,NaN
2,NaN,Hombres,Mujeres,Total,Hombres,Mujeres,Total,Hombres,Mujeres,Total,Hombres,Mujeres,Total,Hombres,Mujeres,Total
3,España (ES),76.93,81.4,79.17,76.91,81.45,79.19,77.98,81.77,79.89,76.76,80.6,78.69,77.43,81.42,79.43
4,Andalucía (AN),74.59,77.92,76.22,74.41,77.86,76.1,77.81,81.11,79.48,77.12,80.5,78.82,77,80.45,78.73
5,Aragón (AR),79.15,83.78,81.4,79.39,83.89,81.57,79.26,82.86,81.28,77.71,81.18,79.64,78.48,82.2,80.54
6,"Asturias, Principado de (AS)",74.98,79.9,77.29,74.96,79.85,77.26,76.94,80.58,78.81,76.24,79.85,78.08,77.07,80.18,78.68
7,"Balears, Illes (IB)",78.8,83.91,81.16,79.22,84.26,81.54,79.92,81.06,80.46,79.66,80.98,80.3,79.36,80.99,80.14
8,Canarias (CN),76.12,81.26,78.8,75.67,80.96,78.4,77.72,81.1,79.22,77.68,80.97,79.13,77.56,80.88,79.02
9,Cantabria (CB),78.83,82.21,80.08,78.68,82.23,80.01,77.26,80.61,79,76.8,79.97,78.44,77.11,80.94,79.07
10,Castilla y León (CL),78.26,84.46,81.28,78.32,84.39,81.29,78.14,82.99,80.49,76.32,81.03,78.57,77.66,83.02,80.23
11,Castilla - La Mancha (CM),77,82.26,79.58,77.41,82.67,79.99,79.7,83.29,81.51,76.88,80.95,78.86,78.78,83.09,80.91
12,Cataluña (CT),76.93,80.71,78.84,76.91,80.74,78.84,78.43,83.81,81.19,76.74,81.91,79.36,77.85,83.38,80.67
13,Comunitat Valenciana (VC),77.32,82.41,79.9,77.3,82.39,79.88,77.06,79.91,78.54,76.46,79.26,77.91,76.18,79.26,77.76
14,Extremadura (EX),78,81.46,79.7,78.16,81.75,79.91,78.71,83.67,81.28,77.8,82.49,80.21,78.05,83.07,80.63
15,Galicia (GA),78.44,84.1,81.26,78.3,84.14,81.2,76.2,80.31,78.23,75.95,80.09,77.99,76.03,80.27,78.11
16,"Madrid, Comunidad de (MD)",78.94,82.38,80.71,79.08,82.78,80.98,78.85,81.77,80.41,75.96,79.5,77.8,78.2,81.75,80.08
17,"Murcia, Región de (MC)",73.62,77.39,75.46,73.78,77.42,75.55,77.01,79.14,77.98,76.58,79.12,77.76,76.55,78.95,77.67
18,"Navarra, C. Foral de (NC)",77.76,81.77,79.81,77.97,81.99,80.03,78.78,83.15,81.02,77.34,81.86,79.61,78.36,83.33,80.86
19,País Vasco (PV),78.56,84.45,81.55,78.73,84.33,81.57,79.46,82.76,81.09,78.64,81.95,80.28,79.18,82.4,80.78
20,La Rioja (RI),78.87,82.04,80.38,78.63,81.98,80.24,78.7,81.42,80.24,77.2,80.32,78.9,78,80.87,79.6
21,Ceuta (CE),73.49,78.39,75.95,74.33,78.01,76.23,71.5,68.23,69.91,70.62,66.78,68.71,70.28,67.11,68.6
22,Melilla (ML),73.49,78.39,75.95,74.33,78.01,76.23,71.5,68.23,69.91,70.62,66.78,68.71,70.28,67.11,68.6
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Observaciones generales:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,La metodología para el cálculo de este indicad...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
dato = df1.iloc[3:, 1:]

dato

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
3,76.93,81.4,79.17,76.91,81.45,79.19,77.98,81.77,79.89,76.76,80.6,78.69,77.43,81.42,79.43
4,74.59,77.92,76.22,74.41,77.86,76.1,77.81,81.11,79.48,77.12,80.5,78.82,77,80.45,78.73
5,79.15,83.78,81.4,79.39,83.89,81.57,79.26,82.86,81.28,77.71,81.18,79.64,78.48,82.2,80.54
6,74.98,79.9,77.29,74.96,79.85,77.26,76.94,80.58,78.81,76.24,79.85,78.08,77.07,80.18,78.68
7,78.8,83.91,81.16,79.22,84.26,81.54,79.92,81.06,80.46,79.66,80.98,80.3,79.36,80.99,80.14
8,76.12,81.26,78.8,75.67,80.96,78.4,77.72,81.1,79.22,77.68,80.97,79.13,77.56,80.88,79.02
9,78.83,82.21,80.08,78.68,82.23,80.01,77.26,80.61,79,76.8,79.97,78.44,77.11,80.94,79.07
10,78.26,84.46,81.28,78.32,84.39,81.29,78.14,82.99,80.49,76.32,81.03,78.57,77.66,83.02,80.23
11,77,82.26,79.58,77.41,82.67,79.99,79.7,83.29,81.51,76.88,80.95,78.86,78.78,83.09,80.91
12,76.93,80.71,78.84,76.91,80.74,78.84,78.43,83.81,81.19,76.74,81.91,79.36,77.85,83.38,80.67
13,77.32,82.41,79.9,77.3,82.39,79.88,77.06,79.91,78.54,76.46,79.26,77.91,76.18,79.26,77.76
14,78,81.46,79.7,78.16,81.75,79.91,78.71,83.67,81.28,77.8,82.49,80.21,78.05,83.07,80.63
15,78.44,84.1,81.26,78.3,84.14,81.2,76.2,80.31,78.23,75.95,80.09,77.99,76.03,80.27,78.11
16,78.94,82.38,80.71,79.08,82.78,80.98,78.85,81.77,80.41,75.96,79.5,77.8,78.2,81.75,80.08
17,73.62,77.39,75.46,73.78,77.42,75.55,77.01,79.14,77.98,76.58,79.12,77.76,76.55,78.95,77.67
18,77.76,81.77,79.81,77.97,81.99,80.03,78.78,83.15,81.02,77.34,81.86,79.61,78.36,83.33,80.86
19,78.56,84.45,81.55,78.73,84.33,81.57,79.46,82.76,81.09,78.64,81.95,80.28,79.18,82.4,80.78
20,78.87,82.04,80.38,78.63,81.98,80.24,78.7,81.42,80.24,77.2,80.32,78.9,78,80.87,79.6
21,73.49,78.39,75.95,74.33,78.01,76.23,71.5,68.23,69.91,70.62,66.78,68.71,70.28,67.11,68.6
22,73.49,78.39,75.95,74.33,78.01,76.23,71.5,68.23,69.91,70.62,66.78,68.71,70.28,67.11,68.6
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
df1 = df1.drop(df1.tail(3).index) # BORRAR LAS TRES ULTIMAS FILAS , OLO TODOS LO TIENEN ¡¡

In [42]:
  def limpieza(df):
        
    nuevas_columnas = ['CCAA'] + [str(anio) + ' ' + genero for anio, genero in zip(df.iloc[1, 1:], df.iloc[2, 1:])]  # meter número anterior ni es nan 

    df.columns = nuevas_columnas

    # df = df.drop([df.index[1], df.index[2]])

    df = df.set_index('CCAA')


df2 = renombrar_columnas(df1)

In [43]:
df2

,2017 Hombres,nan Mujeres,nan Total,2018 Hombres,nan Mujeres,nan Total,2019 Hombres,nan Mujeres,nan Total,2020 Hombres,nan Mujeres,nan Total,2021 Hombres,nan Mujeres,nan Total
CCAA,,,,,,,,,,,,,,,
CC.AA.,Años,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,2017,NaN,NaN,2018,NaN,NaN,2019,NaN,NaN,2020,NaN,NaN,2021,NaN,NaN
NaN,Hombres,Mujeres,Total,Hombres,Mujeres,Total,Hombres,Mujeres,Total,Hombres,Mujeres,Total,Hombres,Mujeres,Total
España (ES),76.93,81.4,79.17,76.91,81.45,79.19,77.98,81.77,79.89,76.76,80.6,78.69,77.43,81.42,79.43
Andalucía (AN),74.59,77.92,76.22,74.41,77.86,76.1,77.81,81.11,79.48,77.12,80.5,78.82,77,80.45,78.73
Aragón (AR),79.15,83.78,81.4,79.39,83.89,81.57,79.26,82.86,81.28,77.71,81.18,79.64,78.48,82.2,80.54
"Asturias, Principado de (AS)",74.98,79.9,77.29,74.96,79.85,77.26,76.94,80.58,78.81,76.24,79.85,78.08,77.07,80.18,78.68
"Balears, Illes (IB)",78.8,83.91,81.16,79.22,84.26,81.54,79.92,81.06,80.46,79.66,80.98,80.3,79.36,80.99,80.14
Canarias (CN),76.12,81.26,78.8,75.67,80.96,78.4,77.72,81.1,79.22,77.68,80.97,79.13,77.56,80.88,79.02
Cantabria (CB),78.83,82.21,80.08,78.68,82.23,80.01,77.26,80.61,79,76.8,79.97,78.44,77.11,80.94,79.07
Castilla y León (CL),78.26,84.46,81.28,78.32,84.39,81.29,78.14,82.99,80.49,76.32,81.03,78.57,77.66,83.02,80.23
Castilla - La Mancha (CM),77,82.26,79.58,77.41,82.67,79.99,79.7,83.29,81.51,76.88,80.95,78.86,78.78,83.09,80.91
Cataluña (CT),76.93,80.71,78.84,76.91,80.74,78.84,78.43,83.81,81.19,76.74,81.91,79.36,77.85,83.38,80.67
Comunitat Valenciana (VC),77.32,82.41,79.9,77.3,82.39,79.88,77.06,79.91,78.54,76.46,79.26,77.91,76.18,79.26,77.76
Extremadura (EX),78,81.46,79.7,78.16,81.75,79.91,78.71,83.67,81.28,77.8,82.49,80.21,78.05,83.07,80.63
Galicia (GA),78.44,84.1,81.26,78.3,84.14,81.2,76.2,80.31,78.23,75.95,80.09,77.99,76.03,80.27,78.11
"Madrid, Comunidad de (MD)",78.94,82.38,80.71,79.08,82.78,80.98,78.85,81.77,80.41,75.96,79.5,77.8,78.2,81.75,80.08
"Murcia, Región de (MC)",73.62,77.39,75.46,73.78,77.42,75.55,77.01,79.14,77.98,76.58,79.12,77.76,76.55,78.95,77.67
"Navarra, C. Foral de (NC)",77.76,81.77,79.81,77.97,81.99,80.03,78.78,83.15,81.02,77.34,81.86,79.61,78.36,83.33,80.86
País Vasco (PV),78.56,84.45,81.55,78.73,84.33,81.57,79.46,82.76,81.09,78.64,81.95,80.28,79.18,82.4,80.78
La Rioja (RI),78.87,82.04,80.38,78.63,81.98,80.24,78.7,81.42,80.24,77.2,80.32,78.9,78,80.87,79.6
Ceuta (CE),73.49,78.39,75.95,74.33,78.01,76.23,71.5,68.23,69.91,70.62,66.78,68.71,70.28,67.11,68.6
Melilla (ML),73.49,78.39,75.95,74.33,78.01,76.23,71.5,68.23,69.91,70.62,66.78,68.71,70.28,67.11,68.6

In [35]:
tasa = pd.read_excel('..\data\Proporcion_de_poblacion_de_25_a_64_anos_con_nivel_de_estudios_de_1_Etapa_de_educacion_secundaria_o_inferior.xls')

In [36]:
tasa

,Proporción de población de 25 a 64 años con nivel de estudios de 1º Etapa de educación secundaria o inferior,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,CC.AA.,Años,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2017,NaN,NaN,2018,NaN,NaN,2019,NaN,NaN,2020,NaN,NaN,2021,NaN,NaN,2022,NaN,NaN
2,NaN,Hombres,Mujeres,Total,Hombres,Mujeres,Total,Hombres,Mujeres,Total,Hombres,Mujeres,Total,Hombres,Mujeres,Total,Hombres,Mujeres,Total
3,España (ES),43.5,38.3,40.9,42.8,37,39.9,41.7,35.7,38.7,40.2,34.1,37.1,39.5,32.7,36.1,37.7,31,34.4
4,Andalucía (AN),53,48,50.5,51.3,46.6,49,50.1,45.5,47.8,49.8,43.7,46.7,48.3,41.3,44.8,47.21,40.17,43.67
5,Aragón (AR),38.6,33.9,36.3,37.9,32.9,35.5,36.2,32.3,34.3,35,30,32.5,33.8,27.1,30.5,36.18,29.09,32.65
6,"Asturias, Principado de (AS)",36.6,33.3,34.9,35.5,31,33.2,36.5,29.8,33.1,33.6,28.6,31.1,31.8,29.8,30.7,34.46,29.18,31.78
7,"Balears, Illes (IB)",45.3,38,41.7,46.9,37.9,42.4,46,36.8,41.4,41.8,32.2,37.1,38.8,31.7,35.3,41.59,35.27,38.45
8,Canarias (CN),48,42.3,45.2,46.9,42.2,44.6,45.4,40.1,42.7,43.3,35.7,39.5,41.8,33.8,37.8,40.16,32.32,36.22
9,Cantabria (CB),37.4,31.1,34.3,34.4,28.2,31.3,34.6,28,31.3,35,29.7,32.3,34.7,28.1,31.4,32.42,26.9,29.65
10,Castilla y León (CL),54,46.9,50.5,52.6,47.3,50,51.4,45.6,48.5,51.3,43,47.3,41.1,30.6,35.9,39.85,30.39,35.17
11,Castilla - La Mancha (CM),43.9,36.3,40.2,43.8,35.4,39.7,42.4,34.7,38.6,41,33.7,37.4,49.9,41.5,45.8,49.34,42.18,45.85
12,Cataluña (CT),41.8,36.8,39.2,40.4,34.7,37.6,39.6,33.1,36.3,38.4,34,36.2,37.7,31,34.3,36.27,29.99,33.1
13,Comunitat Valenciana (VC),45.9,39.4,42.7,44.7,36.9,40.8,43.8,36,39.9,41.9,33.5,37.7,41.4,34.4,37.9,43.58,37.88,40.72
14,Extremadura (EX),59.4,54.3,56.9,59.3,50.4,55,59.4,47.8,53.7,57.4,47.1,52.3,53.9,45.3,49.7,54.27,42.2,48.3
15,Galicia (GA),46,39.4,42.7,44.5,37.8,41.1,42.6,36.3,39.4,41.3,33.7,37.5,40.5,31.8,36.1,39.12,31.63,35.33
16,"Madrid, Comunidad de (MD)",28.3,26,27.1,30,25.6,27.7,27.4,24.4,25.9,25.7,22.5,24.1,27.8,22.9,25.3,26.07,22.39,24.18
17,"Murcia, Región de (MC)",50.8,45.8,48.3,49.1,44.6,46.9,51.3,43.7,47.5,49.5,42.2,45.9,45.1,43.6,44.4,50.48,43.42,47
18,"Navarra, C. Foral de (NC)",34.4,29.8,32.1,34.2,28.3,31.3,32.1,26.3,29.2,31.8,25.7,28.8,24.8,21.5,28.3,31.25,24.38,27.83
19,País Vasco (PV),29.7,27.8,28.8,29.1,27.4,28.3,29.8,26,27.9,26.3,23.1,24.7,32.1,24.4,23.1,24.14,20.3,22.2
20,La Rioja (RI),41.5,35.8,38.6,41.8,34.7,38.2,44.2,32.5,38.4,43.5,32.5,38,40.5,31.3,35.9,38.32,28.33,33.32
21,Ceuta (CE),51.8,55.9,53.8,54.5,53.8,54.1,53.2,53.6,53.4,50,48.3,49.2,48.7,44.6,46.7,59.63,48.7,54.52
22,Melilla (ML),45.8,47.7,46.7,46.3,49.5,47.8,45.6,50.1,47.8,39.4,44.5,41.9,41.8,41.5,41.6,41.67,41.56,41.61