In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel('../data/Anos_de_vida_saludable_al_nacer.xls')

df1

,Años de vida saludable al nacer,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,CC.AA.,Años,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2017,NaN,NaN,2018,NaN,NaN,2019,NaN,NaN,2020,NaN,NaN,2021,NaN,NaN
2,NaN,Hombres,Mujeres,Total,Hombres,Mujeres,Total,Hombres,Mujeres,Total,Hombres,Mujeres,Total,Hombres,Mujeres,Total
3,España (ES),76.93,81.4,79.17,76.91,81.45,79.19,77.98,81.77,79.89,76.76,80.6,78.69,77.43,81.42,79.43
4,Andalucía (AN),74.59,77.92,76.22,74.41,77.86,76.1,77.81,81.11,79.48,77.12,80.5,78.82,77,80.45,78.73
5,Aragón (AR),79.15,83.78,81.4,79.39,83.89,81.57,79.26,82.86,81.28,77.71,81.18,79.64,78.48,82.2,80.54
6,"Asturias, Principado de (AS)",74.98,79.9,77.29,74.96,79.85,77.26,76.94,80.58,78.81,76.24,79.85,78.08,77.07,80.18,78.68
7,"Balears, Illes (IB)",78.8,83.91,81.16,79.22,84.26,81.54,79.92,81.06,80.46,79.66,80.98,80.3,79.36,80.99,80.14
8,Canarias (CN),76.12,81.26,78.8,75.67,80.96,78.4,77.72,81.1,79.22,77.68,80.97,79.13,77.56,80.88,79.02
9,Cantabria (CB),78.83,82.21,80.08,78.68,82.23,80.01,77.26,80.61,79,76.8,79.97,78.44,77.11,80.94,79.07
10,Castilla y León (CL),78.26,84.46,81.28,78.32,84.39,81.29,78.14,82.99,80.49,76.32,81.03,78.57,77.66,83.02,80.23
11,Castilla - La Mancha (CM),77,82.26,79.58,77.41,82.67,79.99,79.7,83.29,81.51,76.88,80.95,78.86,78.78,83.09,80.91
12,Cataluña (CT),76.93,80.71,78.84,76.91,80.74,78.84,78.43,83.81,81.19,76.74,81.91,79.36,77.85,83.38,80.67
13,Comunitat Valenciana (VC),77.32,82.41,79.9,77.3,82.39,79.88,77.06,79.91,78.54,76.46,79.26,77.91,76.18,79.26,77.76
14,Extremadura (EX),78,81.46,79.7,78.16,81.75,79.91,78.71,83.67,81.28,77.8,82.49,80.21,78.05,83.07,80.63
15,Galicia (GA),78.44,84.1,81.26,78.3,84.14,81.2,76.2,80.31,78.23,75.95,80.09,77.99,76.03,80.27,78.11
16,"Madrid, Comunidad de (MD)",78.94,82.38,80.71,79.08,82.78,80.98,78.85,81.77,80.41,75.96,79.5,77.8,78.2,81.75,80.08
17,"Murcia, Región de (MC)",73.62,77.39,75.46,73.78,77.42,75.55,77.01,79.14,77.98,76.58,79.12,77.76,76.55,78.95,77.67
18,"Navarra, C. Foral de (NC)",77.76,81.77,79.81,77.97,81.99,80.03,78.78,83.15,81.02,77.34,81.86,79.61,78.36,83.33,80.86
19,País Vasco (PV),78.56,84.45,81.55,78.73,84.33,81.57,79.46,82.76,81.09,78.64,81.95,80.28,79.18,82.4,80.78
20,La Rioja (RI),78.87,82.04,80.38,78.63,81.98,80.24,78.7,81.42,80.24,77.2,80.32,78.9,78,80.87,79.6
21,Ceuta (CE),73.49,78.39,75.95,74.33,78.01,76.23,71.5,68.23,69.91,70.62,66.78,68.71,70.28,67.11,68.6
22,Melilla (ML),73.49,78.39,75.95,74.33,78.01,76.23,71.5,68.23,69.91,70.62,66.78,68.71,70.28,67.11,68.6
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Observaciones generales:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,La metodología para el cálculo de este indicad...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# LIMPIEZA COLUMNAS COLOCANDO AÑO Y GÉNERO:

def limpieza_columnas(df):
    
    df_copy = df.copy()
    
    years = df_copy.iloc[1].values
    genders = df_copy.iloc[2].values
    
    # Crear los nuevos nombres de las columnas
    new_columns = []
    current_year = None
    for i in range(len(years)):
        if pd.isna(years[i]):
            new_columns.append(f'{current_year}_{genders[i]}')
        else:
            current_year = years[i]
            new_columns.append(f'{current_year}_{genders[i]}')
    
    df_copy.columns = new_columns
    
    df_copy = df_copy.iloc[3:]
    
    df_copy.set_index(df_copy.columns[0], inplace=True)
    
    # Eliminar las tres últimas filas si tienen más de un 90% de valores nulos, hay algunos excel que tienen nulos al final como observaciones
    rows_to_drop = df_copy.tail(3).index[df_copy.tail(3).isnull().mean(axis=1) > 0.9]
    df_copy = df_copy.drop(rows_to_drop)
    
    df_copy = df_copy.reset_index()
      
    df_copy.rename(columns={'None_nan': 'Region'}, inplace=True)
      
    return df_copy

test = limpieza_columnas(df1)

In [4]:
test

,Region,2017_Hombres,2017_Mujeres,2017_Total,2018_Hombres,2018_Mujeres,2018_Total,2019_Hombres,2019_Mujeres,2019_Total,2020_Hombres,2020_Mujeres,2020_Total,2021_Hombres,2021_Mujeres,2021_Total
0,España (ES),76.93,81.4,79.17,76.91,81.45,79.19,77.98,81.77,79.89,76.76,80.6,78.69,77.43,81.42,79.43
1,Andalucía (AN),74.59,77.92,76.22,74.41,77.86,76.1,77.81,81.11,79.48,77.12,80.5,78.82,77,80.45,78.73
2,Aragón (AR),79.15,83.78,81.4,79.39,83.89,81.57,79.26,82.86,81.28,77.71,81.18,79.64,78.48,82.2,80.54
3,"Asturias, Principado de (AS)",74.98,79.9,77.29,74.96,79.85,77.26,76.94,80.58,78.81,76.24,79.85,78.08,77.07,80.18,78.68
4,"Balears, Illes (IB)",78.8,83.91,81.16,79.22,84.26,81.54,79.92,81.06,80.46,79.66,80.98,80.3,79.36,80.99,80.14
5,Canarias (CN),76.12,81.26,78.8,75.67,80.96,78.4,77.72,81.1,79.22,77.68,80.97,79.13,77.56,80.88,79.02
6,Cantabria (CB),78.83,82.21,80.08,78.68,82.23,80.01,77.26,80.61,79,76.8,79.97,78.44,77.11,80.94,79.07
7,Castilla y León (CL),78.26,84.46,81.28,78.32,84.39,81.29,78.14,82.99,80.49,76.32,81.03,78.57,77.66,83.02,80.23
8,Castilla - La Mancha (CM),77,82.26,79.58,77.41,82.67,79.99,79.7,83.29,81.51,76.88,80.95,78.86,78.78,83.09,80.91
9,Cataluña (CT),76.93,80.71,78.84,76.91,80.74,78.84,78.43,83.81,81.19,76.74,81.91,79.36,77.85,83.38,80.67
10,Comunitat Valenciana (VC),77.32,82.41,79.9,77.3,82.39,79.88,77.06,79.91,78.54,76.46,79.26,77.91,76.18,79.26,77.76
11,Extremadura (EX),78,81.46,79.7,78.16,81.75,79.91,78.71,83.67,81.28,77.8,82.49,80.21,78.05,83.07,80.63
12,Galicia (GA),78.44,84.1,81.26,78.3,84.14,81.2,76.2,80.31,78.23,75.95,80.09,77.99,76.03,80.27,78.11
13,"Madrid, Comunidad de (MD)",78.94,82.38,80.71,79.08,82.78,80.98,78.85,81.77,80.41,75.96,79.5,77.8,78.2,81.75,80.08
14,"Murcia, Región de (MC)",73.62,77.39,75.46,73.78,77.42,75.55,77.01,79.14,77.98,76.58,79.12,77.76,76.55,78.95,77.67
15,"Navarra, C. Foral de (NC)",77.76,81.77,79.81,77.97,81.99,80.03,78.78,83.15,81.02,77.34,81.86,79.61,78.36,83.33,80.86
16,País Vasco (PV),78.56,84.45,81.55,78.73,84.33,81.57,79.46,82.76,81.09,78.64,81.95,80.28,79.18,82.4,80.78
17,La Rioja (RI),78.87,82.04,80.38,78.63,81.98,80.24,78.7,81.42,80.24,77.2,80.32,78.9,78,80.87,79.6
18,Ceuta (CE),73.49,78.39,75.95,74.33,78.01,76.23,71.5,68.23,69.91,70.62,66.78,68.71,70.28,67.11,68.6
19,Melilla (ML),73.49,78.39,75.95,74.33,78.01,76.23,71.5,68.23,69.91,70.62,66.78,68.71,70.28,67.11,68.6

In [5]:
import pandas as pd
region = []
def reorganizar_dataframe(df):
    # Crear un nuevo dataframe vacío
    nuevo_df = pd.DataFrame(columns=['Region', 'Año', 'Hombres', 'Mujeres', 'Total'])

    # Iterar sobre cada fila en el dataframe original
    for index, row in df.iterrows():
        # Obtener la región de la fila actual
        region = row['Region']

        # Iterar sobre cada año en la fila actual
        for año in range(2017, 2022):
            # Crear un nuevo dataframe con los datos de la fila y el año actuales
            df_temp = pd.DataFrame({
                'Region': [region],
                'Año': [año],
                'Hombres': [row[str(año) + ' Hombres']],
                'Mujeres': [row[str(año) + ' Mujeres']],
                'Total': [row[str(año) + ' Total']]
            })

            # Añadir el dataframe temporal al nuevo dataframe
            nuevo_df = pd.concat([nuevo_df, df_temp])

    # Restablecer los índices del nuevo dataframe
    nuevo_df.reset_index(drop=True, inplace=True)

    return nuevo_df

In [6]:
region = []
for index, row in test.iterrows():
        # Obtener la región de la fila actual
        region = row['Region']

In [7]:
test.iterrows()

In [8]:
# Función para transformar el DataFrame original
def transformar_dataframe(original_df, year):
    columns = ['Region', 'Año', 'Hombres', 'Mujeres', 'Total']
    new_df = pd.DataFrame(columns=columns)
    
    new_df['Region'] = original_df['Region']
    new_df['Año'] = year
    new_df['Hombres'] = original_df[f'{year}_Hombres']
    new_df['Mujeres'] = original_df[f'{year}_Mujeres']
    new_df['Total'] = original_df[f'{year}_Total']
    
    return new_df

# Iterar sobre los años y crear DataFrames transformados
years = ['2017', '2018', '2019', '2020', '2021']
transformed_dfs = [transformar_dataframe(test, year) for year in years]

# Concatenar los DataFrames resultantes
result_df = pd.concat(transformed_dfs, ignore_index=True)

In [9]:
result_df

                          Region   Año Hombres Mujeres  Total
0                    España (ES)  2017   76.93    81.4  79.17
1                 Andalucía (AN)  2017   74.59   77.92  76.22
2                    Aragón (AR)  2017   79.15   83.78   81.4
3   Asturias, Principado de (AS)  2017   74.98    79.9  77.29
4            Balears, Illes (IB)  2017    78.8   83.91  81.16
..                           ...   ...     ...     ...    ...
95     Navarra, C. Foral de (NC)  2021   78.36   83.33  80.86
96               País Vasco (PV)  2021   79.18    82.4  80.78
97                 La Rioja (RI)  2021      78   80.87   79.6
98                    Ceuta (CE)  2021   70.28   67.11   68.6
99                  Melilla (ML)  2021   70.28   67.11   68.6

[100 rows x 5 columns]

In [10]:
def reorganizar_dataframe(df):

    nuevo_df = pd.DataFrame(columns=['Region', 'Año', 'Hombres', 'Mujeres', 'Total'])

    for index, row in df.iterrows():
        # Obtener la región de la fila actual
        region = row['Region']

        # Crear un nuevo dataframe con los datos de la fila y el año actuales
        df_temp = pd.DataFrame({
            'Region': [region],
            'Año': [2017],
            'Hombres': [row['2017_Hombres']],
            'Mujeres': [row['2017_Mujeres']],
            'Total': [row['2017_Total']]
        })

        # Añadir el dataframe temporal al nuevo dataframe
        nuevo_df = pd.concat([nuevo_df, df_temp])

    # Restablecer los índices del nuevo dataframe
    nuevo_df.reset_index(drop=True, inplace=True)

    return nuevo_df

In [11]:
import pandas as pd

# Función para transformar el DataFrame original
def transformar_dataframe(original_df, categoria):
    columns = ['Region', 'Año', 'Hombres', 'Mujeres', 'Total']
    new_df = pd.DataFrame(columns=columns)
    
    new_df['Region'] = original_df['Region']
    new_df['Año'] = original_df.filter(like=categoria).columns.str.extract('(\d+)')[0]
    new_df['Hombres'] = original_df[f'{new_df["Año"].iloc[0]}_{categoria}']
    new_df['Mujeres'] = original_df[f'{new_df["Año"].iloc[0]}_{categoria}']
    new_df['Total'] = original_df[f'{new_df["Año"].iloc[0]}_{categoria}']
    
    return new_df



categorias = ['Hombres', 'Mujeres', 'Total']

transformed_dfs = [transformar_dataframe(test, categoria) for categoria in categorias]

prueba = pd.concat(transformed_dfs, ignore_index=True)

prueba

                          Region   Año Hombres Mujeres  Total
0                    España (ES)  2017   76.93   76.93  76.93
1                 Andalucía (AN)  2018   74.59   74.59  74.59
2                    Aragón (AR)  2019   79.15   79.15  79.15
3   Asturias, Principado de (AS)  2020   74.98   74.98  74.98
4            Balears, Illes (IB)  2021    78.8    78.8   78.8
5                  Canarias (CN)   NaN   76.12   76.12  76.12
6                 Cantabria (CB)   NaN   78.83   78.83  78.83
7           Castilla y León (CL)   NaN   78.26   78.26  78.26
8      Castilla - La Mancha (CM)   NaN      77      77     77
9                  Cataluña (CT)   NaN   76.93   76.93  76.93
10     Comunitat Valenciana (VC)   NaN   77.32   77.32  77.32
11              Extremadura (EX)   NaN      78      78     78
12                  Galicia (GA)   NaN   78.44   78.44  78.44
13     Madrid, Comunidad de (MD)   NaN   78.94   78.94  78.94
14        Murcia, Región de (MC)   NaN   73.62   73.62  73.62
15     Navarra, C. Foral de (NC)   NaN   77.76   77.76  77.76
16               País Vasco (PV)   NaN   78.56   78.56  78.56
17                 La Rioja (RI)   NaN   78.87   78.87  78.87
18                    Ceuta (CE)   NaN   73.49   73.49  73.49
19                  Melilla (ML)   NaN   73.49   73.49  73.49
20                   España (ES)  2017    81.4    81.4   81.4
21                Andalucía (AN)  2018   77.92   77.92  77.92
22                   Aragón (AR)  2019   83.78   83.78  83.78
23  Asturias, Principado de (AS)  2020    79.9    79.9   79.9
24           Balears, Illes (IB)  2021   83.91   83.91  83.91
25                 Canarias (CN)   NaN   81.26   81.26  81.26
26                Cantabria (CB)   NaN   82.21   82.21  82.21
27          Castilla y León (CL)   NaN   84.46   84.46  84.46
28     Castilla - La Mancha (CM)   NaN   82.26   82.26  82.26
29                 Cataluña (CT)   NaN   80.71   80.71  80.71
30     Comunitat Valenciana (VC)   NaN   82.41   82.41  82.41
31              Extremadura (EX)   NaN   81.46   81.46  81.46
32                  Galicia (GA)   NaN    84.1    84.1   84.1
33     Madrid, Comunidad de (MD)   NaN   82.38   82.38  82.38
34        Murcia, Región de (MC)   NaN   77.39   77.39  77.39
35     Navarra, C. Foral de (NC)   NaN   81.77   81.77  81.77
36               País Vasco (PV)   NaN   84.45   84.45  84.45
37                 La Rioja (RI)   NaN   82.04   82.04  82.04
38                    Ceuta (CE)   NaN   78.39   78.39  78.39
39                  Melilla (ML)   NaN   78.39   78.39  78.39
40                   España (ES)  2017   79.17   79.17  79.17
41                Andalucía (AN)  2018   76.22   76.22  76.22
42                   Aragón (AR)  2019    81.4    81.4   81.4
43  Asturias, Principado de (AS)  2020   77.29   77.29  77.29
44           Balears, Illes (IB)  2021   81.16   81.16  81.16
45                 Canarias (CN)   NaN    78.8    78.8   78.8
46                Cantabria (CB)   NaN   80.08   80.08  80.08
47          Castilla y León (CL)   NaN   81.28   81.28  81.28
48     Castilla - La Mancha (CM)   NaN   79.58   79.58  79.58
49                 Cataluña (CT)   NaN   78.84   78.84  78.84
50     Comunitat Valenciana (VC)   NaN    79.9    79.9   79.9
51              Extremadura (EX)   NaN    79.7    79.7   79.7
52                  Galicia (GA)   NaN   81.26   81.26  81.26
53     Madrid, Comunidad de (MD)   NaN   80.71   80.71  80.71
54        Murcia, Región de (MC)   NaN   75.46   75.46  75.46
55     Navarra, C. Foral de (NC)   NaN   79.81   79.81  79.81
56               País Vasco (PV)   NaN   81.55   81.55  81.55
57                 La Rioja (RI)   NaN   80.38   80.38  80.38
58                    Ceuta (CE)   NaN   75.95   75.95  75.95
59                  Melilla (ML)   NaN   75.95   75.95  75.95

In [15]:
def reformat_df(df):
    
    df_new = pd.DataFrame(columns=['Region', 'Año', 'Hombre', 'Mujer', 'Total'])
    
    years = set(col.split('_')[0] for col in df.columns if '_' in col)
    
    for year in years:
        if f'{year}_Hombres' in df.columns and f'{year}_Mujeres' in df.columns and f'{year}_Total' in df.columns:
            df_year = df[['Region', f'{year}_Hombres', f'{year}_Mujeres', f'{year}_Total']].copy()
            df_year.columns = ['Region', 'Hombre', 'Mujer', 'Total']
            df_year['Año'] = year
            df_new = pd.concat([df_new, df_year], ignore_index=True)
    return df_new

prueba = reformat_df(test)

prueba

                          Region   Año Hombre  Mujer  Total
0                    España (ES)  2020  76.76   80.6  78.69
1                 Andalucía (AN)  2020  77.12   80.5  78.82
2                    Aragón (AR)  2020  77.71  81.18  79.64
3   Asturias, Principado de (AS)  2020  76.24  79.85  78.08
4            Balears, Illes (IB)  2020  79.66  80.98   80.3
..                           ...   ...    ...    ...    ...
95     Navarra, C. Foral de (NC)  2021  78.36  83.33  80.86
96               País Vasco (PV)  2021  79.18   82.4  80.78
97                 La Rioja (RI)  2021     78  80.87   79.6
98                    Ceuta (CE)  2021  70.28  67.11   68.6
99                  Melilla (ML)  2021  70.28  67.11   68.6

[100 rows x 5 columns]

In [17]:
prueba.tail(50)

                          Region   Año Hombre  Mujer  Total
50     Comunitat Valenciana (VC)  2017  77.32  82.41   79.9
51              Extremadura (EX)  2017     78  81.46   79.7
52                  Galicia (GA)  2017  78.44   84.1  81.26
53     Madrid, Comunidad de (MD)  2017  78.94  82.38  80.71
54        Murcia, Región de (MC)  2017  73.62  77.39  75.46
55     Navarra, C. Foral de (NC)  2017  77.76  81.77  79.81
56               País Vasco (PV)  2017  78.56  84.45  81.55
57                 La Rioja (RI)  2017  78.87  82.04  80.38
58                    Ceuta (CE)  2017  73.49  78.39  75.95
59                  Melilla (ML)  2017  73.49  78.39  75.95
60                   España (ES)  2018  76.91  81.45  79.19
61                Andalucía (AN)  2018  74.41  77.86   76.1
62                   Aragón (AR)  2018  79.39  83.89  81.57
63  Asturias, Principado de (AS)  2018  74.96  79.85  77.26
64           Balears, Illes (IB)  2018  79.22  84.26  81.54
65                 Canarias (CN)  2018  75.67  80.96   78.4
66                Cantabria (CB)  2018  78.68  82.23  80.01
67          Castilla y León (CL)  2018  78.32  84.39  81.29
68     Castilla - La Mancha (CM)  2018  77.41  82.67  79.99
69                 Cataluña (CT)  2018  76.91  80.74  78.84
70     Comunitat Valenciana (VC)  2018   77.3  82.39  79.88
71              Extremadura (EX)  2018  78.16  81.75  79.91
72                  Galicia (GA)  2018   78.3  84.14   81.2
73     Madrid, Comunidad de (MD)  2018  79.08  82.78  80.98
74        Murcia, Región de (MC)  2018  73.78  77.42  75.55
75     Navarra, C. Foral de (NC)  2018  77.97  81.99  80.03
76               País Vasco (PV)  2018  78.73  84.33  81.57
77                 La Rioja (RI)  2018  78.63  81.98  80.24
78                    Ceuta (CE)  2018  74.33  78.01  76.23
79                  Melilla (ML)  2018  74.33  78.01  76.23
80                   España (ES)  2021  77.43  81.42  79.43
81                Andalucía (AN)  2021     77  80.45  78.73
82                   Aragón (AR)  2021  78.48   82.2  80.54
83  Asturias, Principado de (AS)  2021  77.07  80.18  78.68
84           Balears, Illes (IB)  2021  79.36  80.99  80.14
85                 Canarias (CN)  2021  77.56  80.88  79.02
86                Cantabria (CB)  2021  77.11  80.94  79.07
87          Castilla y León (CL)  2021  77.66  83.02  80.23
88     Castilla - La Mancha (CM)  2021  78.78  83.09  80.91
89                 Cataluña (CT)  2021  77.85  83.38  80.67
90     Comunitat Valenciana (VC)  2021  76.18  79.26  77.76
91              Extremadura (EX)  2021  78.05  83.07  80.63
92                  Galicia (GA)  2021  76.03  80.27  78.11
93     Madrid, Comunidad de (MD)  2021   78.2  81.75  80.08
94        Murcia, Región de (MC)  2021  76.55  78.95  77.67
95     Navarra, C. Foral de (NC)  2021  78.36  83.33  80.86
96               País Vasco (PV)  2021  79.18   82.4  80.78
97                 La Rioja (RI)  2021     78  80.87   79.6
98                    Ceuta (CE)  2021  70.28  67.11   68.6
99                  Melilla (ML)  2021  70.28  67.11   68.6