In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

import os

import mysql.connector
from sqlalchemy import create_engine, text

import warnings
warnings.filterwarnings('ignore')

import sys
sys.path.append('../src')
from sql_upload_manager import *

In [2]:
files = []

for archivo in os.listdir('../data'):
        
        if archivo.endswith('.csv'):
            
                file = os.path.join('../data', archivo)
                
                files.append((file.replace('.csv', '').replace('../data\\','')))

In [3]:
files

['Anos_de_vida_saludable_al_nacer',
 'Anos_de_vida_saludable_a_los_65_anos',
 'Consumo_diario_de_frutas_yo_verduras_en_adultos',
 'Consumo_diario_de_frutas_yo_verduras_en_jovenes',
 'Consumo_intensivo_de_alcohol_al_menos_una_vez_al_mes_en_los_ultimos_12_meses_en_jovenes',
 'Deterioro_cognitivo_en_65_y_mas_anos',
 'Dificultad_para_la_movilidad_en_65_y_mas_anos',
 'Esperanza_de_vida_al_nacer',
 'Esperanza_de_vida_a_los_65_anos',
 'id',
 'Incidencia_de_accidentes_de_trabajo',
 'Incidencia_de_nuevos_diagnosticos_de_VIH',
 'Incidencia_de_tuberculosis_por_100_000_hab',
 'Indice_de_calidad_de_vida_infantil_relacionada_con_la_salud',
 'Indice_de_dependencia',
 'Indice_de_dependencia_en_65_y_mas_anos',
 'Indice_de_dependencia_juvenil',
 'Ingresos_medios_por_persona_euros',
 'Limitacion_para_la_realizacion_de_actividades_relacionadas_con_el_hogar_en_65_y_mas_anos',
 'Numero_de_victimas_mortales_de_accidentes_de_trafico',
 'Numero_de_victimas_no_mortales_de_accidente_de_trafico',
 'Porcentaje_de_bebedores_de_riesgo_de_alcohol',
 'Porcentaje_de_consumidores_de_cannabis_en_escolares_adolescentes_de_14_a_18_anos',
 'Porcentaje_de_la_poblacion_que_declara_escasez_de_zonas_verdes_en_el_entorno_de_su_vivienda',
 'Porcentaje_de_la_poblacion_que_declara_que_el_ruido_procedente_del_exterior_de_su_vivienda_es_molesto',
 'Porcentaje_de_poblacion_adulta_en_riesgo_de_mala_salud_mental',
 'Porcentaje_de_poblacion_con_valoracion_positiva_de_su_estado_de_salud',
 'Porcentaje_de_poblacion_de_65_anos_y_mas_anos_con_valoracion_positiva_de_su_estado_de_salud',
 'Porcentaje_de_poblacion_de_clase_social_baja',
 'Porcentaje_de_poblacion_que_recibe_suministro_con_Cobertura_del_Sistema_Nacional_de_Aguas_de_Consumo',
 'Porcentaje_de_recien_nacidos_a_termino_con_bajo_peso',
 'Prevalencia_de_consumo_de_tabaco_en_poblacion_adulta',
 'Prevalencia_de_consumo_diario_de_tabaco_en_jovenes',
 'Prevalencia_de_obesidad_en_poblacion_de_18_y_mas_anos',
 'Prevalencia_de_obesidad_en_poblacion_infantil',
 'Prevalencia_de_sedentarismo_en_jovenes',
 'Prevalencia_de_sedentarismo_en_poblacion_adulta',
 'Prevalencia_registrada_de_cardiopatia_isquemica_en_poblacion_de_40_y_mas_anos',
 'Prevalencia_registrada_de_diabetes_mellitus_en_poblacion_general',
 'Prevalencia_registrada_de_EPOC_en_poblacion_de_40_y_mas_anos',
 'Prevalencia_registrada_de_hipertension_arterial_en_poblacion_general',
 'Prevalencia_registrada_de_sindromes_dolorosos_de_columna_vertebral_en_poblacion_general',
 'Prevalencia_registrada_de_trastornos_mentales_en_poblacion_general',
 'Proporcion_de_poblacion_de_25_a_64_anos_con_nivel_de_estudios_de_1_Etapa_de_educacion_secundaria_o_inferior',
 'Tasa_ajustada_de_hospitalizacion_por_asma_por_10_000_hab',
 'Tasa_ajustada_de_hospitalizacion_por_diabetes_mellitus_por_10_000_hab',
 'Tasa_ajustada_de_hospitalizacion_por_enfermedades_cerebrovasculares_por_10_000_hab',
 'Tasa_ajustada_de_hospitalizacion_por_enfermedad_hipertensiva_por_10_000_hab',
 'Tasa_ajustada_de_hospitalizacion_por_EPOC_por_10_000_hab',
 'Tasa_ajustada_de_hospitalizacion_por_infarto_agudo_de_miocardio_por_10_000_hab',
 'Tasa_ajustada_de_hospitalizacion_por_Insuficiencia_cardiaca_congestiva_por_10_000_hab',
 'Tasa_bruta_de_hospitalizacion_por_enfermedades_cerebrovasculares_por_10_000_hab',
 'Tasa_bruta_de_hospitalizacion_por_infarto_agudo_de_miocardio_por_10_000_hab',
 'Tasa_de_desempleo_en_menores_de_25_anos',
 'Tasa_de_desempleo_total',
 'Tasa_de_mortalidad_ajustada_por_edad_por_cancer_por_100_000_hab',
 'Tasa_de_mortalidad_ajustada_por_edad_por_cardiopatia_isquemica_por_100_000_hab',
 'Tasa_de_mortalidad_ajustada_por_edad_por_diabetes_mellitus_por_100_000_hab',
 'Tasa_de_mortalidad_ajustada_por_edad_por_enfermedad_cerebrovascular_por_100_000_hab',
 'Tasa_de_mortalidad_ajustada_por_edad_por_enfermedad_cronica_del_higado_por_100_000_hab',
 'Tasa_de_mortalidad_ajustada_por_edad_por_enfermedad_pulmonar_obstructiva_cronica_por_100_000_hab',
 'Tasa_de_mortalidad_ajustada_por_edad_por_neumonia_e_influenza_por_100_000_hab',
 'Tasa_de_mortalidad_ajustada_por_edad_por_suicidio_por_100_000_hab',
 'Tasa_de_mortalidad_infantil_por_1000_nacidos_vivos',
 'Tasa_de_mortalidad_prematura_por_cancer_ajustada_por_edad_por_100_000_hab',
 'Tasa_de_mortalidad_prematura_por_cardiopatia_isquemica_ajustada_por_edad_por_100_000_hab',
 'Tasa_de_mortalidad_prematura_por_diabetes_mellitus_ajustada_por_edad_por_100_000_hab',
 'Tasa_de_mortalidad_prematura_por_enfermedad_vascular_cerebral_ajustada_por_edad_por_100_000_hab',
 'Tasa_de_mortalidad_prematura_por_EPOC_ajustada_por_edad_por_100_000_hab',
 'Tasa_de_natalidad_por_1000_habitantes',
 'Tasa_de_riesgo_de_pobreza_indicador_AROPE']

In [4]:
# LOS ELEMENTOS DE MAS DE 64 CARACTERES NO ENTRAN EN SQL:  ---- BAJO A 55 PORQUE SQLACH AÑADE _IBFK_1 Y YA SON MAS DE 63 CARACTERES Y LO RECHAZA

def filtrar_por_longitud(lista):
    return [elemento for elemento in lista if len(elemento) >= 55]

largos = filtrar_por_longitud(files)

In [5]:
len('Poblacion_adulta_con_riesgo_salud_mental')

40

In [6]:
resumen = ['Consumo_alcohol_intensivo_ultimo_mes_jovenes',
'Indice_calidad_vida_infantil_salud',
'Limitacion_actividades_hogar_mas_65_años',
'Porcentaje_consumidores_cannabis_14-18_años',
'Porcentaje_escasez_zonas_verdes_vivienda',
'Porcentaje_ruido_exterior_molesto_vivienda',
'Poblacion_adulta_con_riesgo_salud_mental',
'Poblacion_valoracion_positiva_salud',
'Poblacion_65_mas_valoracion_positiva_salud',
'Poblacion_recibe_suministro_Aguas_Cobertura_Nacional',
'Prevalencia_cardiopatia_isquemica_40_mas_años',
'Prevalencia_diabetes_mellitus_poblacion_general',
'Prevalencia_EPOC_40_mas_años',
'Prevalencia_hipertension_arterial_poblacion_general',
'Prevalencia_sindromes_dolor_columna_vertebral_poblacion_general',
'Prevalencia_trastornos_mentales_poblacion_general',
'Proporcion_educacion_secundaria_inferior_25_64_anos',
'Tasa_hospitalizacion_asma_10k_hab',
'Tasa_hospitalizacion_diabetes_mellitus_10k_hab',
'Tasa_hospitalizacion_enfermedades_cerebrovasculares_10k_hab',
'Tasa_hospitalizacion_enfermedad_hipertensiva_10k_hab',
'Tasa_hospitalizacion_EPOC_10k_hab',
'Tasa_hospitalizacion_infarto_agudo_miocardio_10k_hab',
'Tasa_hospitalizacion_insuficiencia_cardiaca_congestiva_10k_hab',
'Tasa_bruta_hospitalizacion_enfermedades_cerebrovasculares_10k_hab',
'Tasa_bruta_hospitalizacion_infarto_agudo_miocardio_10k_hab',
'Tasa_mortalidad_cancer_ajustada_100k_hab',
'Tasa_mortalidad_cardiopatia_isquemica_ajustada_100k_hab',
'Tasa_mortalidad_diabetes_mellitus_ajustada_100k_hab',
'Tasa_mortalidad_enfermedad_cerebrovascular_ajustada_100k_hab',
'Tasa_mortalidad_enfermedad_cronica_higado_ajustada_100k_hab',
'Tasa_mortalidad_enfermedad_pulmonar_obstructiva_cronica_ajustada_100k_hab',
'Tasa_mortalidad_neumonia_influenza_ajustada_100k_hab',
'Tasa_mortalidad_suicidio_ajustada_100k_hab',
'Tasa_mortalidad_prematura_cancer_ajustada_100k_hab',
'Tasa_mortalidad_prematura_cardiopatia_isquemica_ajustada_100k_hab',
'Tasa_mortalidad_prematura_diabetes_mellitus_ajustada_100k_hab',
'Tasa_mortalidad_prematura_enfermedad_vascular_cerebral_ajustada_100k_hab',
'Tasa_mortalidad_prematura_EPOC_ajustada_100k_hab']

mapeo_nombres = dict(zip(largos, resumen))
len(mapeo_nombres)

39

In [7]:
nombres_resumidos = [mapeo_nombres.get(nombre, nombre) for nombre in files]
nombres_resumidos = [e.replace('anos','años').replace('Anos','años').replace('_',' ') for e in nombres_resumidos]

len(nombres_resumidos) == len(files)

True

In [8]:
usser = 'root'
key = open('password.txt','r').read()
host = 'localhost'

conexion, cursor = conection_to_SQL('root', key, 'localhost')

database = 'VitalStatsES'

cursor.execute(f'CREATE DATABASE IF NOT EXISTS {database}')

Conexión a MySQL exitosa

In [9]:
# for file in files:
    
#     if file == 'id':
#         add_table_test(file,'primary',database,key,'../data')
#     else:
#         add_table_test(file,'foreign',database,key,'../data')

In [10]:
# .replace('Anos', 'Años').replace('_', ' ').replace('../data\\','')

In [11]:
password = key

# for file in files:
           
#     df = pd.read_csv(f'../data/{file}.csv')        
        
#     engine = create_engine(f'mysql+mysqlconnector://root:{password}@localhost:3306/{database}', echo=True)
#     print(engine)
            
#     df.to_sql(file, con=engine, if_exists='append', index=False)
    
#     if file == 'id':
                
#         with engine.connect() as con:
#             con.execute(text(f'ALTER TABLE `{file}` ADD PRIMARY KEY (`id`)'))
#         print(f"The table {file} has been successfully loaded into SQL with the associated key.")
            
#     else:
                
#         with engine.connect() as con:
#             con.execute(text(f'ALTER TABLE `{file}` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)'))
#         print(f"The table {file} has been successfully loaded into SQL with the associated key.")

In [12]:
# for file in files:
#     # Si el archivo es 'id', ejecuta primero esta parte
#     if file == 'id':
#         df = pd.read_csv(f'../data/{file}.csv')        
#         engine = create_engine(f'mysql+mysqlconnector://root:{password}@localhost:3306/{database}', echo=True)
#         print(engine)
            
#         df.to_sql(file, con=engine, if_exists='append', index=False)

#         with engine.connect() as con:
#             con.execute(text(f'ALTER TABLE `{file}` ADD PRIMARY KEY (`id`)'))
#         print(f"The table {file} has been successfully loaded into SQL with the associated key.")
#     else:
#         break 

# import time

# df = pd.read_csv('../data/id.csv')        
# engine = create_engine(f'mysql+mysqlconnector://root:{password}@localhost:3306/{database}', echo=True)
# print(engine)
            
# df.to_sql('id', con=engine, if_exists='append', index=False)

# with engine.connect() as con:
#     con.execute(text('ALTER TABLE `id` ADD PRIMARY KEY (`id`)'))

# time.sleep(5)
    
# for file in files:
        
#     if file != 'id':
            
#         df = pd.read_csv(f'../data/{file}.csv')        
#         engine = create_engine(f'mysql+mysqlconnector://root:{password}@localhost:3306/{database}', echo=True)
#         print(engine)
            
#         df.to_sql(file, con=engine, if_exists='append', index=False)

#         with engine.connect() as con:
#             con.execute(text(f'ALTER TABLE `{file}` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)'))
#         print(f"The table {file} has been successfully loaded into SQL with the associated key.")

In [13]:
import time

#PRIMERO DEBEMOS CARGAR LA TABLA 'ID' PARA CREAR LAS PRIMERY KEY SI NO, NOS TIRA ERROR AL HACER LA FEREIGN KEY PRIMERO:

df = pd.read_csv('../data/id.csv')  
df['id'] = pd.to_numeric(df['id'], errors='coerce', downcast='integer')
      
engine = create_engine(f'mysql+mysqlconnector://root:{key}@localhost:3306/{database}', echo=True)
            
df.to_sql('id', con=engine, if_exists='append', index=False)

with engine.connect() as con:
    con.execute(text('ALTER TABLE `id` ADD PRIMARY KEY (`id`)'))

time.sleep(5)

#ITERAMOS CON EL RESTO DE ARCHVOS, TENEMOS QUE ASEGURARNOS QUE EL FORMATO DE LA COLUMNA 'ID' ES IGUAL PARA TODOS:

for file, resumido in zip(files, nombres_resumidos):
    
    if file != 'id':
            
        df = pd.read_csv(f'../data/{file}.csv') 
        df['id'] = pd.to_numeric(df['id'], errors='coerce', downcast='integer')

               
        engine = create_engine(f'mysql+mysqlconnector://root:{key}@localhost:3306/{database}', echo=True)
        print(engine)
            
        df.to_sql(resumido, con=engine, if_exists='append', index=False)

        with engine.connect() as con:

            con.execute(text(f'ALTER TABLE `{resumido}` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)'))
        print(f"The table {resumido} has been successfully loaded into SQL with the associated key.")

2023-12-02 12:27:11,317 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-02 12:27:11,319 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:11,321 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-02 12:27:11,322 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:11,323 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-02 12:27:11,324 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:11,326 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-02 12:27:11,328 INFO sqlalchemy.engine.Engine DESCRIBE `vitalstatses`.`id`
2023-12-02 12:27:11,328 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:11,332 INFO sqlalchemy.engine.Engine
CREATE TABLE id (
	`Region` TEXT,
	id SMALLINT
)


2023-12-02 12:27:11,333 INFO sqlalchemy.engine.Engine [no key 0.00141s] {}
2023-12-02 12:27:11,349 INFO sqlalchemy.engine.Engine INSERT INTO id (`Region`, id) VALUES (%(Region)s, %(id)s)
2023-12-02 12:27:11,350 INFO sqlalchemy.engine.Engine [generated in 0.00148s] [{'Region': 'España (ES)', 'id': 1}, {'Region': 'Andalucía (AN)', 'id': 2}, {'Region': 'Aragón (AR)', 'id': 3}, {'Region': 'Asturias, Principado de (AS)', 'id': 4}, {'Region': 'Balears, Illes (IB)', 'id': 5}, {'Region': 'Canarias (CN)', 'id': 6}, {'Region': 'Cantabria (CB)', 'id': 7}, {'Region': 'Castilla y León (CL)', 'id': 8}  ... displaying 10 of 20 total bound parameter sets ...  {'Region': 'Ceuta (CE)', 'id': 19}, {'Region': 'Melilla (ML)', 'id': 20}]
2023-12-02 12:27:11,354 INFO sqlalchemy.engine.Engine COMMIT
2023-12-02 12:27:11,359 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-02 12:27:11,359 INFO sqlalchemy.engine.Engine ALTER TABLE `id` ADD PRIMARY KEY (`id`)
2023-12-02 12:27:11,360 INFO sqlalchemy.engine.Engine [generated in 0.00225s] {}
2023-12-02 12:27:11,387 INFO sqlalchemy.engine.Engine ROLLBACK
Engine(mysql+mysqlconnector://root:***@localhost:3306/VitalStatsES)
2023-12-02 12:27:16,611 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-02 12:27:16,612 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:16,615 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-02 12:27:16,616 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:16,618 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-02 12:27:16,619 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:16,620 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-02 12:27:16,622 INFO sqlalchemy.engine.Engine DESCRIBE `vitalstatses`.`años de vida saludable al nacer`
2023-12-02 12:27:16,623 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:16,625 INFO sqlalchemy.engine.Engine
CREATE TABLE `años de vida saludable al nacer` (
	id SMALLINT,
	`Region` TEXT,
	`Año` BIGINT,
	`Hombre` FLOAT(53),
	`Mujer` FLOAT(53),
	`Total` FLOAT(53)
)


2023-12-02 12:27:16,627 INFO sqlalchemy.engine.Engine [no key 0.00105s] {}
2023-12-02 12:27:16,645 INFO sqlalchemy.engine.Engine INSERT INTO `años de vida saludable al nacer` (id, `Region`, `Año`, `Hombre`, `Mujer`, `Total`) VALUES (%(id)s, %(Region)s, %(Año)s, %(Hombre)s, %(Mujer)s, %(Total)s)
2023-12-02 12:27:16,646 INFO sqlalchemy.engine.Engine [generated in 0.00185s] [{'id': 1, 'Region': 'España (ES)', 'Año': 2019, 'Hombre': 77.98, 'Mujer': 81.77, 'Total': 79.89}, {'id': 2, 'Region': 'Andalucía (AN)', 'Año': 2019, 'Hombre': 77.81, 'Mujer': 81.11, 'Total': 79.48}, {'id': 3, 'Region': 'Aragón (AR)', 'Año': 2019, 'Hombre': 79.26, 'Mujer': 82.86, 'Total': 81.28}, {'id': 4, 'Region': 'Asturias, Principado de (AS)', 'Año': 2019, 'Hombre': 76.94, 'Mujer': 80.58, 'Total': 78.81}, {'id': 5, 'Region': 'Balears, Illes (IB)', 'Año': 2019, 'Hombre': 79.92, 'Mujer': 81.06, 'Total': 80.46}, {'id': 6, 'Region': 'Canarias (CN)', 'Año': 2019, 'Hombre': 77.72, 'Mujer': 81.1, 'Total': 79.22}, {'id': 7, 'Region': 'Cantabria (CB)', 'Año': 2019, 'Hombre': 77.26, 'Mujer': 80.61, 'Total': 79.0}, {'id': 8, 'Region': 'Castilla y León (CL)', 'Año': 2019, 'Hombre': 78.14, 'Mujer': 82.99, 'Total': 80.49}  ... displaying 10 of 100 total bound parameter sets ...  {'id': 19, 'Region': 'Ceuta (CE)', 'Año': 2021, 'Hombre': 70.28, 'Mujer': 67.11, 'Total': 68.6}, {'id': 20, 'Region': 'Melilla (ML)', 'Año': 2021, 'Hombre': 70.28, 'Mujer': 67.11, 'Total': 68.6}]
2023-12-02 12:27:16,652 INFO sqlalchemy.engine.Engine COMMIT
2023-12-02 12:27:16,655 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-02 12:27:16,655 INFO sqlalchemy.engine.Engine ALTER TABLE `años de vida saludable al nacer` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)
2023-12-02 12:27:16,655 INFO sqlalchemy.engine.Engine [generated in 0.00222s] {}
2023-12-02 12:27:16,687 INFO sqlalchemy.engine.Engine ROLLBACK
The table años de vida saludable al nacer has been successfully loaded into SQL with the associated key.
Engine(mysql+mysqlconnector://root:***@localhost:3306/VitalStatsES)
2023-12-02 12:27:16,912 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-02 12:27:16,913 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:16,916 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-02 12:27:16,917 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:16,918 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-02 12:27:16,918 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:16,919 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-02 12:27:16,919 INFO sqlalchemy.engine.Engine DESCRIBE `vitalstatses`.`años de vida saludable a los 65 años`
2023-12-02 12:27:16,923 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:16,927 INFO sqlalchemy.engine.Engine
CREATE TABLE `años de vida saludable a los 65 años` (
	id SMALLINT,
	`Region` TEXT,
	`Año` BIGINT,
	`Hombre` FLOAT(53),
	`Mujer` FLOAT(53),
	`Total` FLOAT(53)
)


2023-12-02 12:27:16,927 INFO sqlalchemy.engine.Engine [no key 0.00111s] {}
2023-12-02 12:27:16,940 INFO sqlalchemy.engine.Engine INSERT INTO `años de vida saludable a los 65 años` (id, `Region`, `Año`, `Hombre`, `Mujer`, `Total`) VALUES (%(id)s, %(Region)s, %(Año)s, %(Hombre)s, %(Mujer)s, %(Total)s)
2023-12-02 12:27:16,940 INFO sqlalchemy.engine.Engine [generated in 0.00249s] [{'id': 1, 'Region': 'España (ES)', 'Año': 2019, 'Hombre': 17.83, 'Mujer': 20.23, 'Total': 19.09}, {'id': 2, 'Region': 'Andalucía (AN)', 'Año': 2019, 'Hombre': 17.42, 'Mujer': 18.81, 'Total': 18.17}, {'id': 3, 'Region': 'Aragón (AR)', 'Año': 2019, 'Hombre': 18.08, 'Mujer': 20.31, 'Total': 19.44}, {'id': 4, 'Region': 'Asturias, Principado de (AS)', 'Año': 2019, 'Hombre': 16.84, 'Mujer': 20.1, 'Total': 18.58}, {'id': 5, 'Region': 'Balears, Illes (IB)', 'Año': 2019, 'Hombre': 19.47, 'Mujer': 19.58, 'Total': 19.42}, {'id': 6, 'Region': 'Canarias (CN)', 'Año': 2019, 'Hombre': 18.68, 'Mujer': 19.24, 'Total': 18.86}, {'id': 7, 'Region': 'Cantabria (CB)', 'Año': 2019, 'Hombre': 16.88, 'Mujer': 19.55, 'Total': 18.3}, {'id': 8, 'Region': 'Castilla y León (CL)', 'Año': 2019, 'Hombre': 18.14, 'Mujer': 22.1, 'Total': 20.12}  ... displaying 10 of 100 total bound parameter sets ...  {'id': 19, 'Region': 'Ceuta (CE)', 'Año': 2021, 'Hombre': 13.68, 'Mujer': 12.85, 'Total': 13.16}, {'id': 20, 'Region': 'Melilla (ML)', 'Año': 2021, 'Hombre': 13.68, 'Mujer': 12.85, 'Total': 13.16}]
2023-12-02 12:27:16,945 INFO sqlalchemy.engine.Engine COMMIT
2023-12-02 12:27:16,949 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-02 12:27:16,950 INFO sqlalchemy.engine.Engine ALTER TABLE `años de vida saludable a los 65 años` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)
2023-12-02 12:27:16,950 INFO sqlalchemy.engine.Engine [generated in 0.00150s] {}
2023-12-02 12:27:16,978 INFO sqlalchemy.engine.Engine ROLLBACK
The table años de vida saludable a los 65 años has been successfully loaded into SQL with the associated key.
Engine(mysql+mysqlconnector://root:***@localhost:3306/VitalStatsES)
2023-12-02 12:27:17,199 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-02 12:27:17,201 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:17,202 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-02 12:27:17,203 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:17,204 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-02 12:27:17,204 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:17,206 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-02 12:27:17,209 INFO sqlalchemy.engine.Engine DESCRIBE `vitalstatses`.`Consumo diario de frutas yo verduras en adultos`
2023-12-02 12:27:17,210 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:17,213 INFO sqlalchemy.engine.Engine
CREATE TABLE `Consumo diario de frutas yo verduras en adultos` (
	id SMALLINT,
	`Region` TEXT,
	`Año` BIGINT,
	`Hombre` FLOAT(53),
	`Mujer` FLOAT(53),
	`Total` FLOAT(53)
)


2023-12-02 12:27:17,214 INFO sqlalchemy.engine.Engine [no key 0.00156s] {}
2023-12-02 12:27:17,233 INFO sqlalchemy.engine.Engine INSERT INTO `Consumo diario de frutas yo verduras en adultos` (id, `Region`, `Año`, `Hombre`, `Mujer`, `Total`) VALUES (%(id)s, %(Region)s, %(Año)s, %(Hombre)s, %(Mujer)s, %(Total)s)
2023-12-02 12:27:17,235 INFO sqlalchemy.engine.Engine [generated in 0.00227s] [{'id': 1, 'Region': 'España (ES)', 'Año': 2020, 'Hombre': 72.31, 'Mujer': 80.39, 'Total': 76.46}, {'id': 2, 'Region': 'Andalucía (AN)', 'Año': 2020, 'Hombre': 78.28, 'Mujer': 83.26, 'Total': 80.82}, {'id': 3, 'Region': 'Aragón (AR)', 'Año': 2020, 'Hombre': 81.03, 'Mujer': 91.49, 'Total': 86.35}, {'id': 4, 'Region': 'Asturias, Principado de (AS)', 'Año': 2020, 'Hombre': 64.72, 'Mujer': 79.95, 'Total': 72.7}, {'id': 5, 'Region': 'Balears, Illes (IB)', 'Año': 2020, 'Hombre': 24.11, 'Mujer': 18.88, 'Total': 21.48}, {'id': 6, 'Region': 'Canarias (CN)', 'Año': 2020, 'Hombre': 61.73, 'Mujer': 69.11, 'Total': 65.47}, {'id': 7, 'Region': 'Cantabria (CB)', 'Año': 2020, 'Hombre': 55.44, 'Mujer': 63.67, 'Total': 59.69}, {'id': 8, 'Region': 'Castilla y León (CL)', 'Año': 2020, 'Hombre': 79.99, 'Mujer': 87.5, 'Total': 83.8}  ... displaying 10 of 40 total bound parameter sets ...  {'id': 19, 'Region': 'Ceuta (CE)', 'Año': 2017, 'Hombre': 61.32, 'Mujer': 63.18, 'Total': 62.24}, {'id': 20, 'Region': 'Melilla (ML)', 'Año': 2017, 'Hombre': 56.17, 'Mujer': 67.92, 'Total': 62.05}]
2023-12-02 12:27:17,237 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `vitalstatses`
2023-12-02 12:27:17,239 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:17,242 INFO sqlalchemy.engine.Engine COMMIT
2023-12-02 12:27:17,244 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-02 12:27:17,244 INFO sqlalchemy.engine.Engine ALTER TABLE `Consumo diario de frutas yo verduras en adultos` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)
2023-12-02 12:27:17,245 INFO sqlalchemy.engine.Engine [generated in 0.00120s] {}
2023-12-02 12:27:17,269 INFO sqlalchemy.engine.Engine ROLLBACK
The table Consumo diario de frutas yo verduras en adultos has been successfully loaded into SQL with the associated key.
Engine(mysql+mysqlconnector://root:***@localhost:3306/VitalStatsES)
2023-12-02 12:27:17,502 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-02 12:27:17,503 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:17,504 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-02 12:27:17,504 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:17,506 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-02 12:27:17,507 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:17,509 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-02 12:27:17,512 INFO sqlalchemy.engine.Engine DESCRIBE `vitalstatses`.`Consumo diario de frutas yo verduras en jovenes`
2023-12-02 12:27:17,513 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:17,517 INFO sqlalchemy.engine.Engine
CREATE TABLE `Consumo diario de frutas yo verduras en jovenes` (
	id SMALLINT,
	`Region` TEXT,
	`Año` BIGINT,
	`Hombre` FLOAT(53),
	`Mujer` FLOAT(53),
	`Total` FLOAT(53)
)


2023-12-02 12:27:17,519 INFO sqlalchemy.engine.Engine [no key 0.00153s] {}
2023-12-02 12:27:17,540 INFO sqlalchemy.engine.Engine INSERT INTO `Consumo diario de frutas yo verduras en jovenes` (id, `Region`, `Año`, `Hombre`, `Mujer`, `Total`) VALUES (%(id)s, %(Region)s, %(Año)s, %(Hombre)s, %(Mujer)s, %(Total)s)
2023-12-02 12:27:17,541 INFO sqlalchemy.engine.Engine [generated in 0.00152s] [{'id': 1, 'Region': 'España (ES)', 'Año': 2020, 'Hombre': 56.45, 'Mujer': 63.81, 'Total': 60.03}, {'id': 2, 'Region': 'Andalucía (AN)', 'Año': 2020, 'Hombre': 66.18, 'Mujer': 73.02, 'Total': 69.5}, {'id': 3, 'Region': 'Aragón (AR)', 'Año': 2020, 'Hombre': 78.09, 'Mujer': 88.18, 'Total': 83.0}, {'id': 4, 'Region': 'Asturias, Principado de (AS)', 'Año': 2020, 'Hombre': 41.3, 'Mujer': 53.76, 'Total': 47.36}, {'id': 5, 'Region': 'Balears, Illes (IB)', 'Año': 2020, 'Hombre': 11.25, 'Mujer': 22.79, 'Total': 16.88}, {'id': 6, 'Region': 'Canarias (CN)', 'Año': 2020, 'Hombre': 54.0, 'Mujer': 44.8, 'Total': 49.45}, {'id': 7, 'Region': 'Cantabria (CB)', 'Año': 2020, 'Hombre': 48.55, 'Mujer': 39.4, 'Total': 44.12}, {'id': 8, 'Region': 'Castilla y León (CL)', 'Año': 2020, 'Hombre': 53.5, 'Mujer': 65.2, 'Total': 59.22}  ... displaying 10 of 40 total bound parameter sets ...  {'id': 19, 'Region': 'Ceuta (CE)', 'Año': 2017, 'Hombre': 45.46, 'Mujer': 38.57, 'Total': 41.93}, {'id': 20, 'Region': 'Melilla (ML)', 'Año': 2017, 'Hombre': 31.4, 'Mujer': 71.1, 'Total': 50.96}]
2023-12-02 12:27:17,544 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `vitalstatses`
2023-12-02 12:27:17,544 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:17,546 INFO sqlalchemy.engine.Engine COMMIT
2023-12-02 12:27:17,549 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-02 12:27:17,550 INFO sqlalchemy.engine.Engine ALTER TABLE `Consumo diario de frutas yo verduras en jovenes` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)
2023-12-02 12:27:17,551 INFO sqlalchemy.engine.Engine [generated in 0.00134s] {}
2023-12-02 12:27:17,574 INFO sqlalchemy.engine.Engine ROLLBACK
The table Consumo diario de frutas yo verduras en jovenes has been successfully loaded into SQL with the associated key.
Engine(mysql+mysqlconnector://root:***@localhost:3306/VitalStatsES)
2023-12-02 12:27:17,794 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-02 12:27:17,795 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:17,797 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-02 12:27:17,797 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:17,800 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-02 12:27:17,800 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:17,801 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-02 12:27:17,804 INFO sqlalchemy.engine.Engine DESCRIBE `vitalstatses`.`Consumo alcohol intensivo ultimo mes jovenes`
2023-12-02 12:27:17,805 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:17,807 INFO sqlalchemy.engine.Engine
CREATE TABLE `Consumo alcohol intensivo ultimo mes jovenes` (
	id SMALLINT,
	`Region` TEXT,
	`Año` BIGINT,
	`Hombre` FLOAT(53),
	`Mujer` FLOAT(53),
	`Total` FLOAT(53)
)


2023-12-02 12:27:17,808 INFO sqlalchemy.engine.Engine [no key 0.00109s] {}
2023-12-02 12:27:17,819 INFO sqlalchemy.engine.Engine INSERT INTO `Consumo alcohol intensivo ultimo mes jovenes` (id, `Region`, `Año`, `Hombre`, `Mujer`, `Total`) VALUES (%(id)s, %(Region)s, %(Año)s, %(Hombre)s, %(Mujer)s, %(Total)s)
2023-12-02 12:27:17,820 INFO sqlalchemy.engine.Engine [generated in 0.00137s] [{'id': 1, 'Region': 'España (ES)', 'Año': 2020, 'Hombre': 12.96, 'Mujer': 9.53, 'Total': 11.29}, {'id': 1, 'Region': 'España (ES)', 'Año': 2017, 'Hombre': 14.18, 'Mujer': 9.5, 'Total': 11.89}]
2023-12-02 12:27:17,823 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `vitalstatses`
2023-12-02 12:27:17,825 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:17,827 INFO sqlalchemy.engine.Engine COMMIT
2023-12-02 12:27:17,827 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-02 12:27:17,831 INFO sqlalchemy.engine.Engine ALTER TABLE `Consumo alcohol intensivo ultimo mes jovenes` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)
2023-12-02 12:27:17,832 INFO sqlalchemy.engine.Engine [generated in 0.00215s] {}
2023-12-02 12:27:17,857 INFO sqlalchemy.engine.Engine ROLLBACK
The table Consumo alcohol intensivo ultimo mes jovenes has been successfully loaded into SQL with the associated key.
Engine(mysql+mysqlconnector://root:***@localhost:3306/VitalStatsES)
2023-12-02 12:27:18,078 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-02 12:27:18,078 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:18,083 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-02 12:27:18,084 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:18,085 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-02 12:27:18,085 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:18,085 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-02 12:27:18,085 INFO sqlalchemy.engine.Engine DESCRIBE `vitalstatses`.`Deterioro cognitivo en 65 y mas años`
2023-12-02 12:27:18,085 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:18,095 INFO sqlalchemy.engine.Engine
CREATE TABLE `Deterioro cognitivo en 65 y mas años` (
	id SMALLINT,
	`Region` TEXT,
	`Año` BIGINT,
	`Hombre` FLOAT(53),
	`Mujer` FLOAT(53),
	`Total` FLOAT(53)
)


2023-12-02 12:27:18,096 INFO sqlalchemy.engine.Engine [no key 0.00126s] {}
2023-12-02 12:27:18,115 INFO sqlalchemy.engine.Engine INSERT INTO `Deterioro cognitivo en 65 y mas años` (id, `Region`, `Año`, `Hombre`, `Mujer`, `Total`) VALUES (%(id)s, %(Region)s, %(Año)s, %(Hombre)s, %(Mujer)s, %(Total)s)
2023-12-02 12:27:18,116 INFO sqlalchemy.engine.Engine [generated in 0.00136s] [{'id': 1, 'Region': 'España (ES)', 'Año': 2020, 'Hombre': 21.51, 'Mujer': 30.7, 'Total': 26.66}, {'id': 2, 'Region': 'Andalucía (AN)', 'Año': 2020, 'Hombre': 17.61, 'Mujer': 23.36, 'Total': 20.81}, {'id': 3, 'Region': 'Aragón (AR)', 'Año': 2020, 'Hombre': 27.62, 'Mujer': 27.86, 'Total': 27.76}, {'id': 4, 'Region': 'Asturias, Principado de (AS)', 'Año': 2020, 'Hombre': 18.66, 'Mujer': 26.1, 'Total': 22.95}, {'id': 5, 'Region': 'Balears, Illes (IB)', 'Año': 2020, 'Hombre': 13.41, 'Mujer': 22.1, 'Total': 18.17}, {'id': 6, 'Region': 'Canarias (CN)', 'Año': 2020, 'Hombre': 40.43, 'Mujer': 48.18, 'Total': 44.65}, {'id': 7, 'Region': 'Cantabria (CB)', 'Año': 2020, 'Hombre': 14.51, 'Mujer': 18.01, 'Total': 16.49}, {'id': 8, 'Region': 'Castilla y León (CL)', 'Año': 2020, 'Hombre': 28.67, 'Mujer': 35.41, 'Total': 32.35}  ... displaying 10 of 40 total bound parameter sets ...  {'id': 19, 'Region': 'Ceuta (CE)', 'Año': 2017, 'Hombre': 28.59, 'Mujer': 20.74, 'Total': 24.25}, {'id': 20, 'Region': 'Melilla (ML)', 'Año': 2017, 'Hombre': 27.62, 'Mujer': 18.49, 'Total': 22.52}]
2023-12-02 12:27:18,120 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `vitalstatses`
2023-12-02 12:27:18,121 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:18,123 INFO sqlalchemy.engine.Engine COMMIT
2023-12-02 12:27:18,124 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-02 12:27:18,124 INFO sqlalchemy.engine.Engine ALTER TABLE `Deterioro cognitivo en 65 y mas años` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)
2023-12-02 12:27:18,124 INFO sqlalchemy.engine.Engine [generated in 0.00148s] {}
2023-12-02 12:27:18,153 INFO sqlalchemy.engine.Engine ROLLBACK
The table Deterioro cognitivo en 65 y mas años has been successfully loaded into SQL with the associated key.
Engine(mysql+mysqlconnector://root:***@localhost:3306/VitalStatsES)
2023-12-02 12:27:18,377 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-02 12:27:18,378 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:18,380 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-02 12:27:18,382 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-02 12:27:18,384 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names

DatabaseError: (mysql.connector.errors.DatabaseError) 3780 (HY000): Referencing column 'id' and referenced column 'id' in foreign key constraint 'indice calidad vida infantil salud_ibfk_1' are incompatible.
[SQL: ALTER TABLE `Indice calidad vida infantil salud` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)]
(Background on this error at: https://sqlalche.me/e/20/4xp6)

In [14]:
df = pd.read_csv('../data/Indice_de_calidad_de_vida_infantil_relacionada_con_la_salud.csv')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20 non-null     float64
 1   Region  20 non-null     object
 2   Año     21 non-null     int64
 3   Hombre  20 non-null     object
 4   Mujer   20 non-null     object
 5   Total   20 non-null     float64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.1+ KB