In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

import os

import mysql.connector
from sqlalchemy import create_engine, text

import warnings
warnings.filterwarnings('ignore')

import sys
sys.path.append('../src')
from sql_upload_manager import *

In [9]:
files = []

for archivo in os.listdir('../data/processed'):
        
        if archivo.endswith('.csv'):
            
                file = os.path.join('../data', archivo)
                
                files.append((file.replace('.csv', '').replace('../data\\','')))

In [10]:
files

['Anos_de_vida_saludable_al_nacer',
 'Anos_de_vida_saludable_a_los_65_anos',
 'Consumo_diario_de_frutas_yo_verduras_en_adultos',
 'Consumo_diario_de_frutas_yo_verduras_en_jovenes',
 'Consumo_intensivo_de_alcohol_al_menos_una_vez_al_mes_en_los_ultimos_12_meses_en_jovenes',
 'Deterioro_cognitivo_en_65_y_mas_anos',
 'Dificultad_para_la_movilidad_en_65_y_mas_anos',
 'Esperanza_de_vida_al_nacer',
 'Esperanza_de_vida_a_los_65_anos',
 'Incidencia_de_accidentes_de_trabajo',
 'Incidencia_de_nuevos_diagnosticos_de_VIH',
 'Incidencia_de_tuberculosis_por_100_000_hab',
 'Indice_de_calidad_de_vida_infantil_relacionada_con_la_salud',
 'Indice_de_dependencia',
 'Indice_de_dependencia_en_65_y_mas_anos',
 'Indice_de_dependencia_juvenil',
 'Ingresos_medios_por_persona_euros',
 'Limitacion_para_la_realizacion_de_actividades_relacionadas_con_el_hogar_en_65_y_mas_anos',
 'Numero_de_victimas_mortales_de_accidentes_de_trafico',
 'Numero_de_victimas_no_mortales_de_accidente_de_trafico',
 'Porcentaje_de_bebedores_de_riesgo_de_alcohol',
 'Porcentaje_de_consumidores_de_cannabis_en_escolares_adolescentes_de_14_a_18_anos',
 'Porcentaje_de_la_poblacion_que_declara_escasez_de_zonas_verdes_en_el_entorno_de_su_vivienda',
 'Porcentaje_de_la_poblacion_que_declara_que_el_ruido_procedente_del_exterior_de_su_vivienda_es_molesto',
 'Porcentaje_de_poblacion_adulta_en_riesgo_de_mala_salud_mental',
 'Porcentaje_de_poblacion_con_valoracion_positiva_de_su_estado_de_salud',
 'Porcentaje_de_poblacion_de_65_anos_y_mas_anos_con_valoracion_positiva_de_su_estado_de_salud',
 'Porcentaje_de_poblacion_de_clase_social_baja',
 'Porcentaje_de_poblacion_que_recibe_suministro_con_Cobertura_del_Sistema_Nacional_de_Aguas_de_Consumo',
 'Porcentaje_de_recien_nacidos_a_termino_con_bajo_peso',
 'Prevalencia_de_consumo_de_tabaco_en_poblacion_adulta',
 'Prevalencia_de_consumo_diario_de_tabaco_en_jovenes',
 'Prevalencia_de_obesidad_en_poblacion_de_18_y_mas_anos',
 'Prevalencia_de_obesidad_en_poblacion_infantil',
 'Prevalencia_de_sedentarismo_en_jovenes',
 'Prevalencia_de_sedentarismo_en_poblacion_adulta',
 'Prevalencia_registrada_de_cardiopatia_isquemica_en_poblacion_de_40_y_mas_anos',
 'Prevalencia_registrada_de_diabetes_mellitus_en_poblacion_general',
 'Prevalencia_registrada_de_EPOC_en_poblacion_de_40_y_mas_anos',
 'Prevalencia_registrada_de_hipertension_arterial_en_poblacion_general',
 'Prevalencia_registrada_de_sindromes_dolorosos_de_columna_vertebral_en_poblacion_general',
 'Prevalencia_registrada_de_trastornos_mentales_en_poblacion_general',
 'Proporcion_de_poblacion_de_25_a_64_anos_con_nivel_de_estudios_de_1_Etapa_de_educacion_secundaria_o_inferior',
 'Tasa_ajustada_de_hospitalizacion_por_asma_por_10_000_hab',
 'Tasa_ajustada_de_hospitalizacion_por_diabetes_mellitus_por_10_000_hab',
 'Tasa_ajustada_de_hospitalizacion_por_enfermedades_cerebrovasculares_por_10_000_hab',
 'Tasa_ajustada_de_hospitalizacion_por_enfermedad_hipertensiva_por_10_000_hab',
 'Tasa_ajustada_de_hospitalizacion_por_EPOC_por_10_000_hab',
 'Tasa_ajustada_de_hospitalizacion_por_infarto_agudo_de_miocardio_por_10_000_hab',
 'Tasa_ajustada_de_hospitalizacion_por_Insuficiencia_cardiaca_congestiva_por_10_000_hab',
 'Tasa_bruta_de_hospitalizacion_por_enfermedades_cerebrovasculares_por_10_000_hab',
 'Tasa_bruta_de_hospitalizacion_por_infarto_agudo_de_miocardio_por_10_000_hab',
 'Tasa_de_desempleo_en_menores_de_25_anos',
 'Tasa_de_desempleo_total',
 'Tasa_de_mortalidad_ajustada_por_edad_por_cancer_por_100_000_hab',
 'Tasa_de_mortalidad_ajustada_por_edad_por_cardiopatia_isquemica_por_100_000_hab',
 'Tasa_de_mortalidad_ajustada_por_edad_por_diabetes_mellitus_por_100_000_hab',
 'Tasa_de_mortalidad_ajustada_por_edad_por_enfermedad_cerebrovascular_por_100_000_hab',
 'Tasa_de_mortalidad_ajustada_por_edad_por_enfermedad_cronica_del_higado_por_100_000_hab',
 'Tasa_de_mortalidad_ajustada_por_edad_por_enfermedad_pulmonar_obstructiva_cronica_por_100_000_hab',
 'Tasa_de_mortalidad_ajustada_por_edad_por_neumonia_e_influenza_por_100_000_hab',
 'Tasa_de_mortalidad_ajustada_por_edad_por_suicidio_por_100_000_hab',
 'Tasa_de_mortalidad_infantil_por_1000_nacidos_vivos',
 'Tasa_de_mortalidad_prematura_por_cancer_ajustada_por_edad_por_100_000_hab',
 'Tasa_de_mortalidad_prematura_por_cardiopatia_isquemica_ajustada_por_edad_por_100_000_hab',
 'Tasa_de_mortalidad_prematura_por_diabetes_mellitus_ajustada_por_edad_por_100_000_hab',
 'Tasa_de_mortalidad_prematura_por_enfermedad_vascular_cerebral_ajustada_por_edad_por_100_000_hab',
 'Tasa_de_mortalidad_prematura_por_EPOC_ajustada_por_edad_por_100_000_hab',
 'Tasa_de_natalidad_por_1000_habitantes',
 'Tasa_de_riesgo_de_pobreza_indicador_AROPE']

In [14]:
# LOS ELEMENTOS DE MAS DE 64 CARACTERES NO ENTRAN EN SQL:  ---- BAJO A 55 PORQUE SQLALCHEMY AÑADE _IBFK_1 Y YA SON MAS DE 63 CARACTERES Y LO RECHAZA

def filtrar_por_longitud(lista):
    return [elemento for elemento in lista if len(elemento) >= 55]

largos = filtrar_por_longitud(files)
len(largos)

39

In [13]:
resumen = ['Consumo_alcohol_intensivo_ultimo_mes_jovenes',
'Indice_calidad_vida_infantil_salud',
'Limitacion_actividades_hogar_mas_65_años',
'Porcentaje_consumidores_cannabis_14-18_años',
'Porcentaje_escasez_zonas_verdes_vivienda',
'Porcentaje_ruido_exterior_molesto_vivienda',
'Poblacion_adulta_con_riesgo_salud_mental',
'Poblacion_valoracion_positiva_salud',
'Poblacion_65_mas_valoracion_positiva_salud',
'Poblacion_recibe_suministro_Aguas_Cobertura_Nacional',
'Prevalencia_cardiopatia_isquemica_40_mas_años',
'Prevalencia_diabetes_mellitus_poblacion_general',
'Prevalencia_EPOC_40_mas_años',
'Prevalencia_hipertension_arterial_poblacion_general',
'Prevalencia_sindromes_dolor_columna_vertebral_poblacion_general',
'Prevalencia_trastornos_mentales_poblacion_general',
'Proporcion_educacion_secundaria_inferior_25_64_anos',
'Tasa_hospitalizacion_asma_10k_hab',
'Tasa_hospitalizacion_diabetes_mellitus_10k_hab',
'Tasa_hospitalizacion_enfermedades_cerebrovasculares_10k_hab',
'Tasa_hospitalizacion_enfermedad_hipertensiva_10k_hab',
'Tasa_hospitalizacion_EPOC_10k_hab',
'Tasa_hospitalizacion_infarto_agudo_miocardio_10k_hab',
'Tasa_hospitalizacion_insuficiencia_cardiaca_congestiva_10k_hab',
'Tasa_bruta_hospitalizacion_enfermedades_cerebrovasculares_10k_hab',
'Tasa_bruta_hospitalizacion_infarto_agudo_miocardio_10k_hab',
'Tasa_mortalidad_cancer_ajustada_100k_hab',
'Tasa_mortalidad_cardiopatia_isquemica_ajustada_100k_hab',
'Tasa_mortalidad_diabetes_mellitus_ajustada_100k_hab',
'Tasa_mortalidad_enfermedad_cerebrovascular_ajustada_100k_hab',
'Tasa_mortalidad_enfermedad_cronica_higado_ajustada_100k_hab',
'Tasa_mortalidad_enfermedad_pulmonar_obstructiva_cronica_ajustada_100k_hab',
'Tasa_mortalidad_neumonia_influenza_ajustada_100k_hab',
'Tasa_mortalidad_suicidio_ajustada_100k_hab',
'Tasa_mortalidad_prematura_cancer_ajustada_100k_hab',
'Tasa_mortalidad_prematura_cardiopatia_isquemica_ajustada_100k_hab',
'Tasa_mortalidad_prematura_diabetes_mellitus_ajustada_100k_hab',
'Tasa_mortalidad_prematura_enfermedad_vascular_cerebral_ajustada_100k_hab',
'Tasa_mortalidad_prematura_EPOC_ajustada_100k_hab']

mapeo_nombres = dict(zip(largos, resumen))
len(mapeo_nombres)

39

In [16]:
nombres_resumidos = [mapeo_nombres.get(nombre, nombre) for nombre in files]
nombres_resumidos = [e.replace('anos','años').replace('Anos','años').replace('_',' ') for e in nombres_resumidos]

len(nombres_resumidos) == len(files)

True

In [17]:
usser = 'root'
key = open('password.txt','r').read()
host = 'localhost'

conexion, cursor = conection_to_SQL('root', key, 'localhost')

database = 'VitalStatsES'

cursor.execute(f'CREATE DATABASE IF NOT EXISTS {database}')

Conexión a MySQL exitosa

In [18]:
# for file in files:
    
#     if file == 'id':
#         add_table_test(file,'primary',database,key,'../data')
#     else:
#         add_table_test(file,'foreign',database,key,'../data')

In [19]:
# .replace('Anos', 'Años').replace('_', ' ').replace('../data\\','')

In [20]:
password = key

# for file in files:
           
#     df = pd.read_csv(f'../data/{file}.csv')        
        
#     engine = create_engine(f'mysql+mysqlconnector://root:{password}@localhost:3306/{database}', echo=True)
#     print(engine)
            
#     df.to_sql(file, con=engine, if_exists='append', index=False)
    
#     if file == 'id':
                
#         with engine.connect() as con:
#             con.execute(text(f'ALTER TABLE `{file}` ADD PRIMARY KEY (`id`)'))
#         print(f"The table {file} has been successfully loaded into SQL with the associated key.")
            
#     else:
                
#         with engine.connect() as con:
#             con.execute(text(f'ALTER TABLE `{file}` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)'))
#         print(f"The table {file} has been successfully loaded into SQL with the associated key.")

In [21]:
# for file in files:
#     # Si el archivo es 'id', ejecuta primero esta parte
#     if file == 'id':
#         df = pd.read_csv(f'../data/{file}.csv')        
#         engine = create_engine(f'mysql+mysqlconnector://root:{password}@localhost:3306/{database}', echo=True)
#         print(engine)
            
#         df.to_sql(file, con=engine, if_exists='append', index=False)

#         with engine.connect() as con:
#             con.execute(text(f'ALTER TABLE `{file}` ADD PRIMARY KEY (`id`)'))
#         print(f"The table {file} has been successfully loaded into SQL with the associated key.")
#     else:
#         break 

# import time

# df = pd.read_csv('../data/id.csv')        
# engine = create_engine(f'mysql+mysqlconnector://root:{password}@localhost:3306/{database}', echo=True)
# print(engine)
            
# df.to_sql('id', con=engine, if_exists='append', index=False)

# with engine.connect() as con:
#     con.execute(text('ALTER TABLE `id` ADD PRIMARY KEY (`id`)'))

# time.sleep(5)
    
# for file in files:
        
#     if file != 'id':
            
#         df = pd.read_csv(f'../data/{file}.csv')        
#         engine = create_engine(f'mysql+mysqlconnector://root:{password}@localhost:3306/{database}', echo=True)
#         print(engine)
            
#         df.to_sql(file, con=engine, if_exists='append', index=False)

#         with engine.connect() as con:
#             con.execute(text(f'ALTER TABLE `{file}` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)'))
#         print(f"The table {file} has been successfully loaded into SQL with the associated key.")

In [22]:
import time

#PRIMERO DEBEMOS CARGAR LA TABLA 'ID' PARA CREAR LAS PRIMERY KEY SI NO, NOS TIRA ERROR AL HACER LA FEREIGN KEY PRIMERO:

df = pd.read_csv('../data/processed/')  
df['id'] = pd.to_numeric(df['id'], errors='coerce', downcast='integer')
      
engine = create_engine(f'mysql+mysqlconnector://root:{key}@localhost:3306/{database}', echo=True)
            
df.to_sql('id', con=engine, if_exists='append', index=False)

with engine.connect() as con:
    con.execute(text('ALTER TABLE `id` ADD PRIMARY KEY (`id`)'))

time.sleep(5)

#ITERAMOS CON EL RESTO DE ARCHVOS, TENEMOS QUE ASEGURARNOS QUE EL FORMATO DE LA COLUMNA 'ID' ES IGUAL PARA TODOS:

for file, resumido in zip(files, nombres_resumidos):
    
    if file != 'id':
            
        df = pd.read_csv(f'../data/{file}.csv') 
        df['id'] = pd.to_numeric(df['id'], errors='coerce', downcast='integer')

               
        engine = create_engine(f'mysql+mysqlconnector://root:{key}@localhost:3306/{database}', echo=True)
        print(engine)
            
        df.to_sql(resumido, con=engine, if_exists='append', index=False)

        with engine.connect() as con:

            con.execute(text(f'ALTER TABLE `{resumido}` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)'))
        print(f"The table {resumido} has been successfully loaded into SQL with the associated key.")

FileNotFoundError: [Errno 2] No such file or directory: '../data/id.csv'

In [14]:
df = pd.read_csv('../data/Indice_de_calidad_de_vida_infantil_relacionada_con_la_salud.csv')

In [20]:
df

      id                        Region   Año Hombre  Mujer  Total
0    1.0                   España (ES)  2017  87.22  87.58  87.40
1    2.0                Andalucía (AN)  2017  89.75  90.18  89.96
2    3.0                   Aragón (AR)  2017  91.38  93.29  92.31
3    4.0  Asturias, Principado de (AS)  2017  79.26  82.13  80.74
4    5.0           Balears, Illes (IB)  2017  92.88   91.2  92.06
5    6.0                 Canarias (CN)  2017  92.77  91.96  92.39
6    7.0                Cantabria (CB)  2017  91.42  94.68  93.04
7    8.0          Castilla y León (CL)  2017  87.13  86.48  86.81
8    9.0     Castilla - La Mancha (CM)  2017  85.57  84.98  85.28
9   10.0                 Cataluña (CT)  2017  85.09  85.99  85.52
10  11.0     Comunitat Valenciana (VC)  2017   84.8  83.76  84.29
11  12.0              Extremadura (EX)  2017  89.56  89.63  89.60
12  13.0                  Galicia (GA)  2017  82.68  83.88  83.29
13  14.0     Madrid, Comunidad de (MD)  2017  87.67  88.39  88.02
14  15.0        Murcia, Región de (MC)  2017  87.27  86.93  87.11
15  16.0     Navarra, C. Foral de (NC)  2017   86.9  90.06  88.36
16  17.0               País Vasco (PV)  2017  85.85  87.56  86.71
17  18.0                 La Rioja (RI)  2017  89.71  84.23  86.93
18  19.0                    Ceuta (CE)  2017     --     --  84.37
19  20.0                  Melilla (ML)  2017     --     --  82.28
20   NaN                           NaN  2017    NaN    NaN    NaN