In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

import os

import mysql.connector
from sqlalchemy import create_engine, text

import warnings
warnings.filterwarnings('ignore')

import sys
sys.path.append('../src')
from sql_upload_manager import *

In [2]:
files = []

for archivo in os.listdir('../data'):
        
        if archivo.endswith('.csv'):
            
                file = os.path.join('../data', archivo)
                
                files.append((file.replace('.csv', '').replace('../data\\','')))

In [3]:
usser = 'root'
key = open('password.txt','r').read()
host = 'localhost'

In [4]:
conexion, cursor = conection_to_SQL('root', key, 'localhost')

Conexión a MySQL exitosa

In [5]:
database = 'VitalStatsES'

cursor.execute(f'CREATE DATABASE IF NOT EXISTS {database}')

In [6]:
# for file in files:
    
#     if file == 'id':
#         add_table_test(file,'primary',database,key,'../data')
#     else:
#         add_table_test(file,'foreign',database,key,'../data')

In [7]:
# .replace('Anos', 'Años').replace('_', ' ').replace('../data\\','')

In [8]:
password = key

# for file in files:
           
#     df = pd.read_csv(f'../data/{file}.csv')        
        
#     engine = create_engine(f'mysql+mysqlconnector://root:{password}@localhost:3306/{database}', echo=True)
#     print(engine)
            
#     df.to_sql(file, con=engine, if_exists='append', index=False)
    
#     if file == 'id':
                
#         with engine.connect() as con:
#             con.execute(text(f'ALTER TABLE `{file}` ADD PRIMARY KEY (`id`)'))
#         print(f"The table {file} has been successfully loaded into SQL with the associated key.")
            
#     else:
                
#         with engine.connect() as con:
#             con.execute(text(f'ALTER TABLE `{file}` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)'))
#         print(f"The table {file} has been successfully loaded into SQL with the associated key.")

In [13]:
# for file in files:
#     # Si el archivo es 'id', ejecuta primero esta parte
#     if file == 'id':
#         df = pd.read_csv(f'../data/{file}.csv')        
#         engine = create_engine(f'mysql+mysqlconnector://root:{password}@localhost:3306/{database}', echo=True)
#         print(engine)
            
#         df.to_sql(file, con=engine, if_exists='append', index=False)

#         with engine.connect() as con:
#             con.execute(text(f'ALTER TABLE `{file}` ADD PRIMARY KEY (`id`)'))
#         print(f"The table {file} has been successfully loaded into SQL with the associated key.")
#     else:
#         break 

import time

df = pd.read_csv('../data/id.csv')        
engine = create_engine(f'mysql+mysqlconnector://root:{password}@localhost:3306/{database}', echo=True)
print(engine)
            
df.to_sql('id', con=engine, if_exists='append', index=False)

with engine.connect() as con:
    con.execute(text('ALTER TABLE `id` ADD PRIMARY KEY (`id`)'))

time.sleep(5)
    
for file in files:
        
    if file != 'id':    
        df = pd.read_csv(f'../data/{file}.csv')        
        engine = create_engine(f'mysql+mysqlconnector://root:{password}@localhost:3306/{database}', echo=True)
        print(engine)
            
        df.to_sql(file, con=engine, if_exists='append', index=False)

        with engine.connect() as con:
            con.execute(text(f'ALTER TABLE `{file}` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)'))
        print(f"The table {file} has been successfully loaded into SQL with the associated key.")

Engine(mysql+mysqlconnector://root:***@localhost:3306/VitalStatsES)
2023-12-01 19:15:51,179 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-01 19:15:51,180 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 19:15:51,182 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-01 19:15:51,182 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 19:15:51,183 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-01 19:15:51,183 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 19:15:51,188 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-01 19:15:51,191 INFO sqlalchemy.engine.Engine DESCRIBE `vitalstatses`.`id`
2023-12-01 19:15:51,192 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 19:15:51,196 INFO sqlalchemy.engine.Engine
CREATE TABLE id (
	`Region` TEXT,
	id BIGINT
)


2023-12-01 19:15:51,197 INFO sqlalchemy.engine.Engine [no key 0.00148s] {}
2023-12-01 19:15:51,220 INFO sqlalchemy.engine.Engine INSERT INTO id (`Region`, id) VALUES (%(Region)s, %(id)s)
2023-12-01 19:15:51,221 INFO sqlalchemy.engine.Engine [generated in 0.00119s] [{'Region': 'España (ES)', 'id': 1}, {'Region': 'Andalucía (AN)', 'id': 2}, {'Region': 'Aragón (AR)', 'id': 3}, {'Region': 'Asturias, Principado de (AS)', 'id': 4}, {'Region': 'Balears, Illes (IB)', 'id': 5}, {'Region': 'Canarias (CN)', 'id': 6}, {'Region': 'Cantabria (CB)', 'id': 7}, {'Region': 'Castilla y León (CL)', 'id': 8}  ... displaying 10 of 20 total bound parameter sets ...  {'Region': 'Ceuta (CE)', 'id': 19}, {'Region': 'Melilla (ML)', 'id': 20}]
2023-12-01 19:15:51,225 INFO sqlalchemy.engine.Engine COMMIT
2023-12-01 19:15:51,229 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-01 19:15:51,229 INFO sqlalchemy.engine.Engine ALTER TABLE `id` ADD PRIMARY KEY (`id`)
2023-12-01 19:15:51,229 INFO sqlalchemy.engine.Engine [generated in 0.00218s] {}
2023-12-01 19:15:51,275 INFO sqlalchemy.engine.Engine ROLLBACK
Engine(mysql+mysqlconnector://root:***@localhost:3306/VitalStatsES)
2023-12-01 19:15:56,499 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-01 19:15:56,499 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 19:15:56,499 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-01 19:15:56,499 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 19:15:56,507 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-01 19:15:56,508 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 19:15:56,509 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-01 19:15:56,512 INFO sqlalchemy.engine.Engine DESCRIBE `vitalstatses`.`Anos_de_vida_saludable_al_nacer`
2023-12-01 19:15:56,513 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 19:15:56,514 INFO sqlalchemy.engine.Engine
CREATE TABLE `Anos_de_vida_saludable_al_nacer` (
	id BIGINT,
	`Region` TEXT,
	`Año` BIGINT,
	`Hombre` FLOAT(53),
	`Mujer` FLOAT(53),
	`Total` FLOAT(53)
)


2023-12-01 19:15:56,518 INFO sqlalchemy.engine.Engine [no key 0.00128s] {}
2023-12-01 19:15:56,529 INFO sqlalchemy.engine.Engine INSERT INTO `Anos_de_vida_saludable_al_nacer` (id, `Region`, `Año`, `Hombre`, `Mujer`, `Total`) VALUES (%(id)s, %(Region)s, %(Año)s, %(Hombre)s, %(Mujer)s, %(Total)s)
2023-12-01 19:15:56,538 INFO sqlalchemy.engine.Engine [generated in 0.00143s] [{'id': 1, 'Region': 'España (ES)', 'Año': 2019, 'Hombre': 77.98, 'Mujer': 81.77, 'Total': 79.89}, {'id': 2, 'Region': 'Andalucía (AN)', 'Año': 2019, 'Hombre': 77.81, 'Mujer': 81.11, 'Total': 79.48}, {'id': 3, 'Region': 'Aragón (AR)', 'Año': 2019, 'Hombre': 79.26, 'Mujer': 82.86, 'Total': 81.28}, {'id': 4, 'Region': 'Asturias, Principado de (AS)', 'Año': 2019, 'Hombre': 76.94, 'Mujer': 80.58, 'Total': 78.81}, {'id': 5, 'Region': 'Balears, Illes (IB)', 'Año': 2019, 'Hombre': 79.92, 'Mujer': 81.06, 'Total': 80.46}, {'id': 6, 'Region': 'Canarias (CN)', 'Año': 2019, 'Hombre': 77.72, 'Mujer': 81.1, 'Total': 79.22}, {'id': 7, 'Region': 'Cantabria (CB)', 'Año': 2019, 'Hombre': 77.26, 'Mujer': 80.61, 'Total': 79.0}, {'id': 8, 'Region': 'Castilla y León (CL)', 'Año': 2019, 'Hombre': 78.14, 'Mujer': 82.99, 'Total': 80.49}  ... displaying 10 of 100 total bound parameter sets ...  {'id': 19, 'Region': 'Ceuta (CE)', 'Año': 2021, 'Hombre': 70.28, 'Mujer': 67.11, 'Total': 68.6}, {'id': 20, 'Region': 'Melilla (ML)', 'Año': 2021, 'Hombre': 70.28, 'Mujer': 67.11, 'Total': 68.6}]
2023-12-01 19:15:56,543 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `vitalstatses`
2023-12-01 19:15:56,543 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 19:15:56,545 INFO sqlalchemy.engine.Engine COMMIT
2023-12-01 19:15:56,549 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-01 19:15:56,549 INFO sqlalchemy.engine.Engine ALTER TABLE `Anos_de_vida_saludable_al_nacer` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)
2023-12-01 19:15:56,549 INFO sqlalchemy.engine.Engine [generated in 0.00172s] {}
2023-12-01 19:15:56,577 INFO sqlalchemy.engine.Engine ROLLBACK
The table Anos_de_vida_saludable_al_nacer has been successfully loaded into SQL with the associated key.
Engine(mysql+mysqlconnector://root:***@localhost:3306/VitalStatsES)
2023-12-01 19:15:56,817 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-01 19:15:56,818 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 19:15:56,819 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-01 19:15:56,819 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 19:15:56,824 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-01 19:15:56,824 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 19:15:56,829 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-01 19:15:56,829 INFO sqlalchemy.engine.Engine DESCRIBE `vitalstatses`.`Anos_de_vida_saludable_a_los_65_anos`
2023-12-01 19:15:56,829 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 19:15:56,837 INFO sqlalchemy.engine.Engine
CREATE TABLE `Anos_de_vida_saludable_a_los_65_anos` (
	id BIGINT,
	`Region` TEXT,
	`Año` BIGINT,
	`Hombre` FLOAT(53),
	`Mujer` FLOAT(53),
	`Total` FLOAT(53)
)


2023-12-01 19:15:56,839 INFO sqlalchemy.engine.Engine [no key 0.00106s] {}
2023-12-01 19:15:56,854 INFO sqlalchemy.engine.Engine INSERT INTO `Anos_de_vida_saludable_a_los_65_anos` (id, `Region`, `Año`, `Hombre`, `Mujer`, `Total`) VALUES (%(id)s, %(Region)s, %(Año)s, %(Hombre)s, %(Mujer)s, %(Total)s)
2023-12-01 19:15:56,855 INFO sqlalchemy.engine.Engine [generated in 0.00182s] [{'id': 1, 'Region': 'España (ES)', 'Año': 2019, 'Hombre': 17.83, 'Mujer': 20.23, 'Total': 19.09}, {'id': 2, 'Region': 'Andalucía (AN)', 'Año': 2019, 'Hombre': 17.42, 'Mujer': 18.81, 'Total': 18.17}, {'id': 3, 'Region': 'Aragón (AR)', 'Año': 2019, 'Hombre': 18.08, 'Mujer': 20.31, 'Total': 19.44}, {'id': 4, 'Region': 'Asturias, Principado de (AS)', 'Año': 2019, 'Hombre': 16.84, 'Mujer': 20.1, 'Total': 18.58}, {'id': 5, 'Region': 'Balears, Illes (IB)', 'Año': 2019, 'Hombre': 19.47, 'Mujer': 19.58, 'Total': 19.42}, {'id': 6, 'Region': 'Canarias (CN)', 'Año': 2019, 'Hombre': 18.68, 'Mujer': 19.24, 'Total': 18.86}, {'id': 7, 'Region': 'Cantabria (CB)', 'Año': 2019, 'Hombre': 16.88, 'Mujer': 19.55, 'Total': 18.3}, {'id': 8, 'Region': 'Castilla y León (CL)', 'Año': 2019, 'Hombre': 18.14, 'Mujer': 22.1, 'Total': 20.12}  ... displaying 10 of 100 total bound parameter sets ...  {'id': 19, 'Region': 'Ceuta (CE)', 'Año': 2021, 'Hombre': 13.68, 'Mujer': 12.85, 'Total': 13.16}, {'id': 20, 'Region': 'Melilla (ML)', 'Año': 2021, 'Hombre': 13.68, 'Mujer': 12.85, 'Total': 13.16}]
2023-12-01 19:15:56,860 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `vitalstatses`
2023-12-01 19:15:56,861 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 19:15:56,864 INFO sqlalchemy.engine.Engine COMMIT
2023-12-01 19:15:56,866 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-01 19:15:56,867 INFO sqlalchemy.engine.Engine ALTER TABLE `Anos_de_vida_saludable_a_los_65_anos` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)
2023-12-01 19:15:56,867 INFO sqlalchemy.engine.Engine [generated in 0.00133s] {}
2023-12-01 19:15:56,900 INFO sqlalchemy.engine.Engine ROLLBACK
The table Anos_de_vida_saludable_a_los_65_anos has been successfully loaded into SQL with the associated key.
Engine(mysql+mysqlconnector://root:***@localhost:3306/VitalStatsES)
2023-12-01 19:15:57,128 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-01 19:15:57,128 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 19:15:57,128 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-01 19:15:57,128 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 19:15:57,133 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-01 19:15:57,133 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 19:15:57,133 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-01 19:15:57,133 INFO sqlalchemy.engine.Engine DESCRIBE `vitalstatses`.`Consumo_diario_de_frutas_yo_verduras_en_adultos`
2023-12-01 19:15:57,138 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 19:15:57,142 INFO sqlalchemy.engine.Engine
CREATE TABLE `Consumo_diario_de_frutas_yo_verduras_en_adultos` (
	id BIGINT,
	`Region` TEXT,
	`Año` BIGINT,
	`Hombre` FLOAT(53),
	`Mujer` FLOAT(53),
	`Total` FLOAT(53)
)


2023-12-01 19:15:57,142 INFO sqlalchemy.engine.Engine [no key 0.00096s] {}
2023-12-01 19:15:57,149 INFO sqlalchemy.engine.Engine INSERT INTO `Consumo_diario_de_frutas_yo_verduras_en_adultos` (id, `Region`, `Año`, `Hombre`, `Mujer`, `Total`) VALUES (%(id)s, %(Region)s, %(Año)s, %(Hombre)s, %(Mujer)s, %(Total)s)
2023-12-01 19:15:57,156 INFO sqlalchemy.engine.Engine [generated in 0.00140s] [{'id': 1, 'Region': 'España (ES)', 'Año': 2020, 'Hombre': 72.31, 'Mujer': 80.39, 'Total': 76.46}, {'id': 2, 'Region': 'Andalucía (AN)', 'Año': 2020, 'Hombre': 78.28, 'Mujer': 83.26, 'Total': 80.82}, {'id': 3, 'Region': 'Aragón (AR)', 'Año': 2020, 'Hombre': 81.03, 'Mujer': 91.49, 'Total': 86.35}, {'id': 4, 'Region': 'Asturias, Principado de (AS)', 'Año': 2020, 'Hombre': 64.72, 'Mujer': 79.95, 'Total': 72.7}, {'id': 5, 'Region': 'Balears, Illes (IB)', 'Año': 2020, 'Hombre': 24.11, 'Mujer': 18.88, 'Total': 21.48}, {'id': 6, 'Region': 'Canarias (CN)', 'Año': 2020, 'Hombre': 61.73, 'Mujer': 69.11, 'Total': 65.47}, {'id': 7, 'Region': 'Cantabria (CB)', 'Año': 2020, 'Hombre': 55.44, 'Mujer': 63.67, 'Total': 59.69}, {'id': 8, 'Region': 'Castilla y León (CL)', 'Año': 2020, 'Hombre': 79.99, 'Mujer': 87.5, 'Total': 83.8}  ... displaying 10 of 40 total bound parameter sets ...  {'id': 19, 'Region': 'Ceuta (CE)', 'Año': 2017, 'Hombre': 61.32, 'Mujer': 63.18, 'Total': 62.24}, {'id': 20, 'Region': 'Melilla (ML)', 'Año': 2017, 'Hombre': 56.17, 'Mujer': 67.92, 'Total': 62.05}]
2023-12-01 19:15:57,161 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `vitalstatses`
2023-12-01 19:15:57,161 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 19:15:57,164 INFO sqlalchemy.engine.Engine COMMIT
2023-12-01 19:15:57,166 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-01 19:15:57,168 INFO sqlalchemy.engine.Engine ALTER TABLE `Consumo_diario_de_frutas_yo_verduras_en_adultos` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)
2023-12-01 19:15:57,169 INFO sqlalchemy.engine.Engine [generated in 0.00240s] {}
2023-12-01 19:15:57,207 INFO sqlalchemy.engine.Engine ROLLBACK
The table Consumo_diario_de_frutas_yo_verduras_en_adultos has been successfully loaded into SQL with the associated key.
Engine(mysql+mysqlconnector://root:***@localhost:3306/VitalStatsES)
2023-12-01 19:15:57,439 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-01 19:15:57,439 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 19:15:57,442 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-01 19:15:57,442 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 19:15:57,443 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-01 19:15:57,443 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 19:15:57,443 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-01 19:15:57,461 INFO sqlalchemy.engine.Engine DESCRIBE `vitalstatses`.`Consumo_diario_de_frutas_yo_verduras_en_jovenes`
2023-12-01 19:15:57,461 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 19:15:57,461 INFO sqlalchemy.engine.Engine
CREATE TABLE `Consumo_diario_de_frutas_yo_verduras_en_jovenes` (
	id BIGINT,
	`Region` TEXT,
	`Año` BIGINT,
	`Hombre` FLOAT(53),
	`Mujer` FLOAT(53),
	`Total` FLOAT(53)
)


2023-12-01 19:15:57,461 INFO sqlalchemy.engine.Engine [no key 0.00093s] {}
2023-12-01 19:15:57,477 INFO sqlalchemy.engine.Engine INSERT INTO `Consumo_diario_de_frutas_yo_verduras_en_jovenes` (id, `Region`, `Año`, `Hombre`, `Mujer`, `Total`) VALUES (%(id)s, %(Region)s, %(Año)s, %(Hombre)s, %(Mujer)s, %(Total)s)
2023-12-01 19:15:57,478 INFO sqlalchemy.engine.Engine [generated in 0.00110s] [{'id': 1, 'Region': 'España (ES)', 'Año': 2020, 'Hombre': 56.45, 'Mujer': 63.81, 'Total': 60.03}, {'id': 2, 'Region': 'Andalucía (AN)', 'Año': 2020, 'Hombre': 66.18, 'Mujer': 73.02, 'Total': 69.5}, {'id': 3, 'Region': 'Aragón (AR)', 'Año': 2020, 'Hombre': 78.09, 'Mujer': 88.18, 'Total': 83.0}, {'id': 4, 'Region': 'Asturias, Principado de (AS)', 'Año': 2020, 'Hombre': 41.3, 'Mujer': 53.76, 'Total': 47.36}, {'id': 5, 'Region': 'Balears, Illes (IB)', 'Año': 2020, 'Hombre': 11.25, 'Mujer': 22.79, 'Total': 16.88}, {'id': 6, 'Region': 'Canarias (CN)', 'Año': 2020, 'Hombre': 54.0, 'Mujer': 44.8, 'Total': 49.45}, {'id': 7, 'Region': 'Cantabria (CB)', 'Año': 2020, 'Hombre': 48.55, 'Mujer': 39.4, 'Total': 44.12}, {'id': 8, 'Region': 'Castilla y León (CL)', 'Año': 2020, 'Hombre': 53.5, 'Mujer': 65.2, 'Total': 59.22}  ... displaying 10 of 40 total bound parameter sets ...  {'id': 19, 'Region': 'Ceuta (CE)', 'Año': 2017, 'Hombre': 45.46, 'Mujer': 38.57, 'Total': 41.93}, {'id': 20, 'Region': 'Melilla (ML)', 'Año': 2017, 'Hombre': 31.4, 'Mujer': 71.1, 'Total': 50.96}]
2023-12-01 19:15:57,481 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `vitalstatses`
2023-12-01 19:15:57,482 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 19:15:57,482 INFO sqlalchemy.engine.Engine COMMIT
2023-12-01 19:15:57,487 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-01 19:15:57,488 INFO sqlalchemy.engine.Engine ALTER TABLE `Consumo_diario_de_frutas_yo_verduras_en_jovenes` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)
2023-12-01 19:15:57,489 INFO sqlalchemy.engine.Engine [generated in 0.00180s] {}
2023-12-01 19:15:57,514 INFO sqlalchemy.engine.Engine ROLLBACK
The table Consumo_diario_de_frutas_yo_verduras_en_jovenes has been successfully loaded into SQL with the associated key.
Engine(mysql+mysqlconnector://root:***@localhost:3306/VitalStatsES)
2023-12-01 19:15:57,749 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-01 19:15:57,749 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 19:15:57,749 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-01 19:15:57,749 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 19:15:57,758 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-01 19:15:57,759 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 19:15:57,760 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-01 19:15:57,760 INFO sqlalchemy.engine.Engine DESCRIBE `vitalstatses`.`Consumo_intensivo_de_alcohol_al_menos_una_vez_al_mes_en_los_ultimos_12_meses_en_jovenes`
2023-12-01 19:15:57,760 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 19:15:57,760 INFO sqlalchemy.engine.Engine COMMIT

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1059 (42000): Identifier name 'Consumo_intensivo_de_alcohol_al_menos_una_vez_al_mes_en_los_ultimos_12_meses_en_jovenes' is too long
[SQL: DESCRIBE `vitalstatses`.`Consumo_intensivo_de_alcohol_al_menos_una_vez_al_mes_en_los_ultimos_12_meses_en_jovenes`]
(Background on this error at: https://sqlalche.me/e/20/f405)