In [1]:
import pandas as pd

import os
import sys
sys.path.append('../src')
from clean_data import *

In [2]:
# def nuevos_df(df):
    
#     # Verifica si alguna de las columnas contiene la palabra 'Hombre' para localizar los df diferentes:
    
#     if all('Hombre' not in col for col in df.columns):
        
#         df_new = pd.DataFrame(columns=['Region', 'Año', 'Total'])
        
#         years = set(col.split('_')[0] for col in df.columns if '_' in col)  # cogemos año 
        
#         for year in years:
            
#             if f'{year}_Total' in df.columns:
                
#                 df_year = df[['Region', f'{year}_Total']].copy()
                                
#                 df_year.columns = ['Region', 'Total']
#                 df_year['Año'] = year
#                 df_new = pd.concat([df_new, df_year], ignore_index=True)
                
#     else:
        
#         df_new = pd.DataFrame(columns=['Region', 'Año', 'Hombre', 'Mujer', 'Total'])
       
#         years = set(col.split('_')[0] for col in df.columns if '_' in col)  # cogemos año 
    
#         for year in years:
        
#             if f'{year}_Hombres' in df.columns and f'{year}_Mujeres' in df.columns and f'{year}_Total' in df.columns:
            
#                 df_year = df[['Region', f'{year}_Hombres', f'{year}_Mujeres', f'{year}_Total']].copy()
#                 df_year.columns = ['Region', 'Hombre', 'Mujer', 'Total']
#                 df_year['Año'] = year
#                 df_new = pd.concat([df_new, df_year], ignore_index=True)
                
#     return df_new

In [3]:
process_excel_files('../data') # abre archivos excel, transforma y guarda en csv

In [4]:
df = pd.read_csv('../data/Incidencia_de_tuberculosis_por_100_000_hab.csv')

df.head()

   id                        Region   Año  Total
0   1                   España (ES)  2019   9.28
1   2                Andalucía (AN)  2019   6.46
2   3                   Aragón (AR)  2019  10.12
3   4  Asturias, Principado de (AS)  2019  10.49
4   5           Balears, Illes (IB)  2019   5.42

In [ ]:
df.head()