In [1]:
import pandas as pd

import os
import sys
sys.path.append('../src')
from clean_data import *

In [2]:
# def nuevos_df(df):
    
#     # Verifica si alguna de las columnas contiene la palabra 'Hombre' para localizar los df diferentes:
    
#     if all('Hombre' not in col for col in df.columns):
        
#         df_new = pd.DataFrame(columns=['Region', 'Año', 'Total'])
        
#         years = set(col.split('_')[0] for col in df.columns if '_' in col)  # cogemos año 
        
#         for year in years:
            
#             if f'{year}_Total' in df.columns:
                
#                 df_year = df[['Region', f'{year}_Total']].copy()
                                
#                 df_year.columns = ['Region', 'Total']
#                 df_year['Año'] = year
#                 df_new = pd.concat([df_new, df_year], ignore_index=True)
                
#     else:
        
#         df_new = pd.DataFrame(columns=['Region', 'Año', 'Hombre', 'Mujer', 'Total'])
       
#         years = set(col.split('_')[0] for col in df.columns if '_' in col)  # cogemos año 
    
#         for year in years:
        
#             if f'{year}_Hombres' in df.columns and f'{year}_Mujeres' in df.columns and f'{year}_Total' in df.columns:
            
#                 df_year = df[['Region', f'{year}_Hombres', f'{year}_Mujeres', f'{year}_Total']].copy()
#                 df_year.columns = ['Region', 'Hombre', 'Mujer', 'Total']
#                 df_year['Año'] = year
#                 df_new = pd.concat([df_new, df_year], ignore_index=True)
                
#     return df_new

In [6]:
process_excel_files('../data') # abre archivos excel, transforma y guarda en csv

In [11]:
df = pd.read_csv('../data/Incidencia_de_tuberculosis_por_100_000_hab.csv')

df.head(50)

    id                        Region   Año  Total
0    1                   España (ES)  2019   9.28
1    2                Andalucía (AN)  2019   6.46
2    3                   Aragón (AR)  2019  10.12
3    4  Asturias, Principado de (AS)  2019  10.49
4    5           Balears, Illes (IB)  2019   5.42
5    6                 Canarias (CN)  2019   5.72
6    7                Cantabria (CB)  2019   8.08
7    8          Castilla y León (CL)  2019   9.96
8    9     Castilla - La Mancha (CM)  2019   5.20
9   10                 Cataluña (CT)  2019  13.55
10  11     Comunitat Valenciana (VC)  2019   8.46
11  12              Extremadura (EX)  2019   5.18
12  13                  Galicia (GA)  2019  19.19
13  14     Madrid, Comunidad de (MD)  2019   8.74
14  15        Murcia, Región de (MC)  2019   8.70
15  16     Navarra, C. Foral de (NC)  2019   3.98
16  17               País Vasco (PV)  2019   9.07
17  18                 La Rioja (RI)  2019   9.22
18  19                    Ceuta (CE)  2019  16.58
19  20                  Melilla (ML)  2019   9.49
20   1                   España (ES)  2017   9.42
21   2                Andalucía (AN)  2017   6.59
22   3                   Aragón (AR)  2017  10.18
23   4  Asturias, Principado de (AS)  2017   8.35
24   5           Balears, Illes (IB)  2017   8.98
25   6                 Canarias (CN)  2017   5.13
26   7                Cantabria (CB)  2017   9.81
27   8          Castilla y León (CL)  2017   8.62
28   9     Castilla - La Mancha (CM)  2017   6.84
29  10                 Cataluña (CT)  2017  12.94
30  11     Comunitat Valenciana (VC)  2017   8.40
31  12              Extremadura (EX)  2017   5.12
32  13                  Galicia (GA)  2017  19.57
33  14     Madrid, Comunidad de (MD)  2017   9.21
34  15        Murcia, Región de (MC)  2017   8.01
35  16     Navarra, C. Foral de (NC)  2017   4.21
36  17               País Vasco (PV)  2017  10.47
37  18                 La Rioja (RI)  2017   9.28
38  19                    Ceuta (CE)  2017   9.41
39  20                  Melilla (ML)  2017   9.43
40   1                   España (ES)  2018   9.39
41   2                Andalucía (AN)  2018   7.19
42   3                   Aragón (AR)  2018   8.59
43   4  Asturias, Principado de (AS)  2018  10.15
44   5           Balears, Illes (IB)  2018   9.69
45   6                 Canarias (CN)  2018   7.04
46   7                Cantabria (CB)  2018  13.08
47   8          Castilla y León (CL)  2018   8.50
48   9     Castilla - La Mancha (CM)  2018   7.34
49  10                 Cataluña (CT)  2018  12.56

In [ ]:
comunidades_dict = {'España (ES)': 1, 
    'Andalucía (AN)': 2,
    'Aragón (AR)': 3,
    'Asturias, Principado de (AS)': 4,
    'Balears, Illes (IB)': 5,
    'Canarias (CN)': 6,
    'Cantabria (CB)': 7,
    'Castilla y León (CL)': 8,
    'Castilla - La Mancha (CM)': 9,
    'Cataluña (CT)': 10,
    'Comunitat Valenciana (VC)': 11,
    'Extremadura (EX)': 12,
    'Galicia (GA)': 13,
    'Madrid, Comunidad de (MD)': 14,
    'Murcia, Región de (MC)': 15,
    'Navarra, C. Foral de (NC)': 16,
    'País Vasco (PV)': 17,
    'La Rioja (RI)': 18,
    'Ceuta (CE)': 19,
    'Melilla (ML)': 20}

In [7]:
id = pd.DataFrame(list(comunidades_dict.items()), columns=['Region', 'id'])

id.head()

                         Region  id
0                   España (ES)   1
1                Andalucía (AN)   2
2                   Aragón (AR)   3
3  Asturias, Principado de (AS)   4
4           Balears, Illes (IB)   5