In [22]:
import pandas as pd

import os
import sys
sys.path.append('../src')
from clean_data import *

In [20]:
df = pd.read_excel('..\data\Esperanza_de_vida_al_nacer.xls')
test = clean_columns(df)
final = create_df(test)
final.head()

,Region,2017_Hombres,2017_Mujeres,2017_Total,2018_Hombres,2018_Mujeres,2018_Total,2019_Hombres,2019_Mujeres,2019_Total,2020_Hombres,2020_Mujeres,2020_Total,2021_Hombres,2021_Mujeres,2021_Total
0,España (ES),80.43,86,83.25,80.43,86.08,83.29,80.88,86.56,83.76,79.47,85.02,82.25,80.25,86.12,83.2
1,Andalucía (AN),79.43,84.7,82.08,79.23,84.64,81.94,79.76,85.25,82.52,78.99,84.4,81.68,78.87,84.36,81.6
2,Aragón (AR),80.61,86.46,83.52,80.86,86.58,83.71,81.44,87.07,84.26,79.7,84.91,82.28,80.58,86.25,83.4
3,"Asturias, Principado de (AS)",79.69,85.83,82.84,79.68,85.79,82.8,79.98,86.09,83.11,79.1,85.03,82.11,80.1,85.55,82.91
4,"Balears, Illes (IB)",80.59,85.64,83.11,81.01,86.04,83.53,81.63,86.49,84.09,81.37,86.29,83.83,81.05,86.33,83.68

In [26]:
def process_excel_files(directory):
    
    # Itera sobre todos los archivos en el directorio especificado
    for filename in os.listdir(directory):
        print(filename)
        
        # Comprueba si el archivo es un archivo de Excel
        if filename.endswith(".xls") or filename.endswith(".xlsx"):
            try:
                # Carga el archivo de Excel como un DataFrame
                df = pd.read_excel(os.path.join(directory, filename))
                
                # Aplica las funciones clean_columns() y create_df()
                df = clean_columns(df)
                df = create_df(df)
                
                # Guarda el DataFrame como un archivo CSV
                # El nombre del archivo será el mismo que el del archivo de Excel, pero con la extensión .csv
                df.to_csv(os.path.join(directory, os.path.splitext(filename)[0] + '.csv'), index=False)
            except Exception as e:
                print(f"Error al procesar el archivo {filename}: {e}")
                continue

# Llama a la función con la ruta de tu directorio
process_excel_files('../data')

Anos_de_vida_saludable_al_nacer.csv
Anos_de_vida_saludable_a_los_65_anos.csv
Consumo_diario_de_frutas_yo_verduras_en_adultos.csv
Consumo_diario_de_frutas_yo_verduras_en_jovenes.csv
Consumo_intensivo_de_alcohol_al_menos_una_vez_al_mes_en_los_ultimos_12_meses_en_jovenes.csv
Deterioro_cognitivo_en_65_y_mas_anos.csv
Dificultad_para_la_movilidad_en_65_y_mas_anos.csv
Esperanza_de_vida_al_nacer.csv
Esperanza_de_vida_a_los_65_anos.csv
Incidencia_de_accidentes_de_trabajo.csv
Incidencia_de_nuevos_diagnosticos_de_VIH.csv
Incidencia_de_tuberculosis_por_100_000_hab.csv
Indice_de_calidad_de_vida_infantil_relacionada_con_la_salud.csv
Indice_de_dependencia.csv
Indice_de_dependencia_en_65_y_mas_anos.csv
Indice_de_dependencia_juvenil.csv
Ingresos_medios_por_persona_euros.csv
Limitacion_para_la_realizacion_de_actividades_relacionadas_con_el_hogar_en_65_y_mas_anos.csv
Numero_de_victimas_mortales_de_accidentes_de_trafico.csv
Numero_de_victimas_no_mortales_de_accidente_de_trafico.csv
Porcentaje_de_bebedores_de_riesgo_de_alcohol.csv
Porcentaje_de_consumidores_de_cannabis_en_escolares_adolescentes_de_14_a_18_anos.csv
Porcentaje_de_la_poblacion_que_declara_escasez_de_zonas_verdes_en_el_entorno_de_su_vivienda.csv
Porcentaje_de_la_poblacion_que_declara_que_el_ruido_procedente_del_exterior_de_su_vivienda_es_molesto.csv
Porcentaje_de_poblacion_adulta_en_riesgo_de_mala_salud_mental.csv
Porcentaje_de_poblacion_con_valoracion_positiva_de_su_estado_de_salud.csv
Porcentaje_de_poblacion_de_65_anos_y_mas_anos_con_valoracion_positiva_de_su_estado_de_salud.csv
Porcentaje_de_poblacion_de_clase_social_baja.csv
Porcentaje_de_poblacion_que_recibe_suministro_con_Cobertura_del_Sistema_Nacional_de_Aguas_de_Consumo.csv
Porcentaje_de_recien_nacidos_a_termino_con_bajo_peso.csv
Prevalencia_de_consumo_de_tabaco_en_poblacion_adulta.csv
Prevalencia_de_consumo_diario_de_tabaco_en_jovenes.csv
Prevalencia_de_obesidad_en_poblacion_de_18_y_mas_anos.csv
Prevalencia_de_obesidad_en_poblacion_infantil.csv
Prevalencia_de_sedentarismo_en_jovenes.csv
Prevalencia_de_sedentarismo_en_poblacion_adulta.csv
Prevalencia_registrada_de_cardiopatia_isquemica_en_poblacion_de_40_y_mas_anos.csv
Prevalencia_registrada_de_diabetes_mellitus_en_poblacion_general.csv
Prevalencia_registrada_de_EPOC_en_poblacion_de_40_y_mas_anos.csv
Prevalencia_registrada_de_hipertension_arterial_en_poblacion_general.csv
Prevalencia_registrada_de_sindromes_dolorosos_de_columna_vertebral_en_poblacion_general.csv
Prevalencia_registrada_de_trastornos_mentales_en_poblacion_general.csv
Proporcion_de_poblacion_de_25_a_64_anos_con_nivel_de_estudios_de_1_Etapa_de_educacion_secundaria_o_inferior.csv
Tasa_ajustada_de_hospitalizacion_por_asma_por_10_000_hab.csv
Tasa_ajustada_de_hospitalizacion_por_diabetes_mellitus_por_10_000_hab.csv
Tasa_ajustada_de_hospitalizacion_por_enfermedades_cerebrovasculares_por_10_000_hab.csv
Tasa_ajustada_de_hospitalizacion_por_enfermedad_hipertensiva_por_10_000_hab.csv
Tasa_ajustada_de_hospitalizacion_por_EPOC_por_10_000_hab.csv
Tasa_ajustada_de_hospitalizacion_por_infarto_agudo_de_miocardio_por_10_000_hab.csv
Tasa_ajustada_de_hospitalizacion_por_Insuficiencia_cardiaca_congestiva_por_10_000_hab.csv
Tasa_bruta_de_hospitalizacion_por_enfermedades_cerebrovasculares_por_10_000_hab.csv
Tasa_bruta_de_hospitalizacion_por_infarto_agudo_de_miocardio_por_10_000_hab.csv
Tasa_de_desempleo_en_menores_de_25_anos.csv
Tasa_de_desempleo_total.csv
Tasa_de_mortalidad_ajustada_por_edad_por_cancer_por_100_000_hab.csv
Tasa_de_mortalidad_ajustada_por_edad_por_cardiopatia_isquemica_por_100_000_hab.csv
Tasa_de_mortalidad_ajustada_por_edad_por_diabetes_mellitus_por_100_000_hab.csv
Tasa_de_mortalidad_ajustada_por_edad_por_enfermedad_cerebrovascular_por_100_000_hab.csv
Tasa_de_mortalidad_ajustada_por_edad_por_enfermedad_cronica_del_higado_por_100_000_hab.csv
Tasa_de_mortalidad_ajustada_por_edad_por_enfermedad_pulmonar_obstructiva_cronica_por_100_000_hab.csv
Tasa_de_mortalidad_ajustada_por_edad_por_neumonia_e_influenza_por_100_000_hab.csv
Tasa_de_mortalidad_ajustada_por_edad_por_suicidio_por_100_000_hab.csv
Tasa_de_mortalidad_infantil_por_1000_nacidos_vivos.csv
Tasa_de_mortalidad_prematura_por_cancer_ajustada_por_edad_por_100_000_hab.csv
Tasa_de_mortalidad_prematura_por_cardiopatia_isquemica_ajustada_por_edad_por_100_000_hab.csv
Tasa_de_mortalidad_prematura_por_diabetes_mellitus_ajustada_por_edad_por_100_000_hab.csv
Tasa_de_mortalidad_prematura_por_enfermedad_vascular_cerebral_ajustada_por_edad_por_100_000_hab.csv
Tasa_de_mortalidad_prematura_por_EPOC_ajustada_por_edad_por_100_000_hab.csv
Tasa_de_natalidad_por_1000_habitantes.csv
Tasa_de_riesgo_de_pobreza_indicador_AROPE.csv

In [27]:
def process_excel_files(directory):
    
    # Itera sobre todos los archivos en el directorio especificado
    for filename in os.listdir(directory):
        
        # Comprueba si el archivo es un archivo de Excel 
        if filename.endswith(".xls") or filename.endswith(".xlsx"): 
            
            #Si falla al aplicar funciones a todos los xls que no pare y me diga cuales fallaron
            try:
                # Carga el archivo de Excel como un df
                df = pd.read_excel(os.path.join(directory, filename))
                
                # app funciones
                df = clean_columns(df)
                df = create_df(df)
                
                # Optimizar
                df = df.apply(pd.to_numeric, errors='ignore')
                df = df.apply(pd.to_numeric, downcast='integer', errors='ignore')
                
                # Guarda como csv
                # El nombre del archivo será el mismo que el del archivo de Excel, pero con la extensión .csv
                df.to_csv(os.path.join(directory, os.path.splitext(filename)[0] + '.csv'), index=False)
            except Exception as e:
                print(f"Error al procesar el archivo {filename}: {e}")
                continue
            
process_excel_files('../data')

In [33]:
df = pd.read_excel('../data/Incidencia_de_tuberculosis_por_100_000_hab.xls')

df.head()

,Incidencia de tuberculosis por 100 000 hab.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,CC.AA.,Años,NaN,NaN,NaN,NaN
1,NaN,2017,2018,2019,2020,2021
2,NaN,Total,Total,Total,Total,Total
3,España (ES),9.42,9.39,9.28,7.58,7.61
4,Andalucía (AN),6.59,7.19,6.46,5.93,5.53

In [34]:
test = clean_columns(df)

test.head()

,Region,2017_Total,2018_Total,2019_Total,2020_Total,2021_Total
0,España (ES),9.42,9.39,9.28,7.58,7.61
1,Andalucía (AN),6.59,7.19,6.46,5.93,5.53
2,Aragón (AR),10.18,8.59,10.12,6.31,8.45
3,"Asturias, Principado de (AS)",8.35,10.15,10.49,11.72,7.73
4,"Balears, Illes (IB)",8.98,9.69,5.42,6.09,5.82