In [7]:
import pandas as pd

import os
import sys
sys.path.append('../src')
from clean_data import *

In [8]:
# def nuevos_df(df):
    
#     # Verifica si alguna de las columnas contiene la palabra 'Hombre' para localizar los df diferentes:
    
#     if all('Hombre' not in col for col in df.columns):
        
#         df_new = pd.DataFrame(columns=['Region', 'Año', 'Total'])
        
#         years = set(col.split('_')[0] for col in df.columns if '_' in col)  # cogemos año 
        
#         for year in years:
            
#             if f'{year}_Total' in df.columns:
                
#                 df_year = df[['Region', f'{year}_Total']].copy()
                                
#                 df_year.columns = ['Region', 'Total']
#                 df_year['Año'] = year
#                 df_new = pd.concat([df_new, df_year], ignore_index=True)
                
#     else:
        
#         df_new = pd.DataFrame(columns=['Region', 'Año', 'Hombre', 'Mujer', 'Total'])
       
#         years = set(col.split('_')[0] for col in df.columns if '_' in col)  # cogemos año 
    
#         for year in years:
        
#             if f'{year}_Hombres' in df.columns and f'{year}_Mujeres' in df.columns and f'{year}_Total' in df.columns:
            
#                 df_year = df[['Region', f'{year}_Hombres', f'{year}_Mujeres', f'{year}_Total']].copy()
#                 df_year.columns = ['Region', 'Hombre', 'Mujer', 'Total']
#                 df_year['Año'] = year
#                 df_new = pd.concat([df_new, df_year], ignore_index=True)
                
#     return df_new

In [11]:
process_excel_files('../data') # abre archivos excel, transforma y guarda en csv

In [12]:
df = pd.read_csv('../data/Incidencia_de_tuberculosis_por_100_000_hab.csv')

                          Region   Año  Total
0                    España (ES)  2020   7.58
1                 Andalucía (AN)  2020   5.93
2                    Aragón (AR)  2020   6.31
3   Asturias, Principado de (AS)  2020  11.72
4            Balears, Illes (IB)  2020   6.09
..                           ...   ...    ...
95     Navarra, C. Foral de (NC)  2019   3.98
96               País Vasco (PV)  2019   9.07
97                 La Rioja (RI)  2019   9.22
98                    Ceuta (CE)  2019  16.58
99                  Melilla (ML)  2019   9.49

[100 rows x 3 columns]