In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import mysql.connector
from sqlalchemy import create_engine

import warnings
warnings.filterwarnings('ignore')

import sys
sys.path.insert(1, '../')

import os

In [2]:
def csv_load(ruta_carpeta):
   
    dataframes = []

    for archivo in os.listdir(ruta_carpeta):
        
        if archivo.endswith('.csv'):
            
            path = os.path.join(ruta_carpeta, archivo)

            df = pd.read_csv(path)
            
            dataframes.append((archivo.replace('.csv', ''), df))

    return dataframes

lista_dataframes = csv_load('../data')

names = []
dataframes = []

for nombre, df in lista_dataframes:
    names.append(nombre)
    dataframes.append(df)

In [3]:
# # ya tengo las tablas cargadas, falta crear base de datos, crear las tablas y subir los csv a las tablas:

# #CONEXION Y CREACION DB:

# key = open('password.txt','r').read()

# conexion = mysql.connector.connect(user='root', password= key, host='localhost')
 
# cursor = conexion.cursor()

# cursor.execute('CREATE DATABASE IF NOT EXISTS VitalStatsES')

# # SUBIR TABLA ID Y CREAR PRYMARY KEY:

# conexion = mysql.connector.connect(user='root', password= key, host='localhost',database = 'VitalStatsES' )

# cursor = conexion.cursor()

# for name in names:

#     df = pd.read_csv(f'../data/{name}.csv')
    
#     for dato in df.select_dtypes(include='float'):
#         df[dato] = pd.to_numeric(df[dato], downcast='float')

#     for c in df.select_dtypes('integer'):
#         df[dato] = pd.to_numeric(df[dato], downcast='integer')

#     if name == 'id':
        
#         df.to_sql(name= name,
#                     con= conexion,
#                     if_exists='append',
#                     index=False )

#         with cursor.connect() as con:
#                 con.execute(f'ALTER TABLE `{name}` ADD PRIMARY KEY (`id`);')
                
#     else:
        
#         df.to_sql(name= name,
#                     con= conexion,
#                     if_exists='append',
#                     index=False )

#         with cursor.connect() as con:
#                 con.execute(f'ALTER TABLE `{name}` ADD FOREIGN KEY (`id`);')

In [4]:
# from sqlalchemy import create_engine

# key = open('password.txt','r').read()

# engine = create_engine(f"mysql://root:"{key}"@HOST/DATABASE")
# con = engine.connect()

# mydb = mysql.connector.connect(
#   host="localhost",
#   user="root",
#   password= key)

# mycursor = mydb.cursor()
# mycursor.execute("CREATE DATABASE newdatabase")

# for name in names: 
#     df = pd.read_csv(f'../data/{name}.csv')
    
#     if name == 'id':
#         df.to_sql (name = name,
#                     con= conexion,
#                     if_exists = 'replace',
#                     index = False )

In [5]:
# import pandas as pd
# from sqlalchemy import create_engine

# # Crear la conexión a la base de datos

# key = open('password.txt','r').read()


# engine = create_engine(f'mysql+mysqlconnector://root:{key}@localhost:3306/VitalStatsES', echo=True)


# df = pd.read_csv('../data/Anos_de_vida_saludable_a_los_65_anos.csv')


# table_name = 'Anos_de_vida_saludable_a_los_65_anos' 

# df.to_sql(table_name, con=engine, if_exists='replace', index=False)

In [6]:
import pandas as pd
from sqlalchemy import create_engine, text

# Crear la conexión a la base de datos

key = open('password.txt','r').read()

conexion = mysql.connector.connect(user='root', password= key, host='localhost')
 
cursor = conexion.cursor()

cursor.execute('CREATE DATABASE IF NOT EXISTS VitalStatsES')

df = pd.read_csv('../data/id.csv')

engine = create_engine(f'mysql+mysqlconnector://root:{key}@localhost:3306/VitalStatsES', echo=True) # añado esto detras para indicarle donde sube las tablas

table_name = 'id' 

df.to_sql(table_name, con=engine, if_exists='append', index=False)

with engine.connect() as con:
    con.execute(text(f'ALTER TABLE `{table_name}` ADD PRIMARY KEY (`id`)')) 
       
    # ***************************************************************************          ESTO FUNCIONA ¡¡¡               ***************************************************************************
    
# OTRA TABLA PERO CON FOREIGN:

table_name = 'Anos_de_vida_saludable_al_nacer' 

df = pd.read_csv('../data/Anos_de_vida_saludable_al_nacer.csv')

df.to_sql(table_name, con=engine, if_exists='append', index=False)

with engine.connect() as con:
    con.execute(text(f'ALTER TABLE `{table_name}` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)'))

2023-12-01 18:29:42,279 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-01 18:29:42,279 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 18:29:42,283 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-01 18:29:42,283 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 18:29:42,284 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-01 18:29:42,284 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 18:29:42,287 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-01 18:29:42,289 INFO sqlalchemy.engine.Engine DESCRIBE `vitalstatses`.`id`
2023-12-01 18:29:42,290 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 18:29:42,293 INFO sqlalchemy.engine.Engine
CREATE TABLE id (
	`Region` TEXT,
	id BIGINT
)


2023-12-01 18:29:42,295 INFO sqlalchemy.engine.Engine [no key 0.00137s] {}
2023-12-01 18:29:42,313 INFO sqlalchemy.engine.Engine INSERT INTO id (`Region`, id) VALUES (%(Region)s, %(id)s)
2023-12-01 18:29:42,314 INFO sqlalchemy.engine.Engine [generated in 0.00136s] [{'Region': 'España (ES)', 'id': 1}, {'Region': 'Andalucía (AN)', 'id': 2}, {'Region': 'Aragón (AR)', 'id': 3}, {'Region': 'Asturias, Principado de (AS)', 'id': 4}, {'Region': 'Balears, Illes (IB)', 'id': 5}, {'Region': 'Canarias (CN)', 'id': 6}, {'Region': 'Cantabria (CB)', 'id': 7}, {'Region': 'Castilla y León (CL)', 'id': 8}  ... displaying 10 of 20 total bound parameter sets ...  {'Region': 'Ceuta (CE)', 'id': 19}, {'Region': 'Melilla (ML)', 'id': 20}]
2023-12-01 18:29:42,318 INFO sqlalchemy.engine.Engine COMMIT
2023-12-01 18:29:42,323 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-01 18:29:42,323 INFO sqlalchemy.engine.Engine ALTER TABLE `id` ADD PRIMARY KEY (`id`)
2023-12-01 18:29:42,325 INFO sqlalchemy.engine.Engine [generated in 0.00269s] {}
2023-12-01 18:29:42,360 INFO sqlalchemy.engine.Engine ROLLBACK
2023-12-01 18:29:42,364 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-01 18:29:42,366 INFO sqlalchemy.engine.Engine DESCRIBE `vitalstatses`.`Anos_de_vida_saludable_al_nacer`
2023-12-01 18:29:42,368 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 18:29:42,372 INFO sqlalchemy.engine.Engine
CREATE TABLE `Anos_de_vida_saludable_al_nacer` (
	id BIGINT,
	`Region` TEXT,
	`Año` BIGINT,
	`Hombre` FLOAT(53),
	`Mujer` FLOAT(53),
	`Total` FLOAT(53)
)


2023-12-01 18:29:42,374 INFO sqlalchemy.engine.Engine [no key 0.00194s] {}
2023-12-01 18:29:42,391 INFO sqlalchemy.engine.Engine INSERT INTO `Anos_de_vida_saludable_al_nacer` (id, `Region`, `Año`, `Hombre`, `Mujer`, `Total`) VALUES (%(id)s, %(Region)s, %(Año)s, %(Hombre)s, %(Mujer)s, %(Total)s)
2023-12-01 18:29:42,391 INFO sqlalchemy.engine.Engine [generated in 0.00169s] [{'id': 1, 'Region': 'España (ES)', 'Año': 2019, 'Hombre': 77.98, 'Mujer': 81.77, 'Total': 79.89}, {'id': 2, 'Region': 'Andalucía (AN)', 'Año': 2019, 'Hombre': 77.81, 'Mujer': 81.11, 'Total': 79.48}, {'id': 3, 'Region': 'Aragón (AR)', 'Año': 2019, 'Hombre': 79.26, 'Mujer': 82.86, 'Total': 81.28}, {'id': 4, 'Region': 'Asturias, Principado de (AS)', 'Año': 2019, 'Hombre': 76.94, 'Mujer': 80.58, 'Total': 78.81}, {'id': 5, 'Region': 'Balears, Illes (IB)', 'Año': 2019, 'Hombre': 79.92, 'Mujer': 81.06, 'Total': 80.46}, {'id': 6, 'Region': 'Canarias (CN)', 'Año': 2019, 'Hombre': 77.72, 'Mujer': 81.1, 'Total': 79.22}, {'id': 7, 'Region': 'Cantabria (CB)', 'Año': 2019, 'Hombre': 77.26, 'Mujer': 80.61, 'Total': 79.0}, {'id': 8, 'Region': 'Castilla y León (CL)', 'Año': 2019, 'Hombre': 78.14, 'Mujer': 82.99, 'Total': 80.49}  ... displaying 10 of 100 total bound parameter sets ...  {'id': 19, 'Region': 'Ceuta (CE)', 'Año': 2021, 'Hombre': 70.28, 'Mujer': 67.11, 'Total': 68.6}, {'id': 20, 'Region': 'Melilla (ML)', 'Año': 2021, 'Hombre': 70.28, 'Mujer': 67.11, 'Total': 68.6}]
2023-12-01 18:29:42,396 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `vitalstatses`
2023-12-01 18:29:42,398 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 18:29:42,399 INFO sqlalchemy.engine.Engine COMMIT
2023-12-01 18:29:42,401 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-01 18:29:42,401 INFO sqlalchemy.engine.Engine ALTER TABLE `Anos_de_vida_saludable_al_nacer` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)
2023-12-01 18:29:42,401 INFO sqlalchemy.engine.Engine [generated in 0.00152s] {}
2023-12-01 18:29:42,431 INFO sqlalchemy.engine.Engine ROLLBACK