In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import mysql.connector
from sqlalchemy import create_engine

import warnings
warnings.filterwarnings('ignore')

import sys
sys.path.insert(1, '../')

import os

In [2]:
def csv_load(ruta_carpeta):
   
    dataframes = []

    for archivo in os.listdir(ruta_carpeta):
        
        if archivo.endswith('.csv'):
            
            path = os.path.join(ruta_carpeta, archivo)

            df = pd.read_csv(path)
            
            dataframes.append((archivo.replace('.csv', ''), df))

    return dataframes

lista_dataframes = csv_load('../data')

names = []
dataframes = []

for nombre, df in lista_dataframes:
    names.append(nombre)
    dataframes.append(df)

In [3]:
# ya tengo las tablas cargadas, falta crear base de datos, crear las tablas y subir los csv a las tablas:

#CONEXION Y CREACION DB:

key = open('password.txt','r').read()

conexion = mysql.connector.connect(user='root', password= key, host='localhost')
 
cursor = conexion.cursor()

cursor.execute('CREATE DATABASE IF NOT EXISTS VitalStatsES')

# SUBIR TABLA ID Y CREAR PRYMARY KEY:

conexion = mysql.connector.connect(user='root', password= key, host='localhost',database = 'VitalStatsES' )

cursor = conexion.cursor()

for name in names:

    df = pd.read_csv(f'../data/{name}.csv')
    
    for dato in df.select_dtypes(include='float'):
        df[dato] = pd.to_numeric(df[dato], downcast='float')

    for c in df.select_dtypes('integer'):
        df[dato] = pd.to_numeric(df[dato], downcast='integer')

    if name == 'id':
        
        df.to_sql(name= name,
                    con= conexion,
                    if_exists='append',
                    index=False )

        with cursor.connect() as con:
                con.execute(f'ALTER TABLE `{name}` ADD PRIMARY KEY (`id`);')
                
    else:
        
        df.to_sql(name= name,
                    con= conexion,
                    if_exists='append',
                    index=False )

        with cursor.connect() as con:
                con.execute(f'ALTER TABLE `{name}` ADD FOREIGN KEY (`id`);')

DatabaseError: Execution failed on sql '
        SELECT
            name
        FROM
            sqlite_master
        WHERE
            type IN ('table', 'view')
            AND name=?;
        ': Not all parameters were used in the SQL statement

In [ ]:
# from sqlalchemy import create_engine

# key = open('password.txt','r').read()

# engine = create_engine(f"mysql://root:"{key}"@HOST/DATABASE")
# con = engine.connect()

# mydb = mysql.connector.connect(
#   host="localhost",
#   user="root",
#   password= key)

# mycursor = mydb.cursor()
# mycursor.execute("CREATE DATABASE newdatabase")

# for name in names: 
#     df = pd.read_csv(f'../data/{name}.csv')
    
#     if name == 'id':
#         df.to_sql (name = name,
#                     con= conexion,
#                     if_exists = 'replace',
#                     index = False )

In [7]:
import pandas as pd
from sqlalchemy import create_engine

# Crear la conexión a la base de datos

key = open('password.txt','r').read()


engine = create_engine(f'mysql+mysqlconnector://root:{key}@localhost:3306/VitalStatsES', echo=True)


df = pd.read_csv('../data/Anos_de_vida_saludable_a_los_65_anos.csv')


table_name = 'Anos_de_vida_saludable_a_los_65_anos' 

df.to_sql(table_name, con=engine, if_exists='replace', index=False)

2023-12-01 15:12:27,636 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-01 15:12:27,637 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 15:12:27,642 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-01 15:12:27,642 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 15:12:27,646 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-01 15:12:27,647 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 15:12:27,647 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-01 15:12:27,653 INFO sqlalchemy.engine.Engine DESCRIBE `vitalstatses`.`Anos_de_vida_saludable_a_los_65_anos`
2023-12-01 15:12:27,655 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 15:12:27,662 INFO sqlalchemy.engine.Engine
CREATE TABLE `Anos_de_vida_saludable_a_los_65_anos` (
	id BIGINT,
	`Region` TEXT,
	`Año` BIGINT,
	`Hombre` FLOAT(53),
	`Mujer` FLOAT(53),
	`Total` FLOAT(53)
)


2023-12-01 15:12:27,663 INFO sqlalchemy.engine.Engine [no key 0.00153s] {}
2023-12-01 15:12:27,697 INFO sqlalchemy.engine.Engine INSERT INTO `Anos_de_vida_saludable_a_los_65_anos` (id, `Region`, `Año`, `Hombre`, `Mujer`, `Total`) VALUES (%(id)s, %(Region)s, %(Año)s, %(Hombre)s, %(Mujer)s, %(Total)s)
2023-12-01 15:12:27,697 INFO sqlalchemy.engine.Engine [generated in 0.00213s] [{'id': 1, 'Region': 'España (ES)', 'Año': 2019, 'Hombre': 17.83, 'Mujer': 20.23, 'Total': 19.09}, {'id': 2, 'Region': 'Andalucía (AN)', 'Año': 2019, 'Hombre': 17.42, 'Mujer': 18.81, 'Total': 18.17}, {'id': 3, 'Region': 'Aragón (AR)', 'Año': 2019, 'Hombre': 18.08, 'Mujer': 20.31, 'Total': 19.44}, {'id': 4, 'Region': 'Asturias, Principado de (AS)', 'Año': 2019, 'Hombre': 16.84, 'Mujer': 20.1, 'Total': 18.58}, {'id': 5, 'Region': 'Balears, Illes (IB)', 'Año': 2019, 'Hombre': 19.47, 'Mujer': 19.58, 'Total': 19.42}, {'id': 6, 'Region': 'Canarias (CN)', 'Año': 2019, 'Hombre': 18.68, 'Mujer': 19.24, 'Total': 18.86}, {'id': 7, 'Region': 'Cantabria (CB)', 'Año': 2019, 'Hombre': 16.88, 'Mujer': 19.55, 'Total': 18.3}, {'id': 8, 'Region': 'Castilla y León (CL)', 'Año': 2019, 'Hombre': 18.14, 'Mujer': 22.1, 'Total': 20.12}  ... displaying 10 of 100 total bound parameter sets ...  {'id': 19, 'Region': 'Ceuta (CE)', 'Año': 2021, 'Hombre': 13.68, 'Mujer': 12.85, 'Total': 13.16}, {'id': 20, 'Region': 'Melilla (ML)', 'Año': 2021, 'Hombre': 13.68, 'Mujer': 12.85, 'Total': 13.16}]
2023-12-01 15:12:27,708 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `vitalstatses`
2023-12-01 15:12:27,708 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 15:12:27,709 INFO sqlalchemy.engine.Engine COMMIT

100

In [33]:
import pandas as pd
from sqlalchemy import create_engine, text

# Crear la conexión a la base de datos

key = open('password.txt','r').read()

conexion = mysql.connector.connect(user='root', password= key, host='localhost')
 
cursor = conexion.cursor()

cursor.execute('CREATE DATABASE IF NOT EXISTS VitalStatsES')

df = pd.read_csv('../data/id.csv')

engine = create_engine(f'mysql+mysqlconnector://root:{key}@localhost:3306/VitalStatsES', echo=True) # añado esto detras para indicarle donde sube las tablas

table_name = 'id' 

df.to_sql(table_name, con=engine, if_exists='append', index=False)

with engine.connect() as con:
    con.execute(text(f'ALTER TABLE `{table_name}` ADD PRIMARY KEY (`id`)')) 
    
    
    
    # ***************************************************************************          ESTO FUNCIONA ¡¡¡               ***************************************************************************
    
# OTRA TABLA PERO CON FOREIGN:

table_name = 'Anos_de_vida_saludable_a_los_65_anos' 

df = pd.read_csv('../data/Anos_de_vida_saludable_a_los_65_anos.csv')

df.to_sql(table_name, con=engine, if_exists='append', index=False)

with engine.connect() as con:
    con.execute(text(f'ALTER TABLE `{table_name}` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)'))

2023-12-01 16:13:41,924 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-01 16:13:41,925 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 16:13:41,926 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-01 16:13:41,928 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 16:13:41,930 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-01 16:13:41,931 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 16:13:41,932 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-01 16:13:41,934 INFO sqlalchemy.engine.Engine DESCRIBE `vitalstatses`.`id`
2023-12-01 16:13:41,934 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 16:13:41,937 INFO sqlalchemy.engine.Engine
CREATE TABLE id (
	`Region` TEXT,
	id BIGINT
)


2023-12-01 16:13:41,937 INFO sqlalchemy.engine.Engine [no key 0.00107s] {}
2023-12-01 16:13:41,954 INFO sqlalchemy.engine.Engine INSERT INTO id (`Region`, id) VALUES (%(Region)s, %(id)s)
2023-12-01 16:13:41,954 INFO sqlalchemy.engine.Engine [generated in 0.00136s] [{'Region': 'España (ES)', 'id': 1}, {'Region': 'Andalucía (AN)', 'id': 2}, {'Region': 'Aragón (AR)', 'id': 3}, {'Region': 'Asturias, Principado de (AS)', 'id': 4}, {'Region': 'Balears, Illes (IB)', 'id': 5}, {'Region': 'Canarias (CN)', 'id': 6}, {'Region': 'Cantabria (CB)', 'id': 7}, {'Region': 'Castilla y León (CL)', 'id': 8}  ... displaying 10 of 20 total bound parameter sets ...  {'Region': 'Ceuta (CE)', 'id': 19}, {'Region': 'Melilla (ML)', 'id': 20}]
2023-12-01 16:13:41,958 INFO sqlalchemy.engine.Engine COMMIT
2023-12-01 16:13:41,961 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-01 16:13:41,961 INFO sqlalchemy.engine.Engine ALTER TABLE `id` ADD PRIMARY KEY (`id`)
2023-12-01 16:13:41,963 INFO sqlalchemy.engine.Engine [generated in 0.00222s] {}
2023-12-01 16:13:41,994 INFO sqlalchemy.engine.Engine ROLLBACK
2023-12-01 16:13:41,998 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-01 16:13:42,002 INFO sqlalchemy.engine.Engine DESCRIBE `vitalstatses`.`Anos_de_vida_saludable_a_los_65_anos`
2023-12-01 16:13:42,002 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 16:13:42,006 INFO sqlalchemy.engine.Engine
CREATE TABLE `Anos_de_vida_saludable_a_los_65_anos` (
	id BIGINT,
	`Region` TEXT,
	`Año` BIGINT,
	`Hombre` FLOAT(53),
	`Mujer` FLOAT(53),
	`Total` FLOAT(53)
)


2023-12-01 16:13:42,007 INFO sqlalchemy.engine.Engine [no key 0.00163s] {}
2023-12-01 16:13:42,022 INFO sqlalchemy.engine.Engine INSERT INTO `Anos_de_vida_saludable_a_los_65_anos` (id, `Region`, `Año`, `Hombre`, `Mujer`, `Total`) VALUES (%(id)s, %(Region)s, %(Año)s, %(Hombre)s, %(Mujer)s, %(Total)s)
2023-12-01 16:13:42,022 INFO sqlalchemy.engine.Engine [generated in 0.00205s] [{'id': 1, 'Region': 'España (ES)', 'Año': 2019, 'Hombre': 17.83, 'Mujer': 20.23, 'Total': 19.09}, {'id': 2, 'Region': 'Andalucía (AN)', 'Año': 2019, 'Hombre': 17.42, 'Mujer': 18.81, 'Total': 18.17}, {'id': 3, 'Region': 'Aragón (AR)', 'Año': 2019, 'Hombre': 18.08, 'Mujer': 20.31, 'Total': 19.44}, {'id': 4, 'Region': 'Asturias, Principado de (AS)', 'Año': 2019, 'Hombre': 16.84, 'Mujer': 20.1, 'Total': 18.58}, {'id': 5, 'Region': 'Balears, Illes (IB)', 'Año': 2019, 'Hombre': 19.47, 'Mujer': 19.58, 'Total': 19.42}, {'id': 6, 'Region': 'Canarias (CN)', 'Año': 2019, 'Hombre': 18.68, 'Mujer': 19.24, 'Total': 18.86}, {'id': 7, 'Region': 'Cantabria (CB)', 'Año': 2019, 'Hombre': 16.88, 'Mujer': 19.55, 'Total': 18.3}, {'id': 8, 'Region': 'Castilla y León (CL)', 'Año': 2019, 'Hombre': 18.14, 'Mujer': 22.1, 'Total': 20.12}  ... displaying 10 of 100 total bound parameter sets ...  {'id': 19, 'Region': 'Ceuta (CE)', 'Año': 2021, 'Hombre': 13.68, 'Mujer': 12.85, 'Total': 13.16}, {'id': 20, 'Region': 'Melilla (ML)', 'Año': 2021, 'Hombre': 13.68, 'Mujer': 12.85, 'Total': 13.16}]
2023-12-01 16:13:42,028 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `vitalstatses`
2023-12-01 16:13:42,028 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-01 16:13:42,032 INFO sqlalchemy.engine.Engine COMMIT
2023-12-01 16:13:42,037 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-01 16:13:42,038 INFO sqlalchemy.engine.Engine ALTER TABLE `Anos_de_vida_saludable_a_los_65_anos` ADD FOREIGN KEY (`id`) REFERENCES `id`(`id`)
2023-12-01 16:13:42,039 INFO sqlalchemy.engine.Engine [generated in 0.00229s] {}
2023-12-01 16:13:42,070 INFO sqlalchemy.engine.Engine ROLLBACK